<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE>%%%SITE_TITLE%%% : Picture Uploaded!</TITLE>
</HEAD>
<BODY BGCOLOR="#FFFFFF">
<center>
  <a href="%%%UPLOAD_URL%%%"><font face="Verdana,Arial,Helvetica" size=2><b>Post 
  Another Picture!</b></font></a><br>
  <br>
  <table border="0" cellspacing=0 cellpadding=0 bgcolor="#000000" width="600">
    <tr>
      <td> 
        <table border="0" cellspacing=1 cellpadding=0 width="100%">
          <tr bgcolor="#eeeeee"> 
            <td align=center nowrap valign=bottom background="%%%IFIMAGES%%%/topback.gif"> 
              <table border=0 cellspacing=0 cellpadding=0 width="100%">
                <tr> 
                  <td align=center><img src="%%%IFIMAGES%%%/topimage.gif" alt="" border=0 hspace=0 vspace=0></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr bgcolor="#000000">
            <td> 
              <table border="0" width="100%" cellspacing=0 cellpadding=4>
                <tr>
                  <td><font face="Arial,Helvetica" size="+1" color="#FFCC00"><b>Picture 
                    Uploaded, Thanks!</b></font></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr bgcolor="#eeeeee">
            <td> 
              <table border=1 cellspacing=6 cellpadding=6 width="100%" bgcolor="#ffffff">
                <tr>
                  <td><font face="Verdana,Arial,Helvetica" size=2>Thanks for the 
                    post! Your image and thumbnail have been saved to the %%%CATEGORY%%% 
                    category. You can see the results by <a href="%%%IF_URL%%%?direct=%%%CATEGORY%%%" target="_blank">clicking 
                    here</a>. Feel free to <a href="%%%UPLOAD_URL%%%">post another 
                    picture!</a></font><br>
                  </td>
                </tr>
              </table>
              <br>
              <table border=0 cellspacing=0 cellpadding=6 width="100%">
                <tr>
                  <td align=center><img src="%%%IMAGE%%%" border=0><br>
                    <br>
                    <img src="%%%THUMBNAIL%%%" border=0></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr bgcolor="#eeeeee"> 
            <td align=center valign=bottom background="%%%IFIMAGES%%%/botback.gif"> 
              <table border=0 cellspacing=0 cellpadding=0 width="100%">
                <tr> 
                  <td width=1><img src="%%%IFIMAGES%%%/left.gif" alt="" border=0 hspace=0 vspace=0></td>
                  <td align=center width="100%"><a href="http://www.imagefolio.com" target="_blank"><img src="%%%IFIMAGES%%%/folio.gif" alt="Powered by ImageFolio" border=0 hspace=0 vspace=0></a></td>
                  <td align=right width=1><img src="%%%IFIMAGES%%%/right.gif" alt="" border=0 hspace=0 vspace=0></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</center>
</BODY>
</HTML>
