A:link, A:visited, A:active, A:hover { 
}
A:link  { 
  color: #CCCCCC; 
}
A:visited { 
  color: #AAAAAA;
}
A:active {
  color: white;
}
A:HOVER { 
  color: #FFFFFF; 
  background-color: #222222;
}
.onbody{
  color: #EEEEFF; 
}
.onbody A:LINK {
  color: #CCCCCC;
}
.onbody A:VISITED {
  color: #AAAAAA;
}
.onbody A:ACTIVE {
  color: white;
}
BODY,P,TABLE,TD,TR {   
  font-size:   10pt;
  font-family: verdana,arial,sans-serif;
  color: #CCCCCC;
}
FORM {
  display: inline;
  margin-bottom: 0;
}
BODY {
  background-image: url(/w3timages/background.gif);
}
PRE {
  font-size:   9pt;
  font-family: courier;
}
.tablesurround {
  background: #000066;
}
.tableborders {
  background: #333333;
}
.tdheader {
  font-size:   11pt;
  font-weight: bold;
  color:       #dddddd;
  background:  #000000;
  font-family: arial;
}
.menubar{
  background: black;
  color: #333355;
}
.navigation{
  background: black;
  color: #333355;
  font-size:   8pt;
  font-family: helvetica,arial;
}
.post:FIRST-LINE {
}
.post:FIRST-LETTER {
}
.new {
  font-size: 7pt;
  color:     yellow;
}
.catandforum {
  font-size: 8pt;
}
.posttime {
  font-size: 8pt;
  font-style: oblique;
  text-align: center;
  background: #000044;
}
.threadtotal {
  font-size: 8pt;
  background: #000044;
}
.posttotal {
  font-size: 8pt;
  background: #000033;
  color: #CCCCCC;
}
.modcolumn {
  font-size: 8pt;
  background: #000033;
  color: #CCCCCC;
}
.small {
  font-size:   8pt;
  font-family: helvetica,arial;
}
.standouttext {
  color: white;
}
.pollcolor {
  background: white;
}
.welcome {
  background: #000022;
  font-family: Times new roman;
  color: #EECCEE;
}
.forumtitle {
}
.forumdescript {
  font-size: 8pt;
}
.lighttable {
  background: #000044;
  color: #CCCCCC;
}
.darktable {
  background: #000033;
  color: #CCCCCC;
}
.cleartable {
  background: #000033;
}
.alternatetable {
  background: #000000;
}
.subjecttable {
  background: #111133;
  color: #CCCCCC;
}
.footertable {
  background: #000033;
}
.formboxes{
  font-family: geneva, arial, sans-serif;
  background-color: #000033;
  color: #DDDDDD;
  font-size: 8pt;
}
.buttons {
  font-family: geneva, arial, sans-serif;
  background-color: #000033;
  color: #DDDDDD;
  font-size: 8pt;
}
blockquote {
	font-size:9pt; border:1px solid #000033; 
	margin:0px 20px; padding:0px 10px
}
blockquote .small {
	background:#000033; 
	margin-left:-10px; padding:1px 2px
} 
blockquote hr {
	visibility:hidden; 
	height:1px
}
blockquote br {
	font-size:1px
}
