			<tr>
				
  <td width="20%" align="center" background="images/cat1.jpg"><input type="checkbox" name="armourid[]" value="$row[id]"></td>
				
  <td width="20%" align="center" background="images/cat1.jpg"><img src="../images/inv/_$row[armourname].gif"></td>
				
  <td width="40%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>$row[armourname]</b></font></td>
				
  <td width="20%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>$row[money]</b></font></td>
			</tr>