<html>

	<head>
		<meta http-equiv="content-type" content="text/html;charset=iso-8859-1">
		$headinclude
	</head>

	<body background="images/bg.jpg" aLink="white" vLink="white" link="white">
		<form method="post" action="admin.php">
		<input type="hidden" name="send" value="send">
		<input type="hidden" name="action" value="$action">
		<table cellpadding=4 cellspacing=1 width="95%" bgcolor="#000000" align="center">
			<tr>
				<td colspan=2 height="30" background="images/cellpic2.jpg"><font size=2 color="white" face="Tahoma"><b>» Options <font color="red" size=1>$error</font></b></font></td>
			</tr>
			<tr>
				<td colspan=2 background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>» General Settings</b></font></td>
			</tr>
			<tr>
				<td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Site Name: <font color="red">*</font></b></font></td>
				<td width="50%" background="images/cat1.jpg"><input class="input" name="rpgname" value="$rpgname2" maxLength="50"></td>
			</tr>
			<tr>
				<td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>From address of emails sent to members: <font color="red">*</font></b></font></td>
				<td width="50%" background="images/cat1.jpg"><input class="input" name="masteremail" value="$masteremail2" maxLength="70"></td>
			</tr>
			<tr>
				<td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Url of file directory: <font color="red">*</font></b></font></td>
				<td width="50%" background="images/cat1.jpg"><input class="input" name="path" value="$path2" maxLength="200"></td>
			</tr>
			<tr>
				<td colspan=2 align="center" background="images/cat1.jpg"><input type="submit" value="Send" class="inputbtn"> <input type="reset" value="Reset" class="inputbtn"></td>
			</tr>
			</table></form>
	</body>
</html>