<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>RPG Admin control panel!</title>
</head>

<frameset framespacing="0" border="2" frameborder="no" rows="50,*">
  <frame name="Banner" scrolling="no" noresize src="admin.php?action=top$session" marginwidth="0" marginheight="0">
  <frameset cols="183,*" border="2" frameborder="no" framespacing="0">
    <frame name="menue" marginwidth="0" marginheight="0" scrolling="auto" noresize src="admin.php?action=menu$session">
    <frame name="main" src="admin.php?action=welcome$session" scrolling="auto" frameborder="yes">
  </frameset>
  <noframes>
  <body>

  <p>This site uses frames, but your browser doesn't, please update your browser.</p>

  </body>
  </noframes>
</frameset>

</html>