<html>

<head>
<meta http-equiv="Content-Language" content="de">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Control Panel</title>
</head>

<body text="#FFFFFF" aLink="#FFFFFF" vLink="#FFFFFF" link="#FFFFFF" background="images/bg.jpg">
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" id="AutoNumber1">
  <tr>
    <td width="50%"><a href="admin.php?action=welcome$session" target="main"><img border="0" src="images/logo.jpg" width="659" height="84"></a></td>
    <td width="50%">
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" id="AutoNumber2" height="42">
      <tr>
        <td width="100%" height="23">
            <p align="right"><b><font size="1" face="Tahoma">RPG Release Version 
              1 <br>
              </font></b>
          </td>
      </tr>
    </table>
    </td>
  </tr>
</table>
</body>
</html>