<html>

	<head>
		<meta http-equiv="content-type" content="text/html;charset=iso-8859-1"></head><body background="images/bg.jpg" aLink="white" vLink="white" link="white">
		$headinclude
	

	
		<form method="post" action="admin.php">
		<input type="hidden" name="send" value="send">
		<input type="hidden" name="action" value="$action">
		<table cellpadding=4 cellspacing=1 width="95%" bgcolor="#000000" align="center">
			<tr>
				
      <td colspan=2 height="30" background="images/cellpic2.jpg"><font size=2 color="white" face="Tahoma"><b>» 
        Levels <font color="red" size=1>$error</font></b></font></td>
			</tr>
			<tr>
				
      <td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Level 
        1 </b></font></td>
				<td width="50%" background="images/cat1.jpg">
        <input class="input" name="level1" value="$level1" maxLength="50">
      </td>
			</tr>
			<tr>
				
      <td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Level2</b></font></td>
				<td width="50%" background="images/cat1.jpg">
        <input class="input" name="level2" value="$level2" maxLength="70">
      </td>
			</tr>
			<tr>
				
      <td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Level 
        3</b></font></td>
				<td width="50%" background="images/cat1.jpg">
        <input class="input" name="level3" value="$level3" maxLength="200">
      </td>
			</tr>
			<tr>
				
      <td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Level 
        4 </b></font></td>
				<td width="50%" background="images/cat1.jpg">
        <input class="input" name="level4" value="$level4" maxLength="200">
      </td>
			</tr>
			<tr>
				
      <td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Level 
        5 </b></font></td>
				<td width="50%" background="images/cat1.jpg">
        <input class="input" name="level5" value="$level5" maxLength="200">
      </td>
			</tr>
			<tr>
				
      <td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Level 
        6 </b></font></td>
				<td width="50%" background="images/cat1.jpg">
        <input class="input" name="level6" value="$level6" maxLength="200">
      </td>
			</tr>
			<tr>
				
      <td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Level 
        7 </b></font></td>
				<td width="50%" background="images/cat1.jpg">
        <input class="input" name="level7" value="$level7" maxLength="200">
      </td>
			</tr>
			<tr>
				
      <td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Level 
        8</b></font></td>
				<td width="50%" background="images/cat1.jpg">
        <input class="input" name="level8" value="$level8" maxLength="200">
      </td>
			</tr>
			<tr>
				
      <td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Level 
        9</b></font></td>
				<td width="50%" background="images/cat1.jpg">
        <input class="input" name="level9" value="$level9" maxLength="200">
      </td>
			</tr>
			<tr>
				
      <td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Level 
        10 </b></font></td>
				<td width="50%" background="images/cat1.jpg">
        <input class="input" name="level10" value="$level10" maxLength="200">
      </td>
			</tr>
			<tr>
				
      <td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Level 
        11 </b></font></td>
				<td width="50%" background="images/cat1.jpg">
        <input class="input" name="level11" value="$level11" maxLength="200">
      </td>
			</tr>
			<tr>
				
      <td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Level 
        12 </b></font></td>
				<td width="50%" background="images/cat1.jpg">
        <input class="input" name="level12" value="$level12" maxLength="200">
      </td>
			</tr>
			<tr>
				
      <td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Level 
        13 </b></font></td>
				<td width="50%" background="images/cat1.jpg">
        <input class="input" name="level13" value="$level13" maxLength="200">
      </td>
			</tr>
			<tr>
				
      <td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Level 
        14 </b></font></td>
				<td width="50%" background="images/cat1.jpg">
        <input class="input" name="level14" value="$level14" maxLength="200">
      </td>
			</tr>
			<tr>
				
      <td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Level 
        15 </b></font></td>
				<td width="50%" background="images/cat1.jpg">
        <input class="input" name="level15" value="$level15" maxLength="200">
      </td>
			</tr>
			<tr>
				
      <td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Level 
        16 </b></font></td>
				<td width="50%" background="images/cat1.jpg">
        <input class="input" name="level16" value="$level16" maxLength="200">
      </td>
			</tr>
			<tr>
				
      <td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Level 
        17 </b></font></td>
				<td width="50%" background="images/cat1.jpg">
        <input class="input" name="level17" value="$level17" maxLength="200">
      </td>
			</tr>
			<tr>
				
      <td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Level 
        18 </b></font></td>
				<td width="50%" background="images/cat1.jpg">
        <input class="input" name="level18" value="$level18" maxLength="200">
      </td>
			</tr>
			<tr>
				
      <td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Level 
        19 </b></font></td>
				<td width="50%" background="images/cat1.jpg">
        <input class="input" name="level19" value="$level19" maxLength="200">
      </td>
			</tr>
			<tr>
				
      <td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Level 
        20</b></font></td>
				<td width="50%" background="images/cat1.jpg">
        <input class="input" name="level20" value="$level20" maxLength="200">
      </td>
			</tr>
			<tr>
				
      <td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Level 
        21 </b></font></td>
				<td width="50%" background="images/cat1.jpg">
        <input class="input" name="level21" value="$level21" maxLength="200">
      </td>
			</tr>
			<tr>
				
      <td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Level 
        22 </b></font></td>
				<td width="50%" background="images/cat1.jpg">
        <input class="input" name="level22" value="$level22" maxLength="200">
      </td>
			</tr>
			<tr>
				
      <td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Level 
        23 </b></font></td>
				<td width="50%" background="images/cat1.jpg">
        <input class="input" name="level23" value="$level23" maxLength="200">
      </td>
			</tr>
			<tr>
				
      <td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Level 
        24 </b></font></td>
				<td width="50%" background="images/cat1.jpg">
        <input class="input" name="level24" value="$level24" maxLength="200">
      </td>
			</tr>
			<tr>
				
      <td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Level 
        25 </b></font></td>
				<td width="50%" background="images/cat1.jpg">
        <input class="input" name="level25" value="$level25" maxLength="200">
      </td>
			</tr>
			<tr>
				
      <td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Level 
        26 </b></font></td>
				<td width="50%" background="images/cat1.jpg">
        <input class="input" name="level26" value="$level26" maxLength="200">
      </td>
			</tr>
			<tr>
				
      <td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Level 
        27 </b></font></td>
				<td width="50%" background="images/cat1.jpg">
        <input class="input" name="level27" value="$level27" maxLength="200">
      </td>
			</tr>
			<tr>
				
      <td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Level 
        28 </b></font></td>
				<td width="50%" background="images/cat1.jpg">
        <input class="input" name="level28" value="$level28" maxLength="200">
      </td>
			</tr>
			<tr>
				
      <td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Level 
        29 </b></font></td>
				<td width="50%" background="images/cat1.jpg">
        <input class="input" name="level29" value="$level29" maxLength="200">
      </td>
			</tr>
			<tr>
				
      <td width="50%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>Level 
        30</b></font></td>
				<td width="50%" background="images/cat1.jpg">
        <input class="input" name="level30" value="$level30" maxLength="200">
      </td>
			</tr>
			<tr>
				<td colspan=2 align="center" background="images/cat1.jpg"><input type="submit" value="Send" class="inputbtn"> <input type="reset" value="Reset" class="inputbtn"></td>
			</tr>
			</table></form>
	</body>
</html>