<html>

	<head>
		<meta http-equiv="content-type" content="text/html;charset=iso-8859-1">
		<title>Menu</title>
	</head>

	
<body bgcolor="#314477" aLink="#FFFFFF" vLink="#FFFFFF" link="#FFFFFF" text="#FFFFFF" background="images/bg.jpg">
<div align="center"><BR>
    
  <table cellpadding=1 cellspacing=2 width="157" style="border-collapse: collapse" bordercolor="#000000" border="0" height="295" bgcolor="#000000">
    <tr> 
        <td height="38" width="157" background="images/cellpic.gif"> 
          <p style="margin-top: 0; margin-bottom: 0" align="center"> <font size=1 face="Tahoma"> 
            <font color="#999999" size="4">Administration</font></font></p>
        </td>
      </tr>
	  <tr> 
        <td height="30" align="center" background="images/cellpic2.jpg" width="157"> 
          
        <p style="margin-top: 0; margin-bottom: 0"> <font size=2 face="Tahoma" color="#314477"><b><font color="#000000">Announcements</font></b></font>
      </td>
      </tr>
	  <tr> 
      <td width="157" background="images/cat1.jpg"> 
        <p style="margin-top: 0; margin-bottom: 0"> <font size="1" face="Tahoma" color="#000000">»</font><font size=1 face="Tahoma"> 
          <a href="admin.php?action=announcements_add" target="main"><font color="#000000">Add 
          a message</font></a></font></p>
          </td>
      </tr>
	  <tr> 
        <td height="10" width="157" background="images/cat1.jpg"> 
          
        <p style="margin-top: 0; margin-bottom: 0"> <font size=1 face="Tahoma"><a href="admin.php?action=announcements_del$session" target="main"> 
          <font color="#000000">» Delete Announcement</font></a></font></p>
        </td>
      </tr>
      <tr> 
        <td height="30" align="center" background="images/cellpic2.jpg" width="157"> 
          
        <p style="margin-top: 0; margin-bottom: 0"> <font size=2 face="Tahoma" color="#314477"><b><font color="#000000">Shop</font></b></font> 
      </td>
      </tr>
	  	  <tr> 
        <td height="10" width="157" background="images/cat1.jpg"> 
          
        <p style="margin-top: 0; margin-bottom: 0"> <font size=1 face="Tahoma"><a href="admin.php?action=special_deal_add$session" target="main"> 
          <font color="#000000">» Add a deal</font></a></font></p>
        </td>
      </tr>
	  	  <tr> 
        <td height="10" width="157" background="images/cat1.jpg"> 
          
        <p style="margin-top: 0; margin-bottom: 0"> <font size=1 face="Tahoma"><a href="admin.php?action=special_deal_del$session" target="main"> 
          <font color="#000000">» Delete a deal</font></a></font></p>
        </td>
      </tr>
	  <tr> 
        <td height="30" align="center" background="images/cellpic2.jpg" width="157"> 
          <p style="margin-top: 0; margin-bottom: 0"> <font size=2 face="Tahoma" color="#314477"><b><font color="#000000">General 
            options</font></b></font> 
        </td>
      </tr>
      <tr> 
        
      <td width="157" background="images/cat1.jpg"> 
        <p style="margin-top: 0; margin-bottom: 0"> <font size="1" face="Tahoma" color="#000000">»</font><font size=1 face="Tahoma"> 
          <a href="admin.php?action=config" target="main"><font color="#000000">Configuration</font></a></font></p>
          </td>
      </tr>
	  <tr> 
        
      <td width="157" background="images/cat1.jpg"> 
        <p style="margin-top: 0; margin-bottom: 0"> <font size="1" face="Tahoma" color="#000000">»</font><font size=1 face="Tahoma"> 
          <a href="admin.php?action=levels" target="main"><font color="#000000">Levels</font></a></font></p>
          </td>
      </tr>
      <tr> 
        <td height="30" align="center" bgcolor="#FFFFFF" width="157" background="images/cellpic2.jpg"> 
          <p style="margin-top: 0; margin-bottom: 0"> <font size=2 face="Tahoma" color="#314477"><b><font color="#000000">RPG 
            Inventory Shop</font></b></font> 
        </td>
      </tr>
      <tr> 
        <td height="10" width="157" background="images/cat1.jpg"> 
          <p style="margin-top: 0; margin-bottom: 0"> <font size=1 face="Tahoma"><a href="admin.php?action=swords_add$session" target="main"> 
            <font color="#000000">» Add Swords</font></a></font></p>
        </td>
      </tr>
      <tr> 
        <td height="10" width="157" background="images/cat1.jpg"> 
          <p style="margin-top: 0; margin-bottom: 0"> <font size=1 face="Tahoma"><a href="admin.php?action=swords_del$session" target="main"> 
            <font color="#000000">» Delete Swords</font></a></font></p>
        </td>
      </tr>
      <tr> 
        <td height="10" width="157" background="images/cat1.jpg"> 
          <p style="margin-top: 0; margin-bottom: 0"> <font size=1 face="Tahoma"><a href="admin.php?action=shields_add$session" target="main"> 
            <font color="#000000">» Add Shields</font></a></font></p>
        </td>
      </tr>
      <tr> 
        <td height="10" width="157" background="images/cat1.jpg"> 
          <p style="margin-top: 0; margin-bottom: 0"> <font size=1 face="Tahoma"><a href="admin.php?action=shields_del$session" target="main"> 
            <font color="#000000">» Delete Shields</font></a></font></p>
        </td>
      </tr>
      <tr> 
        <td height="10" width="157" background="images/cat1.jpg"> 
          <p style="margin-top: 0; margin-bottom: 0"> <font size=1 face="Tahoma"><a href="admin.php?action=armor_add$session" target="main"> 
            <font color="#000000">» Add Armor</font></a></font></p>
        </td>
      </tr>
      <tr> 
        <td height="10" width="157" background="images/cat1.jpg"> 
          <p style="margin-top: 0; margin-bottom: 0"> <font size=1 face="Tahoma"><a href="admin.php?action=armor_del$session" target="main"> 
            <font color="#000000">» Delete Armor</font></a></font></p>
        </td>
      </tr>
      <tr> 
        <td height="10" width="157" background="images/cat1.jpg"> 
          <p style="margin-top: 0; margin-bottom: 0"> <font size=1 face="Tahoma"><a href="admin.php?action=helmet_add$session" target="main"> 
            <font color="#000000">» Add Helmet</font></a></font></p>
        </td>
      </tr>
      <tr> 
        <td height="10" width="157" background="images/cat1.jpg"> 
          <p style="margin-top: 0; margin-bottom: 0"> <font size=1 face="Tahoma"><a href="admin.php?action=helmet_del$session" target="main"> 
            <font color="#000000">» Delete Helmet</font></a></font></p>
        </td>
      </tr>
      <tr> 
        <td height="10" width="157" background="images/cat1.jpg"> 
          <p style="margin-top: 0; margin-bottom: 0"> <font size=1 face="Tahoma"><a href="admin.php?action=boots_add$session" target="main"> 
            <font color="#000000">» Add Boots</font></a></font></p>
        </td>
      </tr>
      <tr> 
        <td height="10" width="157" background="images/cat1.jpg"> 
          <p style="margin-top: 0; margin-bottom: 0"> <font size=1 face="Tahoma"><a href="admin.php?action=boots_del$session" target="main"> 
            <font color="#000000">» Delete Boots</font></a></font></p>
        </td>
      </tr>
      <tr> 
        <td height="10" width="157" background="images/cat1.jpg"> 
          <p style="margin-top: 0; margin-bottom: 0"> <font size=1 face="Tahoma"><a href="admin.php?action=gloves_add$session" target="main"> 
            <font color="#000000">» Add Gloves</font></a></font></p>
        </td>
      </tr>
      <tr> 
        <td height="10" width="157" background="images/cat1.jpg"> 
          <p style="margin-top: 0; margin-bottom: 0"> <font size=1 face="Tahoma"><a href="admin.php?action=gloves_del$session" target="main"> 
            <font color="#000000">» Delete Gloves</font></a></font></p>
        </td>
      </tr>
      <tr> 
        <td height="10" width="157" background="images/cat1.jpg"> 
          <p style="margin-top: 0; margin-bottom: 0"> <font size=1 face="Tahoma"><a href="admin.php?action=smallitem_add$session" target="main"> 
            <font color="#000000">» Add Small Item</font></a></font></p>
        </td>
      </tr>
      <tr> 
        <td height="10" width="157" background="images/cat1.jpg"> 
          <p style="margin-top: 0; margin-bottom: 0"> <font size=1 face="Tahoma"><a href="admin.php?action=smallitem_del$session" target="main"> 
            <font color="#000000">» Delete Small Item</font></a></font></p>
        </td>
      </tr>
      <tr> 
        <td height="10" width="157" background="images/cat1.jpg"> 
          <p style="margin-top: 0; margin-bottom: 0"> <font size=1 face="Tahoma"><a href="admin.php?action=specialitem_add$session" target="main"> 
            <font color="#000000">» Add Special Item</font></a></font></p>
        </td>
      </tr>
      <tr> 
        <td height="10" width="157" background="images/cat1.jpg"> 
          <p style="margin-top: 0; margin-bottom: 0"> <font size=1 face="Tahoma"><a href="admin.php?action=specialitem_del$session" target="main"> 
            <font color="#000000">» Delete Special Item</font></a></font></p>
        </td>
      </tr>
    </table>
        </div>
	</body>
</html>