<tr>
   <td width="20%" align="center" background="images/cat1.jpg"><input type="checkbox" name="id[]" value="$row[id]"></td>
   <td width="20%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>$row[dealname]</b></font></td>
   <td width="40%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>$row[dealdescription]</b></font></td>
   <td width="20%" background="images/cat1.jpg"><font size=1 color="black" face="Tahoma"><b>$row[amount]</b></font></td>
</tr>