<html>

	<head>
		<meta http-equiv="content-type" content="text/html;charset=iso-8859-1"></head>
<body aLink="#0000FF" vLink="#0000FF" link="#0000FF" background="images/bg.jpg">
$headinclude 
<table width="100%" height="50%" align="center">
			<tr valign="middle">
				<td>
      <table cellpadding=1 cellspacing=2 width="95%" align="center" bgcolor="#000000">
        <tr>
						
          <td background="images/cellpic.gif" height="38"><font size=1 color="black" face="Tahoma"><b><font color="#FFFFFF" size="4">» 
            Welcome</font></b></font></td>
					</tr>
					<tr>
						
          <td bgcolor="#FFFFFF" background="images/cat1.jpg" height="23"><font size=1 color="black" face="Tahoma"><b>Welcome 
            to your admin control caneter!</b></font></td>
					</tr>
					<tr bgcolor="#9CBBD1">
						
          <td bgcolor="#9CBBD1" height="30" background="images/cellpic2.jpg"><font size=1 color="black" face="Tahoma"><b>» 
            Statistics</b></font></td>
					</tr>
					<tr bgcolor="#FFFFFF">
						
          <td background="images/cat1.jpg" bgcolor="#FFFFFF"><font size=1 color="black" face="Tahoma">No 
            info is available yet...</font></td>
					</tr>
				</table></td>
			</tr>
		</table>
	</body>

</html>