A {TEXT-DECORATION: none; color:#ffffoo}
.bodytext {  font-family: Tahoma; font-size: 11px; font-style: normal; color: #000000}
.bodytextblue {  font-family: Tahoma; font-size: 11px; font-style: normal; color: #0000ff}
.headerred {  font-family: Tahoma; font-size: 13px; font-weight:bold; font-style: normal; color: #ff0000}
.button {  font-family: Tahoma; font-size: 11px; font-weight:bold; background :#240048; border-color:009966; font-style: normal; color: #ffcc00}
.hrstyle{color:009966}
