<HTML>
<HEAD>
<TITLE>TTS Application Confirmed</TITLE>
</HEAD>
<BODY bgcolor=#ffffff>
<CENTER><H1>TTS Application Confirmed</H1><HR>
<TABLE>
<TR>
<TD COLSPAN=2>Your order has been processed and a new account created for your site.</TD>
</TR>
<TR>
  <TD>Your Account number:</TD>
  <TD ALIGN=RIGHT>#ACCOUNT#</TD>
</TR>
<TR><TH COLSPAN=2>Please write it down!<BR><HR><CENTER><B>Your submission details:</B></CENTER></TD></TR>
<TR><TD>Your Name</TD><TD>#NAME#</TD></TR>
<TR><TD>Your Email Address</TD><TD>#EMAIL#</TD></TR>
<TR><TD>Your Site's URL</TD><TD>#SITEURL#</TD></TR>
<TR><TD>Your Site's Title</TD><TD>#TITLE#</TD></TR>
<TR><TD>Your Site's Slogan</TD><TD>#SLOGAN#</TD></TR>
<TR><TD>Your Site's Banner URL</TD><TD>#BANNERURL#</TD></TR>
<TR><TD>Your Site's Sample Image URL</TD><TD>#SAMPLEURL#</TD></TR>
<TR><TD>Your Site's Category</TD><TD>#CATEGORY#</TD></TR>
<TR><TD COLSPAN=2><HR><A HREF="#MEMBERURL#">Click Here</A> if you need to change any of the above. <B>DO NOT USE YOUR BACK BUTTON!</B>
Resubmitting will create a second account!</TD></TR>
</TABLE>
Here's what your site entry may look like in the list:
<TABLE cellspacing=1 cellpadding=6 bgcolor=#990000>
<TR><TH colspan=4 bgcolor=#990000><FONT SIZE="6" color=#ffff00 face="Arial, Helvetica, MS Sans Serif"><FONT SIZE=+2>Top 5 Sites</FONT></FONT></TH></TR>
<TR>
<TH width=40 bgcolor=#990000><FONT SIZE="3" COLOR="#ffff00" FACE="Arial, Helvetica, MS Sans Serif">Rank</FONT></TH>
<TH width=500 bgcolor=#990000><FONT SIZE="3" COLOR="#ffff00" FACE="Arial, Helvetica, MS Sans Serif">Host</FONT></TH>
<TH width=40 bgcolor=#990000><FONT SIZE="3" COLOR="#ffff00" FACE="Arial, Helvetica, MS Sans Serif">In</FONT></TH>
<TH width=40 bgcolor=#990000><FONT SIZE="3" COLOR="#ffff00" FACE="Arial, Helvetica, MS Sans Serif">Out</FONT></TH>
</TR>
<TR>
<TD align=center BGCOLOR=#000000 width=40><FONT SIZE="4" COLOR="#ffffff" FACE="Arial, Helvetica, MS Sans Serif"><B>1</B></FONT></TD>
<TD align=center width=500 bgcolor=#000000><A HREF="/tts-cgi/tts-out.cgi?#ACCOUNT#">
<CENTER><IMG SRC="#BANNERURL#" BORDER=0 ALT="#TITLE#"></CENTER>
<FONT SIZE="4" FACE="Arial, Helvetica, MS Sans Serif">#TITLE#</FONT></A>
<FONT SIZE="4" COLOR="#ffffff" FACE="Arial, Helvetica, MS Sans Serif">#SLOGAN#</FONT><BR>
<FONT SIZE="4" COLOR="#ffffff" FACE="Arial, Helvetica, MS Sans Serif">
[ Click here for a <B>FREE SAMPLE!</B> ]</FONT>
</TD>
<TD align=center BGCOLOR=#000000 width=40><FONT SIZE="4" COLOR="#ffffff" FACE="Arial, Helvetica, MS Sans Serif"><B>6372</B></FONT></TD>
<TD align=center BGCOLOR=#000000 width=40><FONT SIZE="4" COLOR="#ffffff" FACE="Arial, Helvetica, MS Sans Serif"><B>5834</B></FONT></TD>
</TR>
</TABLE>
<HR><H1>How to Attach to the TTS List</H1></CENTER>
Put the following link on your site:<P>
<FONT SIZE=4 FACE="Arial,MS Sans Serif,Helvetica"><A
HREF="#INURL#?#ACCOUNT#">&lt;A
HREF="#INURL#?#ACCOUNT#"&gt;Link Text Here&lt;/A&gt;</A></FONT>
</BODY>
</HTML>

