<HTML>
<HEAD>
<TITLE>#SITENAME# Top Links Sites List</TITLE>
</HEAD>
<BODY bgcolor=#000000 text=#FFFFFF link=#FFFF00 alink=#ffff00 vlink=#ffff00>
<CENTER><FONT SIZE=+6 COLOR=#FF0080>#SITENAME# Top Links Sites List</FONT><BR>
<HR>

<FONT SIZE=5 FACE='Ariel,Helvetica,MS Sans Serif'>List Members, <B><A HREF="/tts-cgi/tts-member.cgi">Click
Here</A></B> To Update Your Account</FONT><BR><FONT SIZE=2>This list is updated #PERIOD#. Last update #DATE#.</FONT></CENTER>

<BR>
<!-- TTS width=600 border=1 from=1 to=5 shownulls=yes showbanner=yes caption='Top 5 Sites' ranksize=5 category=links --><P>
<!-- TTS width=600 border=1 from=6 to=10 shownulls=yes caption='Runners up (6-10)' category=links --><P>

<TABLE>
<TR><TH>Categories</TH></TR>
<TR><TD>
  <TABLE WIDTH=100% BORDER=3><TR>
    <TD><A HREF="/tts/hardcore.html">Hardcore</A></TD>
    <TD><A HREF="/tts/lesbian.html">Lesbian</A></TD>
    <TD><A HREF="/tts/fetish.html">Fetish</A></TD>
  </TR></TABLE>
</TD></TR>
<TR><TD>
  <TABLE WIDTH=100% BORDER=3><TR>
    <TD><A HREF="/tts/gay.html">Gay</A></TD>
    <TD><A HREF="/tts/teen.html">Teen</A></TD>
    <TD><A HREF="/tts/asian.html">Asian</A></TD>
    <TD><A HREF="/tts/links.html">Links</A></TD>
  </TR></TABLE>
</TD></TR>
</TABLE>

<!-- TTS width=600 border=1 from=11 to=25 shownulls=yes caption='The Pack (11-25)' ranksize=3 titlesize=3 slogansize=2
datasize=2 category=links --><P>
<!-- TTS width=600 border=1 from=26 to=50 shownulls=yes ranksize=2 datasize=2 slogansize=2 titlesize=2 category=links --><P>

<CENTER>#SITENAME# now uses the<BR>
<A HREF="/tts-cgi/tts-out.cgi?970815-0"><IMG
SRC="/tts-images/tts-btn.gif" BORDER=0 WIDTH=88 HEIGHT=31></A><BR>
for list services.<br>Click to find out more!
</CENTER>

</BODY>
</HTML>
