<HTML>
<HEAD>
<TITLE>Sample Image for #Title#</TITLE>
</HEAD>
<BODY BGCOLOR=#D0D0D0>
<CENTER><H1>Free Sample Image for #Title#<HR></H1>
<TABLE BORDER=5><TR><TD><A HREF="/tts-cgi/tts-out.cgi?#RecordName#"><IMG SRC="#SAMPLEURL#" BORDER=0></A><BR><CENTER>
<FONT SIZE=-2>Click on the image to visit #Title#</FONT></CENTER></TR></TD>
</TABLE>
<A HREF="/tts/tts-list.html">Click Here</A> to return to the list<P>
#SITENAME# now uses the<BR>
<A HREF="/tts-cgi/tts-out.cgi?970815-0"><IMG
SRC="/tts-images/tts-btn.gif" BORDER=0 WIDTH=88 HEIGHT=31></A><BR>
for list services.<br>Click to find out more!
</CENTER>
</BODY>
</HTML>

