<html>

<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1">
<link rel="stylesheet" href="css/main.css">
</head>
<body>
 <form method="post" action="database.php">
 <input type="hidden" name="sid" value="$session[hash]">
 <input type="hidden" name="send" value="send">
 <input type="hidden" name="action" value="backup">
  <table cellpadding=4 cellspacing=1 width="100%" class="tblborder" align="center">
   <tr class="tblhead">
    <td colspan=2>Backup Database</td>
   </tr>
   <tr class="tblsection">
    <td colspan=2><table cellpadding=0 cellspacing=0 width="100%" class="tblsection">
     <tr>
      <td width="50%" align="center">Tabellen</td>
      <td width="50%" align="center">Optionen</td>
     </tr>
    </table></td>
   </tr>
   <tr class="firstrow">
    <td width="50%" align="center">
     <select size="11" name="tables[]" multiple>
      $table_options
     </select>
    </td>
    <td width="50%" valign="top">
    <b>Exportart:</b><br>
    <input type="radio" name="structure" value="1" CHECKED> Structure and Data<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="drop_table" value="1">Add "DROP TABLE"<br>
    <input type="radio" name="structure" value="0"> Data Only<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="delete_all" value="1"> Add "DELETE ALL" (not with commandline)<br>
    <b>Speichern:</b><br>
    <input type="radio" name="download" value="0"> On the server<br>
    <input type="radio" name="download" value="1" CHECKED> As a file for download<br>
    <input type="radio" name="download" value="2"> via commandline<br>
    <input type="checkbox" name="use_gz" value="1"> Activate GZip Compression<br>
    
    </td>
   </tr>
   <tr class="secondrow"">
    <td colspan=2 align="right"><input type="submit" value="Start Backup >>"></td>
   </tr>
  </table>
 </form>
</body>
</html>