<html>

<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1">
<link rel="stylesheet" href="css/other.css">
<script type="text/javascript" language="javascript">
<!--
 function add(mode,id,title) {
  alert('test');
 }
//-->
</script>
</head>

<body>
<table border="0" cellpadding="1" cellspacing="0" width="100%">
<tr>
 <td><b>User:</b></td>
 <td width="100%"><a href="javascript:parent.storage.show();"><img src="images/jump.gif" border=0 alt="Edit Selected Users"></a></td>
 <td align="right"><a href="misc.php?action=sync&sid=$session[hash]" target="main"><img src="images/storage_show.gif" border=0 alt="View Stored Users"></a>&nbsp;&nbsp;<a href="javascript:parent.storage.del();"><img src="images/storage_delsel.gif" border=0 alt="Delete Selected Users from Storage"></a>&nbsp;&nbsp;<a href="javascript:parent.storage.selall(true);"><img src="images/storage_selall.gif" border=0 alt="Select All Users"></a>&nbsp;&nbsp;<a href="javascript:parent.storage.selall(false);"><img src="images/storage_unselall.gif" border=0 alt="Unselect All Users"></a>&nbsp;&nbsp;</td>
</tr>
</table>
</body>
</html>