<html>

<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1">
<link rel="stylesheet" href="css/storage.css">
</head>

<body><form name="sform"><select name="storage" multiple size=8 style="width:270px"></select></form></body>

<script type="text/javascript" language="javascript">
<!--
 var storage = document.sform.storage;

 function isinstorage(id) {
  for(i=0;i<storage.length;i++) {
   if(storage.options[i].value==id) return true;
  }
  return false;
 }


 function add(mode,id,title) {
  if(!isinstorage(id)) {
   count=storage.length;
   newoption = new Option(id);
   storage.options[count] = newoption;
   storage.options[count].text=title;
   storage.options[count].value=id;
   storage.options[count].selected=true;
  }
 }
 
 function selall(status) {
  for(i=0;i<storage.length;i++) {
   storage.options[i].selected=status;
  }
 }
 
 function del() {
  for(i=0;i<storage.length;i++) {
   if(storage.options[i].selected) {
    storage.options[i] = null;
    i--;
   }
  }
 }
 
 function show() {
  for(i=0;i<storage.length;i++) {
   if(storage.options[i].selected) {
    parent.main.location.href='users.php?userid='+storage.options[i].value+'&action=edit&sid=$session[hash]';
    break;
   }
  }
 }
 

//-->
</script>

</html>