<tr class="firstrow">
    <td width="70%">
     <select size="20" name="templateid[]" style="width:95%" multiple>
	 $template_options				
	</select>
    </td>
    <td width="30%" valign="top" style="text-align:justify"><p>&nbsp;</p>
    <p>On the left, you can select the template(s) you wish to export.</p>
    <p>(Hold the "Ctrl/Shift" key and click to select multiple templates.)</p>
    <p><a href="javascript:select_all(true);">Select All Templates</a></p>
    <p><a href="javascript:select_all(false);">Unselect All Templates</a></p>
    </td>
   </tr>