<html>

<head>
<meta http-equiv="content-type" content="text/html;charset=iso-8859-1">
<link rel="stylesheet" href="css/main.css">
</head>

<body>

<form method="post" action="template.php">
<input type="hidden" name="send" value="send">
<input type="hidden" name="action" value="$action">
<input type="hidden" name="sid" value="$session[hash]">
 <table cellpadding=4 cellspacing=1 border=0 class="tblborder" width="100%" align="center">
  <tr class="tblhead">
   <td colspan=2>Add Templates Pack</td>
  </tr>
  <tr class="firstrow">
   <td><b>Templates Pack Name:</b></td>
   <td><input type="text" name="templatepackname" value="" maxlength=100></td>
  </tr>
  <tr class="secondrow">
   <td><b>Templates Folder:</b><br>Enter the folder in which the templates should be stored.
   It cannot be the same folder as another templates pack.
   This information is only needed when you want to export the templates or if you want the templates to be stored in flat-files.</td>
   <td><input type="text" name="templatefolder" value="" maxlength=250></td>
  </tr>
  <tr class="firstrow">
   <td colspan=2 align="center"><input type="submit" value="Submit"> <input type="reset" value="Reset"></td>
  </tr>
 </table>
</form>
</body>
</html>