<html>

<head>
<meta http-equiv="content-type" content="text/html;charset=iso-8859-1">
<link rel="stylesheet" href="css/main.css">
</head>

<body>

<form method="post" action="users.php">
<input type="hidden" name="sid" value="$session[hash]">
<input type="hidden" name="action" value="showstats">
<input type="hidden" name="userids" value="$userids">
 <table cellpadding=4 cellspacing=1 border=0 class="tblborder" width="100%" align="center">
  <tr class="tblhead">
   <td colspan=2>Show User-Statistics</td>
  </tr>
  <tr class="firstrow">
   <td colspan=2>$users</td>
  </tr>
  <tr class="tblsection">
   <td colspan=2>Options</td>
  </tr>
  <tr class="firstrow">
   <td>Type of Statistics</td>
   <td><select name="type">
    <option value="1">Threads</option>
    <option value="2">Posts</option>
    <option value="3">Private Messages sent</option>
    <option value="4">Private Messages received</option>
   </select></td>
  </tr>
  <tr class="secondrow">
   <td>Statistics from</td>
   <td><select name="from_day">$from_day</select> <select name="from_month">$from_month</select> <select name="from_year">$from_year</select></td>
  </tr>
  <tr class="firstrow">
   <td>To</td>
   <td><select name="to_day">$to_day</select> <select name="to_month">$to_month</select> <select name="to_year">$to_year</select></td>
  </tr>
  <tr class="secondrow">
   <td>Time Order</td>
   <td><select name="timeorder">
    <option value="1">Daily</option>
    <option value="2">Weekly</option>
    <option value="3">Monthly</option>
   </select></td>
  </tr>
  <tr class="firstrow">
   <td>Sort Order</td>
   <td><select name="sortorder">
    <option value="asc">Ascending</option>
    <option value="desc">Descending</option>
   <select></td>
  </tr>
  <tr class="tblsection">
   <td colspan=2 align="center"><input type="submit" value="Show Statistics"></td>
  </tr>
 </table>
</form>
</body>
</html>