<html>

<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1">
<link rel="stylesheet" href="css/main.css">
</head>

<body>

<form method="post" action="users.php">
<input type="hidden" name="send" value="send">
<input type="hidden" name="action" value="rate">
<input type="hidden" name="userid" value="$userid">
<input type="hidden" name="sid" value="$session[hash]">
 <table cellpadding=4 cellspacing=1 border=0 class="tblborder" width="100%" align="center">
  <tr class="tblhead">
   <td colspan=2>Reset Ratings</td>
  </tr>
  <tr>
   <td class="firstrow">Are you sure you want to reset the user ratings?</td>
   <td class="secondrow"><input type="submit" value="Yes"> <input type="button" value="No" onclick="history.back();"></td>
  </tr>
 </table>
</form>
</body>
</html>