<html>

<head>
<meta http-equiv="content-type" content="text/html;charset=iso-8859-1">
<link rel="stylesheet" href="css/main.css">
<script language="javascript">
  <!--
  function select_all(status) {
   for (i=0;i<document.bbform.length;i++) {
    if(document.bbform.elements[i].name=="wordids[]") document.bbform.elements[i].checked = status;    
   }
  }
  //-->
 </script>
</head>

<body>
<form method="post" action="otherstuff.php" name="bbform">
<input type="hidden" name="sid" value="$session[hash]">
 <table cellpadding=4 cellspacing=1 border=0 class="tblborder" width="100%" align="center">
  <tr class="tblhead">
   <td colspan=3>Search Words Analysis</td>
  </tr>
  <tr class="tblsection" align="center">
   <td><input type="checkbox" onclick="select_all(this.checked)"></td>
   <td align="left">Word</td>
   <td nowrap>Number of Links</td>
  </tr>
  $wordbit
 </table>
 <table>
  <tr>
   <td><select name="action">
    <option value="wordmatch">Choose action:</option>
    <option value="wordmatch2">Add/Remove from Forbidden Search Words List</option>
   </select> <input type="submit" value="Submit"></td>
  </tr>
 </table>
</form>
</body>
</html>