    <table border="0" cellspacing="1" cellpadding="5">
      <tr align="center"> 
        <td colspan="2"> 
          
      <h3><font size="3" color="#6699CC">Edit Low-level Account</font></h3>
      
    </td>
      </tr>
      <tr align="center"> 
        
    <td colspan="2">
      <table border="0" cellspacing="1" cellpadding="5">
        <tr bgcolor="#FFF3E8"> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Login:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="llalogin" size="40" maxlength="255" value="<#login#>">
          </td>
        </tr>
        <tr bgcolor="#FFF3E8"> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Password:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="llapw" size="40" maxlength="255" value="<#pw#>">
          </td>
        </tr>
        <tr bgcolor="#d9d9d9"> 
          <td valign="middle" align="left" colspan="2"><#rights#></td>
        </tr>
        <tr> 
          <td valign="middle" align="left"> 
            <input type="submit" name="add" value="Update">
            <input type="hidden" name="cmd" value="1101">
			<input type="hidden" name="aid" value="<#id#>">
          </td>
          <td valign="top">&nbsp;</td>
        </tr>
      </table>
    </td>
      </tr>
    </table>

