    <table border="0" cellspacing="1" cellpadding="5">
      <tr align="center"> 
        <td colspan="2"> 
          
      <h3><font size="3" color="#6699CC">View/Change Account Balance Value of 
        &laquo;<#member#>&raquo;</font></h3>
      
    </td>
      </tr>
      <tr align="center"> 
        
    <td colspan="2">
		<table border="0" cellspacing="1" cellpadding="5" 	>
			<tr>
				
          <td bgcolor="#d9d9d9"><b>Current balance value:</b></td>
				<td align="right" bgcolor="#eeeeee" onmouseover="this.style.backgroundColor='#6699cc'" onmouseout="this.style.backgroundColor='#eeeeee'">
				<input type="text" name="balance" value="<#balance#>" size="10" maxlength="20"></td>
			</tr>
        <tr bgcolor="#d9d9d9"> 
          <td colspan="2"> 
            <input type="submit" name="qqq" value="Change Balance Value">
            <input type="hidden" name="cmd" value="601">
			<input type="hidden" name="mid" value="<#member_id#>">
          </td>
        </tr>
      </table>
    </td>
      </tr>
    </table>

