    <table border="0" cellspacing="1" cellpadding="5">
      <tr align="center"> 
        <td colspan="2"> 
          
      <h3><font size="3" color="#6699CC">Send E-Mail to Member &laquo; <#member#> 
        &raquo;</font></h3>
      
    </td>
      </tr>
      <tr align="center"> 
    <td colspan="2">
      <table width="100%" border="0" cellspacing="1" cellpadding="5">
        <tr> 
          <td bgcolor="#d9d9d9"><b>Subject:</b></td>
	      <td bgcolor="#eeeeee">
<input type="text" name="subject" size="84" maxlength="255"></td>
        </tr>
        <tr> 
          <td bgcolor="#d9d9d9" valign="top"><b>Text:</b></td>
	      <td bgcolor="#eeeeee"> 
            <textarea name="body" cols="65" rows="20">


-----------------------------------------
<#adminemail#>
</textarea></td>
        </tr>
        <tr> 
          <td colspan="6" height="28"> 
			<input type="submit" name="qwe" value="Send">
			<input type="Reset" value="Cancel" onclick="history.back()">
			<input type="hidden" name="id" value="<#id#>">
            <input type="hidden" name="cmd" value="600">
          </td>
        </tr>
      </table>
    </td>
      </tr>
    </table>

