    <table border="0" cellspacing="1" cellpadding="5">
      <tr align="center"> 
        <td colspan="2"> 
          
      <h3><font size="3" color="#6699CC">Main Page</font></h3>
      
    </td>
      </tr>
      <tr align="center"> 
        
    <td colspan="2">
      <table border="0" cellspacing="1" cellpadding="5" width="500">
        <tr>
				
          <td bgcolor="#CCE8FF" width="250"><b>Number of all members:</b></td>
				<td align="right" bgcolor="#eeeeee" onmouseover="this.style.backgroundColor='#d9d9d9'" onmouseout="this.style.backgroundColor='#eeeeee'"><#allmembers#></td>
			</tr>
			<tr>
				
          <td bgcolor="#CCE8FF"><b>Number of blocked members:</b></td>
				<td align="right" bgcolor="#eeeeee" onmouseover="this.style.backgroundColor='#d9d9d9'" onmouseout="this.style.backgroundColor='#eeeeee'"><#blockedmembers#></td>
			</tr>
			<tr>
				
          <td bgcolor="#FFD7D8"><b>Number of all clicks:</b></td>
				<td align="right" bgcolor="#eeeeee" onmouseover="this.style.backgroundColor='#d9d9d9'" onmouseout="this.style.backgroundColor='#eeeeee'"><#clicks#></td>
			</tr>
			<tr>
				
          <td bgcolor="#FFD7D8"><b>Number of banners clicks:</b></td>
				<td align="right" bgcolor="#eeeeee" onmouseover="this.style.backgroundColor='#d9d9d9'" onmouseout="this.style.backgroundColor='#eeeeee'"><#bclicks#></td>
			</tr>
			<tr>
				
          <td bgcolor="#FFD7D8"><b>Today banners clicks:</b></td>
				<td align="right" bgcolor="#eeeeee" onmouseover="this.style.backgroundColor='#d9d9d9'" onmouseout="this.style.backgroundColor='#eeeeee'"><#tbclicks#></td>
			</tr>
			<tr>
				
          <td bgcolor="#FFD7D8"><b>Today clicks:</b></td>
				<td align="right" bgcolor="#eeeeee" onmouseover="this.style.backgroundColor='#d9d9d9'" onmouseout="this.style.backgroundColor='#eeeeee'"><#todayclicks#></td>
			</tr>
			<tr>
				
          <td bgcolor="#FFD7D8"><b>Average clicks per day:</b></td>
				<td align="right" bgcolor="#eeeeee" onmouseover="this.style.backgroundColor='#d9d9d9'" onmouseout="this.style.backgroundColor='#eeeeee'"><#clicksperday#></td>
			</tr>
			<tr>
				
          <td bgcolor="#FFD7D8"><b>Number of banners shown:</b></td>
				<td align="right" bgcolor="#eeeeee" onmouseover="this.style.backgroundColor='#d9d9d9'" onmouseout="this.style.backgroundColor='#eeeeee'"><#banners#></td>
			</tr>
			<tr>
				<td bgcolor="#Dff0df"><b>Total money collected, <#currency#>:</b></td>
				<td align="right" bgcolor="#eeeeee" onmouseover="this.style.backgroundColor='#d9d9d9'" onmouseout="this.style.backgroundColor='#eeeeee'"><#money#></td>
			</tr>
			<tr>
				<td bgcolor="#Dff0df"><b>Today money collected, <#currency#>:</b></td>
				<td align="right" bgcolor="#eeeeee" onmouseover="this.style.backgroundColor='#d9d9d9'" onmouseout="this.style.backgroundColor='#eeeeee'"><#todaymoney#></td>
			</tr>
			<tr>
				<td bgcolor="#Dff0df"><b>Average money per day, <#currency#>:</b></td>
				<td align="right" bgcolor="#eeeeee" onmouseover="this.style.backgroundColor='#d9d9d9'" onmouseout="this.style.backgroundColor='#eeeeee'"><#moneyperday#></td>
			</tr>
		</table>
    </td>
      </tr>
    </table>

