    <table border="0" cellspacing="1" cellpadding="5">
      <tr align="center"> 
        <td colspan="2"> 
          
      <h3><font size="3" color="#6699CC">Affiliates</font></h3>
      
    </td>
      </tr>
      <tr align="center"> 
        
    <td colspan="2">
      <table width="100%" border="0" cellspacing="1" cellpadding="5">
        <tr bgcolor="#EEEEEE"> 
          <td><b>Member</b></td>
          <td><b>Searches</b></td>
          <td><b>Clicks</b></td>
          <td><b>Cost</b></td>
        </tr>
        <#affiliates#> 
        <tr> 
          <td colspan="6" height="28"> 
            <input type="submit" name="Submit" value="Delete Selected" onclick="return confirm('Are You sure want to delete selected categories?')">
            <input type="hidden" name="cmd" value="2">
          </td>
        </tr>
      </table>
    </td>
      </tr>
    </table>

