    <table border="0" cellspacing="1" cellpadding="5">
      <tr align="center"> 
        <td colspan="2"> 
      <a href="<#action#>?menu=600&id=<#member_id#>">Send a e-mail to this member</a> | <a href="<#action#>?menu=601&id=<#member_id#>">View/Change member balance</a>
      <h3><font size="3" color="#6699CC">Members Profile:</font></h3>
      
    </td>
      </tr>
      <tr align="center"> 
        
    <td colspan="2">
      <table border="0" cellspacing="1" cellpadding="5">
        <tr> 
          <td valign="middle" align="left">
            <input type="submit" name="update2" value="Update">
            <input type="reset" name="Reset" value="Reset">
          </td>
          <td valign="top">&nbsp;</td>
        </tr>
        <tr> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Name:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="name" size="40" maxlength="255" value="<#name#>">
          </td>
        </tr>
        <tr> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Company:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="company" size="40" maxlength="255" value="<#company#>">
          </td>
        </tr>
        <tr> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">E-Mail:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="email" size="40" maxlength="255" value="<#email#>">
          </td>
        </tr>
        <tr> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Street:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="street" size="40" maxlength="255" value="<#street#>">
          </td>
        </tr>
        <tr> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">City:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="city" size="40" maxlength="255" value="<#city#>">
          </td>
        </tr>
        <tr> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">State/Province:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="state" size="40" maxlength="255" value="<#state#>">
          </td>
        </tr>
        <tr> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Zip:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="zip" size="40" maxlength="255" value="<#zip#>">
          </td>
        </tr>
        <tr> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Country:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="country" size="40" maxlength="255" value="<#country#>">
          </td>
        </tr>
        <tr> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Phone:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="phone" size="40" maxlength="255" value="<#phone#>">
          </td>
        </tr>
        <tr bgcolor="#eeeeee"> 
          <td valign="middle" align="left" colspan="2">&nbsp; </td>
        </tr>

        <tr> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Logo:</td>
          <td valign="top" bgcolor="#eeeeee"> Change logo: 
            <input type="file" name="logo">
            <br>
            <br>
				<#logo#>
          </td>
        </tr>

        <tr> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Site title:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="title" size="40" maxlength="255" value="<#title#>">
          </td>
        </tr>
        <tr> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Site Description:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <textarea name="descr" cols="36" rows="7"><#descr#></textarea>
          </td>
        </tr>
        <tr> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Site URL:</td>
          <td valign="top" bgcolor="#eeeeee"> http:// 
            <input type="text" name="url" size="40" maxlength="255" value="<#url#>">
          </td>
        </tr>
        <tr> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Category:</td>
          <td valign="top" bgcolor="#eeeeee"><#categories#></td>
        </tr>
        <tr> 
          <td valign="middle" align="left" colspan="2"><font color="#FF0000"><b><#error#></b></font></td>
        </tr>
        <tr> 
          <td valign="middle" align="left"> 
            <input type="submit" name="update" value="Update">
            <input type="reset" name="Reset" value="Reset">
            <input type="hidden" name="cmd" value="6">
            <input type="hidden" name="member_id" value="<#member_id#>">
          </td>
          <td valign="top">&nbsp;</td>
        </tr>
      </table>
    </td>
      </tr>
    </table>

