   <table border="0" cellspacing="1" cellpadding="5">
     <tr align="center"> 
       <td colspan="2">
      <h3><font color="#6699CC" size="3">Listings Statistics page: Full statistics</font></h3>
		<a href="<#action#>?menu=4">All Searches</a> | <a href="<#action#>?menu=4&stype=1">Monthly Searches</a> | <a href="<#action#>?menu=4&stype=2">Daily Searches</a> | <a href="<#action#>?menu=4&stype=3">Top Searches</a> | <a href="<#action#>?menu=4&stype=4">Top Bids</a>
    </td>
      </tr>
    <tr align="center">
    <td colspan="2">
      <table width="100%" border="0" cellspacing="1" cellpadding="5">
        <tr bgcolor="#d9d9d9"> 
          <td><a href="<#action#>?menu=4&page=<#page#>&d=<#d#>&sort=0&stype=<#stype#>">Keyword(s)</a></td>
          <td><a href="<#action#>?menu=4&page=<#page#>&d=<#d#>&sort=1&stype=<#stype#>">Searches</a></td>
          <td><a href="<#action#>?menu=4&page=<#page#>&d=<#d#>&sort=2&stype=<#stype#>">Matches</a></td>
          <td><b>Clicks</b></td>
          <td><b>Money collected, <#currency#></b></td>
        </tr>
        <#stats#> 
        </table></tr>
      </table>
    
      
    

