    <table border="0" cellspacing="1" cellpadding="5">
      <tr align="center"> 
        <td colspan="2"> 
          
      <h3><font size="3" color="#6699CC">Add new Category</font></h3>
      
    </td>
      </tr>
      <tr align="center"> 
        
    <td colspan="2">
      <table border="0" cellspacing="1" cellpadding="5">
        <tr bgcolor="#eeeeee"> 
          <td valign="middle" align="left">Category name:</td>
          <td valign="top"> 
            <input type="text" name="cname" size="40" maxlength="255">
          </td>
        </tr>
        <tr bgcolor="#eeeeee"> 
          <td valign="middle" align="left">Select Parent Category:</td>
          <td valign="top"> <#categories#> </td>
        </tr>
        <tr> 
          <td valign="middle" align="left"> 
            <input type="submit" name="add" value="Add">
            <input type="hidden" name="cmd" value="1">
          </td>
          <td valign="top">&nbsp;</td>
        </tr>
      </table>
    </td>
      </tr>
    </table>

