   <table border="0" cellspacing="1" cellpadding="5">
     <tr align="center"> 
       <td colspan="2">
      <h3><font color="#6699CC" size="3">Statistics page: Top <#topnum#> Bids</font></h3>
				<a href="<#action#>?menu=4">All Searches</a> | <a href="<#action#>?menu=4&stype=1">Monthly Searches</a> | <a href="<#action#>?menu=4&stype=2">Daily Searches</a> | <a href="<#action#>?menu=4&stype=3">Top Searches</a> | <a href="<#action#>?menu=4&stype=4">Top Bids</a>
    </td>
      </tr>
    <tr align="center">
    <td colspan="2">
      <table width="100%" border="0" cellspacing="1" cellpadding="5">
        <tr bgcolor="#d9d9d9"> 
          <td><b>Bid</b></td>
          <td><b>Term</b></td>
          <td><b>Member</b></td>
        </tr>
        <#tops#> 
        </table></tr>
      </table>
    
      
    

