<tr bgcolor="#eeeeee" onmouseover="this.style.backgroundColor='#6699cc'" onmouseout="this.style.backgroundColor='#eeeeee'"> 
          <td valign="top"><#pos#></td>
          <td valign="top"><#name#><br><#listings#></td>
          <td valign="top"><#site#></td>
          <td valign="top"><#categ#></td>
          <td valign="top"><#terms#></td>
          <td valign="top"><#balance#></td>
          <td valign="top"><#clicks#></td>
          <td valign="top"><input type="checkbox" name="member<#id#>" value="<#id#>"></td>
</tr>