                  <td> 
                    <table border="0" cellspacing="0" cellpadding="3">
                      <tr> 
                        <td><img src="images/folder.gif" width="20" height="16"></td>
                        <td><a href="<#categorylink#>" class="category"><#category#></a></td>
                      </tr>
                      <tr> 
                        <td>&nbsp;</td>
                        <td>
								<#subcategories#>
								</td>
                      </tr>
                    </table>
                  </td>