		
<table width="100%" border="0" cellspacing="1" cellpadding="4">
  <tr> 
    <td rowspan="3" align="center" valign="top" width="20%" bgcolor="#d9d9d9"><#logo#></td>
            
    <td valign="top" class="brownheader" bgcolor="#d9d9d9"><#counter#>. <#title#></td>
          </tr>
          <tr bgcolor="#FdEddf"> 
            
    <td valign="top" height="20" bgcolor="#d9d9d9"><#summary#><br>
      <i><#link#></i></td>
          </tr>
          <tr bgcolor="#FdEddf"> 
            
    <td valign="top" class="brownheader" bgcolor="#d9d9d9">Category: <#category#></td>
          </tr>
        </table>
      