<html>
<head>
<title>PPC Search Engine</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="css/asppc_styles.css" type="text/css">
</head>

<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<form name="searchform" method="get" action="<#action#>">
  <table width="770" class="tborder" cellspacing="1" cellpadding="3" border="1">
    <tr bgcolor="#6699cc"> 
      <td valign="bottom"> <br>
        <table border="1" cellspacing="0" cellpadding="3">
          <tr> 
            <td class="tdheader">Enter search query:</td>
            <td>&nbsp;</td>
          </tr>
          <tr> 
            <td> 
              <input type="text" name="ss" size="30" maxlength="255">
            </td>
            <td> 
              <input type="submit" name="search" value="Search">
            </td>
          </tr>
          <tr> 
            <td colspan="2" class="tdlight"><a href="#" onclick="window.open('__searchtips.html','SearchTips','width=530, height=350'); return false;" class="searchmenu">search 
              tips</a> | <a href="#" class="searchmenu">members registration</a> 
              | <a href="#" class="searchmenu">members login</a></td>
          </tr>
        </table>
      </td>
      <td valign="bottom"><img src="images/main_title.gif" width="360" height="70"></td>
    </tr>
    <tr bgcolor="#FCE4CF" align="center"> 
      <td colspan="2" class="blackheader"><#banner2#></td>
    </tr>
    <tr bgcolor="#FCE4CF"> 
      <td colspan="2" class="blackheader"> 
        <table width="100%" border="1" cellspacing="0" cellpadding="0">
          <tr> 
            <td class="linedelim" colspan="2">&nbsp;</td>
          </tr> 
          <tr> 
            <td class="emptydelim" colspan="2">&nbsp;</td>
          </tr>
			<tr> 
            <td width="30%"> 
              <table border="0" cellspacing="0" cellpadding="0">
                <tr> 
                  <td valign="middle"><img src="images/marker.gif" width="15" height="15"></td>
                  <td class="blackheader" valign="middle">Search settings</td>
                </tr>
              </table>
            </td>
            <td> 
              <table border="0" cellspacing="0" cellpadding="0">
                <tr> 
                  <td valign="middle"><img src="images/marker.gif" width="15" height="15"></td>
                  <td class="blackheader" valign="middle">Browsing category « 
                    » </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr> 
            <td class="emptydelim" colspan="2">&nbsp;</td>
          </tr>
          <tr> 
            <td class="linedelim" colspan="2">&nbsp;</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr bgcolor="#FCE4CF" align="center"> 
      <td colspan="2" class="blackheader"> 
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr valign="top"> 
            <td width="30%"> 
              <table border="0" cellspacing="1" cellpadding="4">
                <tr> 
                  <td class="brownheader"><b>Results per page:</b></td>
                  <td> 
                    <select name="ipp">
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="30">30</option>
                      <option value="40">40</option>
                      <option value="50">50</option>
                    </select>
                  </td>
                </tr>
                <tr> 
                  <td class="brownheader"><b>Hide summary:</b></td>
                  <td> 
                    <input type="checkbox" name="hidesummary" value="1">
                  </td>
                </tr>
                <tr> 
                  <td class="brownheader" colspan="2"> 
                    <input type="submit" name="changesettings" value="Change Settings">
                  </td>
                </tr>
              </table>
            </td>
            <td>
              <table width="100%" border="0" cellspacing="0" cellpadding="3">
                <tr valign="top"> 
                  <td width="1%"><b>1.</b></td>
                  <td><a href="#">Microsoft bCentral</a> <br>
                    Give your business what it needs, with Web-based services 
                    that fit your business and your budget. <br>
                    <i><a href="#" class="sr">http://www.linkexchange.com/</a></i> </td>
                </tr>
                <tr valign="top"> 
                  <td><b>2.</b></td>
                  <td> <a href="#">http://www.microsoft.com/ie/logo.asp</a> <br>
                    The Internet Explorer page you are looking for has moved to 
                    www.microsoft.com/windows/ie/download/windows.htm.br Please 
                    update your Favorites. <br>
                    <i><a href="#" class="sr">http://www.microsoft.com/ie/logo.asp</a></i></td>
                </tr>
              </table>
              <br>
              <b>Pages:</b> <a href="#">Previous</a> <a href="#">1</a> 2 <a href="#">3</a> 
              <a href="#">4</a> <a href="#">5</a> <a href="#">Next</a></td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td class="emptydelim" colspan="3">&nbsp;</td>
          </tr>
          <tr> 
            <td class="linedelim" colspan="3">&nbsp;</td>
          </tr>
        </table>
        <#banner1#> </td>
    </tr>
  </table>
  <br>
<table width="750" border="0" cellspacing="0" cellpadding="0">
  <tr>
      <td align="right"><b><i>Powered by <a href="http://www.ettica.com">Ettica.com</a> © 2001, 2002</i></b></td>
  </tr>
</table>
</form>
</body>
</html>
