    <table border="0" cellspacing="1" cellpadding="5">
      <tr align="center"> 
        <td colspan="2"> 
          
      <h3><font color="#6699CC" size="3">Add new Term</font></h3>
      
    </td>
      </tr>
      <tr align="center"> 
        
    <td colspan="2">
      <table border="0" cellspacing="1" cellpadding="5">
        <tr bgcolor="#FCE4CF"> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Term:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="term" size="40" maxlength="255" value="<#term#>">
          </td>
        </tr>
        <tr bgcolor="#FCE4CF"> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Title:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="title" size="40" maxlength="255" value="<#title#>">
          </td>
        </tr>
        <tr bgcolor="#FCE4CF"> 
          <td valign="top" align="left" bgcolor="#d9d9d9">Description:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <textarea name="descr" cols="36" rows="7"><#descr#></textarea>
          </td>
        </tr>
        <tr bgcolor="#FCE4CF"> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Link URL:</td>
          <td valign="top" bgcolor="#eeeeee"> http:// 
            <input type="text" name="url" size="40" maxlength="255" value="<#url#>">
          </td>
        </tr>
        <tr bgcolor="#FCE4CF"> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Upload logo:</td>
          <td valign="top" bgcolor="#eeeeee">
<input type="file" name="logo" size="34" maxlength="255">
          </td>
        </tr>
        <tr bgcolor="#FCE4CF">
          <td valign="middle" align="left" bgcolor="#d9d9d9">Bid, <#currency#>:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="bid" size="7" maxlength="7" value="<#bid#>">
          </td>
        </tr>
        <tr> 
          <td valign="middle" align="left" colspan="2"><font color="#FF0000"><b><#error#></b></font></td>
        </tr>
        <tr> 
          <td valign="middle" align="left"> 
            <input type="submit" name="add" value="Add">
            <input type="hidden" name="cmd" value="2">
          </td>
          <td valign="top">&nbsp;</td>
        </tr>
      </table>
    </td>
      </tr>
    </table>

