    <table border="0" cellspacing="1" cellpadding="5">
      <tr align="center"> 
        <td colspan="2"> 
          
      <h3><font size="3" color="#6699CC">Edit Banner</font></h3>
      
    </td>
      </tr>
      <tr align="center"> 
        
    <td colspan="2">
      <table border="0" cellspacing="1" cellpadding="5">
        <tr bgcolor="#eeeeee"> 
          <td valign="top" align="center" colspan="2"> <#banner#> </td>
        </tr>
        <tr bgcolor="#FFF3E8"> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Upload New Banner:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="file" name="banner" size="40" maxlength="255">
          </td>
        </tr>
        <tr bgcolor="#FFF3E8"> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Alt text:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="alt" size="40" maxlength="255" value="<#alt#>">
          </td>
        </tr>
        <tr bgcolor="#FFF3E8">
          <td valign="middle" align="left" bgcolor="#d9d9d9">Show Bid, <#currency#>:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="sbid" size="7" maxlength="7" value="<#sbid#>">
          </td>
        </tr>
        <tr bgcolor="#FFF3E8">
          <td valign="middle" align="left" bgcolor="#d9d9d9">Click Bid, <#currency#>:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="cbid" size="7" maxlength="7" value="<#cbid#>">
          </td>
        </tr>
        <tr bgcolor="#d9d9d9"> 
          <td valign="middle" align="left" colspan="2">Select terms for banner:</td>
        </tr>
        <tr bgcolor="#eeeeee"> 
          <td valign="middle" align="left" colspan="2"><#selectterms#></td>
        </tr>
        <tr> 
          <td valign="middle" align="left" colspan="2"><font color="#FF0000"><b><#error#></b></font></td>
        </tr>
        <tr> 
          <td valign="middle" align="left"> 
            <input type="submit" name="add" value="Update">
            <input type="hidden" name="cmd" value="201"><input type="hidden" name="bannerid" value="<#bannerid#>">
          </td>
          <td valign="top">&nbsp;</td>
        </tr>
      </table>
    </td>
      </tr>
    </table>

