    <table border="0" cellspacing="1" cellpadding="5">
      <tr align="center"> 
        <td colspan="2">
      <h3><font color="#6699CC" size="3">Banners Statistics page</font></h3>
    </td>
      </tr>
    <tr align="center">
    <td colspan="2">
      <table width="100%" border="0" cellspacing="1" cellpadding="5">
        <tr bgcolor="#d9d9d9"> 
          <td><b>Banner</b></td>
          <td><b>Shows</b></td>
          <td><b>Click Throughs</b></td>
          <td><b>Cost, <#currency#></b></td>
        </tr>
        <#stats#> 
        </table></tr>
      </table>
    
      
    

