<html>
<head>
<title>PPC Engine Member Registration</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="css/asppc_styles.css" type="text/css">
</head>

<body bgcolor="#FFFFFF" text="#000000"><center>
<form action="<#action#>" method="post">
    <table class="tborder" cellspacing="1" cellpadding="7" width="500">
      <tr bgcolor="#6699cc"> 
        <td valign="bottom" align="center" colspan="2"> 
          <h2><img src="../main/images/main_title.gif" width="360" height="70"></h2>
        </td>
	</tr>
      <tr align="center" bgcolor="#d9d9d9"> 
        <td colspan="2"> 
          <h3>Member Login</h3>
        </td>
      </tr>
      <tr bgcolor="#d9d9d9"> 
        <td valign="middle" align="left"><b>Login:</b></td>
        <td valign="top"> 
          <input type="text" name="lop" size="40" maxlength="255">
        </td>
      </tr>
      <tr bgcolor="#d9d9d9"> 
        <td valign="middle" align="left"><b>Password:</b></td>
        <td valign="top"> 
          <input type="password" name="pw" size="40" maxlength="255">
        </td>
      </tr>
      <tr bgcolor="#d9d9d9"> 
        <td valign="middle" align="left"> 
          <input type="submit" name="login" value="Login">
          <input type="hidden" name="ll" value="2">
        </td>
        <td valign="top">&nbsp;</td>
      </tr>
    </table>
</form>
<form action="<#action#>" method="post">
    <table class="tborder" cellspacing="0" cellpadding="7" bgcolor="#eeeeee" width="500">
      <tr align="center"> 
        <td bgcolor="#eeeeee"> <b>If You lost password enter Your login:</b><br>
          <br>
          <input type="text" name="login" size="40" maxlength="255">
        </td>
      </tr>
      <tr> 
        <td valign="middle" align="center" bgcolor="#eeeeee"> 
          <input name="gologin" type="submit" id="gologin" value="Get Password to e-mail">
          <input type="hidden" name="ll" value="255">
        </td>
        <td valign="top">&nbsp;</td>
      </tr>
    </table>
  </form>
© <a href="http://www.ettica.com/" target="_blank">Ettica.com</a>
</center>
</body>
</html>
