    <table border="0" cellspacing="1" cellpadding="5">
      <tr align="center"> 
        <td colspan="2">          
      <h3><font color="#6699CC" size="3">Affiliate</font></h3>    
    </td>
      </tr>
      <tr align="center">       
    <td colspan="2">
	 	<a href="<#getcode#>">get html code here</a> | <a href="<#genreport#>">generate report</a> | <a href="<#clearstats#>" onclick="return confirm('Are You sure want to clear statistics log?')">clear stats</a> | <a href="<#getmoney#>">get money</a>
	 	<br><br>
		Select period: from <#d_from#> to <#d_to#> <input type="submit" name="qw" value="Go"><input type="hidden" name="menu" value="10">
		<br><br>
      <table width="100%" border="0" cellspacing="1" cellpadding="5">
        <tr bgcolor="#d9d9d9"> 
          <td><b>Date</b></td>
          <td><b>Searches</b></td>
          <td><b>Clicks</b></td>
       </tr>
		 <#stats#>
        <tr bgcolor="#eeeeee"> 
          <td colspan="2"><b>Total money collected:</b></td>
          <td><b><#total#></b></td>
       </tr>
        <tr> 
          <td colspan="3">&nbsp; 

          </td>
        </tr>
      </table>
    </td>
      </tr>
    </table>

