<html>
<head>
<title>PPC Engine Member Control Panel</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="css/asppc_styles.css" type="text/css">
</head>
<body bgcolor="#FFFFFF" text="#000000"><center>
<form name="member" action="<#action#>" method="post" enctype="multipart/form-data">
    <table class="tborder" cellspacing="1" cellpadding="15" bgcolor="#FFFBF7">
      <tr bgcolor="#6699cc"> 
        <td valign="bottom" align="center" colspan="2"> 
          <h2><font color="#FFFFFF" size="3">PPC Search</font></h2>
        </td>
	</tr>
	  <tr bgcolor="#FFFFFF"> 
        <td colspan="2"> 
          <h2><font size="3" color="#6699CC">Member Control Panel</font></h2>
        </td>
	</tr>
      <tr align="left" bgcolor="#FFFFFF"> 
        <td colspan="2"> <b>User name: <#username#></b> | <a href="<#logoff#>">Log 
          Off</a> </td>
      </tr>
      <tr bgcolor="#FFFFFF"> 
        <td valign="top"> 
          <ul>
	<li><a href="<#menu_item0#>" class="category">Main Page</a></li>
	<br><br>
        <li><a href="<#menu_item2#>" class="category">Modify Profile</a></li>
	<li><a href="<#menu_item4#>" class="category">Balance</a></li>
	<br><br>
	<li><a class="category" href="<#menu_item1#>">Terms Statistics</a></li>
	<li><a href="<#menu_item8#>" class="category">&quot;no matches&quot; Statistics</a></li>
	<li><a href="<#menu_item6#>" class="category">Banners Statistics</a></li>
	<br><br>
	<li><a href="<#menu_item3#>" class="category">Manage Listings</a></li>
	<li><a href="<#menu_item5#>" class="category">Bids</a></li>
	<li><a href="<#menu_item9#>" class="category">Search for bids</a></li>
	<li><a href="<#menu_item7#>" class="category">Manage Banners</a></li>
	<br><br>
	<li><a href="<#menu_item10#>" class="category">Affiliate</a></li>
	</ul>
</td>

        <td align="center" valign="top"><#content#></td>
        
      </tr>
    </table>
</form>
© <a href="http://www.ettica.com/" target="_blank">Ettica.com</a>
</center>
</body>
</html>
