    <table border="0" cellspacing="1" cellpadding="5">
      <tr align="center"> 
        <td colspan="2"> 
          
      <h3><font color="#6699CC" size="3">Add several terms at once</font></h3>
      
    </td>
      </tr>
      <tr align="center"> 
 
    <td colspan="2">
	<b>Term #1</b>
      <table border="0" cellspacing="1" cellpadding="5">
        <tr bgcolor="#FCE4CF"> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Term:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="term0" size="40" maxlength="255" value="">
          </td>
        </tr>
        <tr bgcolor="#FCE4CF"> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Title:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="title0" size="40" maxlength="255" value="<#title#>">
          </td>
        </tr>
        <tr bgcolor="#FCE4CF"> 
          <td valign="top" align="left" bgcolor="#d9d9d9">Description:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <textarea name="descr0" cols="36" rows="7"><#descr#></textarea>
          </td>
        </tr>
        <tr bgcolor="#FCE4CF"> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Link URL:</td>
          <td valign="top" bgcolor="#eeeeee"> http:// 
            <input type="text" name="url0" size="40" maxlength="255" value="<#url#>">
          </td>
        </tr>
        <tr bgcolor="#FCE4CF">
          <td valign="middle" align="left" bgcolor="#d9d9d9">Bid, <#currency#>:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="bid0" size="7" maxlength="7" value="<#bid#>">
          </td>
        </tr>
        <tr> 
          <td valign="middle" align="left" colspan="2"><font color="#FF0000"><b><#error#></b></font></td>
        </tr>
      </table>
	  <input type="hidden" name="cmd" value="2551">
	  	<b>Term #2</b>
      <table border="0" cellspacing="1" cellpadding="5">
        <tr bgcolor="#FCE4CF"> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Term:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="term1" size="40" maxlength="255" value="">
          </td>
        </tr>
        <tr bgcolor="#FCE4CF"> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Title:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="title1" size="40" maxlength="255" value="<#title#>">
          </td>
        </tr>
        <tr bgcolor="#FCE4CF"> 
          <td valign="top" align="left" bgcolor="#d9d9d9">Description:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <textarea name="descr1" cols="36" rows="7"><#descr#></textarea>
          </td>
        </tr>
        <tr bgcolor="#FCE4CF"> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Link URL:</td>
          <td valign="top" bgcolor="#eeeeee"> http:// 
            <input type="text" name="url1" size="40" maxlength="255" value="<#url#>">
          </td>
        </tr>
        <tr bgcolor="#FCE4CF">
          <td valign="middle" align="left" bgcolor="#d9d9d9">Bid, <#currency#>:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="bid1" size="7" maxlength="7" value="<#bid#>">
          </td>
        </tr>
        <tr> 
          <td valign="middle" align="left" colspan="2"><font color="#FF0000"><b><#error#></b></font></td>
        </tr>
      </table>
	<b>Term #3</b>
      <table border="0" cellspacing="1" cellpadding="5">
        <tr bgcolor="#FCE4CF"> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Term:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="term2" size="40" maxlength="255" value="">
          </td>
        </tr>
        <tr bgcolor="#FCE4CF"> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Title:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="title2" size="40" maxlength="255" value="<#title#>">
          </td>
        </tr>
        <tr bgcolor="#FCE4CF"> 
          <td valign="top" align="left" bgcolor="#d9d9d9">Description:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <textarea name="descr2" cols="36" rows="7"><#descr#></textarea>
          </td>
        </tr>
        <tr bgcolor="#FCE4CF"> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Link URL:</td>
          <td valign="top" bgcolor="#eeeeee"> http:// 
            <input type="text" name="url2" size="40" maxlength="255" value="<#url#>">
          </td>
        </tr>
        <tr bgcolor="#FCE4CF">
          <td valign="middle" align="left" bgcolor="#d9d9d9">Bid, <#currency#>:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="bid2" size="7" maxlength="7" value="<#bid#>">
          </td>
        </tr>
        <tr> 
          <td valign="middle" align="left" colspan="2"><font color="#FF0000"><b><#error#></b></font></td>
        </tr>
     </table>
	<b>Term #4</b>
      <table border="0" cellspacing="1" cellpadding="5">
        <tr bgcolor="#FCE4CF"> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Term:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="term3" size="40" maxlength="255" value="">
          </td>
        </tr>
        <tr bgcolor="#FCE4CF"> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Title:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="title3" size="40" maxlength="255" value="<#title#>">
          </td>
        </tr>
        <tr bgcolor="#FCE4CF"> 
          <td valign="top" align="left" bgcolor="#d9d9d9">Description:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <textarea name="descr3" cols="36" rows="7"><#descr#></textarea>
          </td>
        </tr>
        <tr bgcolor="#FCE4CF"> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Link URL:</td>
          <td valign="top" bgcolor="#eeeeee"> http:// 
            <input type="text" name="url3" size="40" maxlength="255" value="<#url#>">
          </td>
        </tr>
        <tr bgcolor="#FCE4CF">
          <td valign="middle" align="left" bgcolor="#d9d9d9">Bid, <#currency#>:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="bid3" size="7" maxlength="7" value="<#bid#>">
          </td>
        </tr>
        <tr> 
          <td valign="middle" align="left" colspan="2"><font color="#FF0000"><b><#error#></b></font></td>
        </tr>
     </table>
	<b>Term #5</b>
      <table border="0" cellspacing="1" cellpadding="5">
        <tr bgcolor="#FCE4CF"> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Term:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="term4" size="40" maxlength="255" value="">
          </td>
        </tr>
        <tr bgcolor="#FCE4CF"> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Title:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="title4" size="40" maxlength="255" value="<#title#>">
          </td>
        </tr>
        <tr bgcolor="#FCE4CF"> 
          <td valign="top" align="left" bgcolor="#d9d9d9">Description:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <textarea name="descr4" cols="36" rows="7"><#descr#></textarea>
          </td>
        </tr>
        <tr bgcolor="#FCE4CF"> 
          <td valign="middle" align="left" bgcolor="#d9d9d9">Link URL:</td>
          <td valign="top" bgcolor="#eeeeee"> http:// 
            <input type="text" name="url4" size="40" maxlength="255" value="<#url#>">
          </td>
        </tr>
        <tr bgcolor="#FCE4CF">
          <td valign="middle" align="left" bgcolor="#d9d9d9">Bid, <#currency#>:</td>
          <td valign="top" bgcolor="#eeeeee"> 
            <input type="text" name="bid4" size="7" maxlength="7" value="<#bid#>">
          </td>
        </tr>
        <tr> 
          <td valign="middle" align="left" colspan="2"><font color="#FF0000"><b><#error#></b></font></td>
        </tr>
     </table>
	<br><br><input type="submit" name="add" value="Add Terms">
	  
    </td>
      </tr>
    </table>

