a.normlink:link { color: #000000; text-decoration: none; font-family: Verdana, Arial, Helvetica, sans-serif: none }
a.normlink:hover { text-decoration: underline ; color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif}
.normlink {  text-decoration: none; color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif}
