<form action="conf.php" method=post>
<table border=0 cellspacing=0 cellpadding=0 width=60% height=100%>
<tr><td align=center>
<table border=0 cellpadding=4>

<tr>
<td colspan=2>%errors%<br></td>
</tr>

<tr>
<td colspan=2><b>Change password section</b></td>
</tr>

<tr>
<td>Login:</td>
<td><input type=text name=user class=txt value="%user%"></td>
</tr>

<tr>
<td>Old Password:</td>
<td><input type=password name=pass class=txt value=""></td>
</tr>


<tr>
<td>New password:</td>
<td><input type=password name=pass2 class=txt value=""></td>
</tr>

<tr>
<td>Repeat new password:</td>
<td><input type=password name=pass3 class=txt value=""></td>
</tr>

<tr>
<td>&nbsp;</td>
<td><input type=image src="images/button-change.gif" name=password boreder=0 value=change alt="Change"></td>
</tr>


<tr>
<td colspan=2><b>Database section</td>
</tr>

<tr>
<td>Database name:</td>
<td><input type=text name=dbname class=txt value="%dbname%"></td>
</tr>

<tr>
<td>Database host:</td>
<td><input type=text name=dbhost class=txt value="%dbhost%"></td>
</tr>

<tr>
<td>Database user:</td>
<td><input type=text name=dbuser class=txt value="%dbuser%"></td>
</tr>

<tr>
<td>Database password:</td>
<td><input type=password name=dbpass class=txt value="%dbpass%"></td>
</tr>

<tr>
<td>&nbsp;</td>
<td><input type=image src="images/button-change.gif" border=0 name="dbchange" value=change alt="Change"></td>
</tr>


<tr>
<td colspan=2><b>Add user section</td>
</tr>

<tr>
<td>User name:</td>
<td><input type=text name=username class=txt value=""></td>
</tr>

<tr>
<td>User password:</td>
<td><input type=password name=userpw1 class=txt value=""></td>
</tr>

<tr>
<td>Retype password:</td>
<td><input type=password name=userpw2 class=txt value=""></td>
</tr>

<tr>
<td>&nbsp;</td>
<td><input type=image src="images/button-add.gif" border=0 name=adduser value="add" alt="Add"> 
</td>
</tr>


