<table border=0 cellspacing=3 cellpadding=5>
<tr>
<td rowspan=5>&nbsp;&nbsp;</td>
<td><b>Action name:</b></td>
<td>%action_name%</td>
</tr>

<tr>
<td><b>Action link:</b></td>
<td>%action_link%</b></td>
</tr>

<tr>
<td><b>Action type:</b><td>%type%</td></td>
</tr>
%price%

<tr>
<td><b>Action code:</b></td>
<td>%code%</td>
</tr>

</table>

<hr size=1 color=#cccccc width=100%>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="campaigns.php?pid=editaction&id=%id%"><img src="images/button-edit-action-orig.gif" border=0></a>
&nbsp;&nbsp;<a href="campaigns.php?pid=actioncode&id=%id%"><img src="images/button-get-code.gif" border=0 alt="Get code"></a>
<br><br><br><br>