<table border=0 cellspacing=3 cellpadding=0>
<tr>
<td rowspan=5>
&nbsp;&nbsp;
</td>
<td><b>Campaign name:</b></td>
<td>&nbsp;&nbsp;&nbsp;</td>
<td>%campaign_name%</span></td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td><b>Price type:</b></td>
<td>&nbsp;&nbsp;&nbsp;</td>
<td>%price_type% %pertype%</td>

</tr>

<tr>
<td><b>Campaign link:</b></td>
<td>&nbsp;&nbsp;&nbsp;</td>
<td>%campaign_link%"</b></td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td><b>Price:</b></td>
<td>&nbsp;&nbsp;&nbsp;</td>
<td>%price%</td>

</tr>
<tr>
<td><b>Campaign code:</b></td>
<td>&nbsp;&nbsp;&nbsp;</td>
<td colspan=5>%code%</td>
</tr>

</table>
<hr size=1 color=#CCCCCC width=100%>
&nbsp;&nbsp;<a href="campaigns.php?pid=editcampaignform&id=%id%"><img src="images/button-edit-campaign-orig.gif" border=0 alt="Change"></a>
&nbsp;&nbsp;<a href="campaigns.php?pid=campaigncode&id=%id%"><img src="images/button-get-code.gif" border=0 alt="Get code"></a>