<table height="18" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="195" background="images/line-bg.gif"><img src="images/1x1.gif" width="1" height="18"></td>
<td valign="bottom"><a href="#top"><img src="images/text_top.gif" alt="back to top" width="66" height="15" hspace="3" border="0"></a></td>
</tr>
</table></td>
</tr>
<tr>
<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td height="4" colspan="2"><img src="images/1x1.gif" width="1" height="4"></td>
</tr>
<tr>
<td width="10"><img src="images/1x1.gif" width="10" height="1"></td>
<td class="copyright">&nbsp;</td>
</tr>
</table>
</td></tr></table>

</body></html>