<table border=0 cellspacing=0 cellpadding=0 width=100%>
<tr><td width=250>&nbsp;</td>
<td align=left><h1 style="color: #427b7b; margin-left: 0px; margin-bottom: 0px; margin-top: 0px;" class=wheader>Action Wizard</h1></td>
</tr></table>

<form action=wizard.php method=post style="margin-top: 0px; margin-bottom: 0px;">
%hiddenfields%

<table border=0 width=100%>
<tr><td>
<table border=0 cellspacing=4 cellpadding=0 width=80%>
<tr>
<td rowspan=10 valign=top width=110>
<table border=0 cellspacing=0 cellpadding=0>
<tr><td width=98>

<font size=2 color=#427b7b>

<ul style="margin-left: 18px;margin-top: 2px;">
<li>Step 1<br>
Specifying campaign name and URL
<br><br>
<li><b>Step 2<br>
Specifying campaign price</b><br><br>
<li>Step 3<br>
Adding the tracking link to your advert.<br><br>
<li>Step 4<br>
Action data revision. 
</ul>
</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

</tr></table>
</font>
</td>

<td colspan=2 valign=top>

<h3 class=wheader>Action Wizard</h3>

<font class=hd>
You have choosen the "End point" type of action, that means that performing of this action by site visitor will bring you a certain income. 
Please enter the value of this income  in the field below.  
(Ex.: The price of product that is ordered if this action is performed).
</font>
<br><br>
<b>Tip:</b> If your action income is not constant ( Ex.: You have a shopping cart and the action income depends on how many products were purchased) please use the average income value.
<br><br>
<table border=0 cellspacgin=4 cellpadding=3>
<tr>
<td><b>Action income <font size=1>$</font></:</b></td>
<td><input type=text class=txt name=action_price value="%action_price%"></td>
</tr>
</table>
<br>
<table border=0 cellspacgin=4 cellpadding=3 width=100%>
<tr>
<td colspan=2 align=right><input type=image src="images/button-previous.gif" name=prev value=prev title=Previous>
&nbsp;&nbsp;<input type=image src="images/button-next.gif" name=next value=next>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td></tr></table>
</form>