


<table border=0 cellspacing=0 cellpadding=0 width=100%>
<tr><td width=250>&nbsp;</td>
<td align=left><h1 style="color: #427b7b; margin-left: 0px; margin-bottom: 0px; margin-top: 0px;" class=wheader>Campaign Wizard</h1></td>
</tr></table>

<form action=wizard.php method=post style="margin-top: 0px; margin-bottom: 0px;">
%hiddenfields%

<table border=0 width=100%>
<tr><td>
<table border=0 cellspacing=4 cellpadding=0 width=80%>
<tr>
<td rowspan=10 valign=top width=110>
<table border=0 cellspacing=0 cellpadding=0>
<tr><td width=98>

<font size=2 color=#427b7b>

<ul style="margin-left: 18px;margin-top: 2px;">
<li><b>Step 1<br>
Specifying campaign name and URL
</b><br><br>
<li>Step 2<br>
Specifying campaign price<br><br>
<li>Step 3<br>
Adding the tracking link to your advert.<br><br>
<li>Step 4<br>
Campaign data revision. Moving to Action wizard. <br>
</ul>
</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

</tr></table>
</font>
</td>
<td colspan=2>

<font class=hd><font size=2><b>
This wizard will help you to create a campaign to track effectiveness of your advertising  ROI (Return On Investment).</b></font><br>
<br>
What the campaign is?<br>
<br>
In the ROI tracking Pro you could create a campaign for each of your advertising that refers to your site. Every campaign has a referrer link  
the link that is used to track and count visitors that comes to your site from this referrer. 
For each campaign you could create several actions such as form filling, questionnaire filling, order making and etc. 
This will help you to track different actions of your ad visitors.
<br><br>
Please enter the name of your new campaign in the field below.  
</font><br><br>
<b>Tip:</b> Dont give too long names to your campaigns, this will help to make your reports looks better structured.
</td>
</tr>

<tr>
<td><b>Campaign name:</b></td>
<td><input type=text class=txt name=campaign_name size=30 value="%campaign_name%"></td>
</tr>

<tr><td colspan=2><br></td></tr>

<tr>
<td colspan=2 class=hd>
Please enter the URL to which your visitors will be refereed from your advertisement.
<br>This URL will be used to generate the link to count and track your visitors.
<br><font size=1>(For example http://www.google.com)</font>
</td></tr>

<tr>
<td><b>Campaign Link:</b></td>
<td><input type=text class=txt name=campaign_link size=30 value="%campaign_link%"></td>
</tr>

<tr>
<td colspan=2 align=right><input type=image src="images/button-next.gif" name=next value=next title=Next></td>

</table>
</td></tr>
</table>
</form>