
<table border=0 cellspacing=0 cellpadding=0 width=100%>
<tr><td width=250>&nbsp;</td>
<td align=left><h1 style="color: #427b7b; margin-left: 0px; margin-bottom: 0px; margin-top: 0px;" class=wheader>Campaign Wizard</h1></td>
</tr></table>

<form action=wizard.php method=post style="margin-top: 0px; margin-bottom: 0px;">
%hiddenfields%

<table border=0 width=100%>
<tr><td><table border=0 cellspacing=4 cellpadding=0 width=80%>
<tr>
<td rowspan=10 valign=top width=110>
<table border=0 cellspacing=0 cellpadding=0>
<tr><td width=98>

<font size=2 color=#427b7b>

<ul style="margin-left: 18px;margin-top: 2px;">
<li>Step 1<br>
Specifying campaign name and URL
<br><br>
<li>Step 2<br>
Specifying campaign price<br><br>
<li><b>Step 3<br>
Adding the tracking link to your advert.</b><br><br>
<li>Step 4<br>
Campaign data revision. Moving to Action wizard. <br>
</ul>
</td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

</tr></table>
</font>
</td>
<td valign=top>

<font class=hd>Please use this link in your advertisement as a link leading to your site.</font><br><br>
<textarea name=code cols=40 rows=5 class=texxtarea style="width: 100%">%code%</textarea>
<br>
<table border=0 cellspacing=0 cellpadding=0 width=100%>
<tr><td align=right>
<input type=image src="images/button-previous.gif" name=prev value=prev title=Previous>
&nbsp;&nbsp;<input type=image src="images/button-next.gif" name=next value=next title=Next>
</td></tr></table>
</td></tr></table>
</td></tr></table>

</form>