 
<hr noshade size="1">
<p align="center"><b><font face="Verdana, Arial" size="1"><b><a href="index.php">Home</a> 
- <a href="user.php?func=newuser">Submit Your Hedgehog</a> - <a href="new.php">Latest 
Hedgehog Pics</a> - <a href="top.php?sort=best&num=10">Top 10 Best Hedgehogs</a> 
- <a href="top.php?sort=worst&num=10">Top 10 Worst Hedgehogs</a> - <a href="vote.php">Vote 
On Hedgehogs</a></b></font></b></p>
<p align="center"><font face="Verdana, Arial" size="1">( RateMyHedgehog is a demo 
of the <a href="http://www.phplabs.com/scripts.php?script=RateMyStuff">RateMyStuff</a> 
script package from <a href="http://www.phplabs.com/">PHP Labs</a>.)</font></p>
