<title>Rate My Hedgehog (Demo of RateMyStuff from PHPLabs.com)</title>
<body bgcolor="#FFFFCC">
%header% 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr> 
<td width="20%" valign="top"> 
<table width="90%" border="0" cellspacing="0" cellpadding="1" bgcolor="#000066" align="center">
<tr> 
<td> 
<table width="100%" border="0" cellspacing="0" cellpadding="1" bgcolor="#000066">
<tr> 
<td> 
<center>
<font color="#FFFFCC" size="1"><b><font face="Verdana, Arial">RATEMYHEDGEHOG</font></b></font> 
</center>
</td>
</tr>
<tr> 
<td bgcolor="#FFFFCC"> 
<p align="center">%lastrate%</p>
<p align="center"><b><font face="Verdana, Arial" size="1">RANDOM HEDGEHOG:</font></b></p>
<p align="center">%random%</p>
<p align="center"><font size="1"><b><font face="Verdana, Arial">OUR FAVORITE LINKS:</font></b></font></p>
<p align="center"><b><font face="Verdana, Arial" size="1"><a href="http://phplabs.com/scripts.php?script=RateMyStuff">RateMyStuff</a><br>
<a href="http://www.phplabs.com/">PHP Labs</a><br>
<a href="http://www.fallendomains.com/">Fallen Domains</a><br>
<a href="http://www.openproxies.com/">Open Proxy List</a><br>
<a href="http://www.iconbazaar.com/">Icon Bazaar</a><br>
<a href="http://www.php.net/">PHP Homepage</a><br>
<a href="http://www.google.com/">Google Search</a></font></b></p>
<p align="center"><b><font face="Verdana, Arial" size="1">RANDOM HEDGEHOG:</font></b></p>
<p align="center">%random%</p>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
<td valign="top"> 
<p align="center"><font color="#000000" size="2" face="Verdana, Arial"><b>Rate 
        My Hedgehog</b></font></p>
      <p align="center"><font face="Verdana, Arial" size="1"><b><a href="http://www.phplabs.com/"><img src="http://phplabs.com/images/phpban2.gif" width="468" height="60" border="0" alt="PHP Labs"></a></b></font></p>
      <table width="90%" border="0" align="center" cellpadding="3" cellspacing="0">
        <tr>
          <td><font size="2" face="Verdana, Arial"><b>%message%</b></font></td>
        </tr>
      </table>
      <p align="center"><font size="2" face="Verdana, Arial">Go ahead and <a href="vote.php">continue 
        voting</a> on pics!</font></p>
      <hr noshade size="1">
<p>%top5%</p>
</td>
</tr>
</table>
%footer%