<center>
<p><font face="Verdana, Arial" size="5">Welcome to</font><b><font face="Verdana, Arial" size="5"> 
RateMyHedgehog</font></b> </p>
<p><font face="Verdana, Arial" size="1"><b><a href="index.php">Home</a> - <a href="user.php?func=newuser">Submit 
Your Hedgehog</a> - <a href="new.php">Latest Hedgehog Pics</a> - <a href="top.php?sort=best&num=10">Top 
10 Best Hedgehogs</a> - <a href="top.php?sort=worst&num=10">Top 10 Worst Hedgehogs</a> 
- <a href="vote.php">Vote On Hedgehogs</a></b></font></p>
</center>