<body bgcolor="#FFFFCC"><table width="100%" border="0" cellspacing="0" cellpadding="1" bgcolor="#000066" align="center">
  <tr> 
    <td> <table width="100%" border="0" cellspacing="0" cellpadding="4" bgcolor="#000066">
        <tr> 
          <td> <center>
              <font color="#FFFFCC" size="1"><b><font face="Verdana, Arial">About 
              HookUp </font></b></font> 
            </center></td>
        </tr>
        <tr> 
          <td bgcolor="#FFFFCC"> <p align="left"><font size="1" face="Verdana, Arial"><b>What 
              is HookUp?</b></font></p>
            <p align="left"><font size="1" face="Verdana, Arial">HookUp is our 
              feature which allows users to contact each other safely and anonymously. 
              Here's how it works:</font></p>
            <p align="left"><font size="1" face="Verdana, Arial"><b>1.</b> You 
              see the picture of someone who has chosen to accept HookUps</font></p>
            <p align="left"><font size="1" face="Verdana, Arial"><b>2.</b> You 
              click the &quot;HookUp&quot; link on their picture page to send 
              them a message. Your picture is attached to your message automatically 
              (if you haven't uploaded a picture, you will need to do so).</font></p>
            <p align="left"><font size="1" face="Verdana, Arial"><b>3.</b> If 
              the recipient wants to HookUp with you, the two of you can communicate 
              anonymously through our messaging system. Emails sent back and forth 
              will show as coming from our site, and neither of your email addresses 
              will be revealed to the other person.</font></p>
            <p align="left"><font size="1" face="Verdana, Arial">To use HookUp, 
              you <i><b>must</b></i> be a registered user of our site and upload 
              a picture.</font></p></td>
        </tr>
      </table></td>
  </tr>
</table>
<p align="center"><font size="1" face="Verdana, Arial"><b><a href="javascript:window.close();">Close Window</a></b></font></p>
