<title>Rate My Hedgehog (Demo of RateMyStuff from PHPLabs.com)</title>
<body bgcolor="#FFFFCC">
%header% 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="20%" valign="top">
<table width="90%" border="0" cellspacing="0" cellpadding="1" bgcolor="#000066" align="center">
<tr> 
<td> 
<table width="100%" border="0" cellspacing="0" cellpadding="1" bgcolor="#000066">
<tr> 
<td> 
<center>
<font color="#FFFFCC" size="1"><b><font face="Verdana, Arial">RATEMYHEDGEHOG</font></b></font> 
</center>
</td>
</tr>
<tr> 
<td bgcolor="#FFFFCC"> 
<p align="center">%lastrate%</p>
<p align="center"><b><font face="Verdana, Arial" size="1">RANDOM HEDGEHOG:</font></b></p>
<p align="center">%random%</p>
<p align="center"><font size="1"><b><font face="Verdana, Arial">OUR FAVORITE LINKS:</font></b></font></p>
<p align="center"><b><font face="Verdana, Arial" size="1"><a href="http://phplabs.com/scripts.php?script=RateMyStuff">RateMyStuff</a><br>
<a href="http://www.phplabs.com/">PHP Labs</a><br>
<a href="http://www.fallendomains.com/">Fallen Domains</a><br>
<a href="http://www.openproxies.com/">Open Proxy List</a><br>
<a href="http://www.iconbazaar.com/">Icon Bazaar</a><br>
<a href="http://www.php.net/">PHP Homepage</a><br>
<a href="http://www.google.com/">Google Search</a></font></b></p>
<p align="center"><b><font face="Verdana, Arial" size="1">RANDOM HEDGEHOG:</font></b></p>
<p align="center">%random%</p>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
<td valign="top"> 
<p><font face="Verdana, Arial" size="1">Thanks for visiting <b>RateMyHedgehog</b>! 
</font></p>
<p><font face="Verdana, Arial" size="1">We are the oldest, biggest, and best hedgehog 
rating site on the net, with tons more pictures than the competition. <i>Don't 
be fooled by imitators!!</i> OK, so actually, RateMyHedgehog is a bogus site used 
to demonstrate the <a href="http://www.phplabs.com/scripts.php?script=RateMyStuff">RateMyStuff</a> 
script suite from <a href="http://www.phplabs.com/">PHP Labs</a>. But you can 
still rate the hedgehogs and upload your own pictures, this demo is fully functional. 
Note: in this demo, all visitor-uploaded pictures are removed hourly.</font></p>
<p align="center"><font face="Verdana, Arial" size="1"><a href="vote.php"><b>&gt;&gt;&gt; 
Click Here To Vote On Hedgehogs Now &lt;&lt;&lt;</b></a></font></p>
<table width="100%" border="0" cellspacing="0" cellpadding="1">
<tr>
<td>
<p><font face="Verdana, Arial" size="1"><b>CONTEST WINNER ANNOUNCED!</b></font></p>
<p><font face="Verdana, Arial" size="1">The tabulations are done and the winner 
of our Cutest Hedgehog Ever contest has been determined! The lucky honors go to 
the fine specimen pictured to the right. </font></p>
<p><font face="Verdana, Arial" size="1">Rumor has it that moments after this snapshot 
was taken, the prickly rascal ruined the immaculate Pine-Sol shine by doing what 
hedgehogs do best... All over the clean floor. Fortunately, he waited until <i>after</i> 
his picture was taken.</font></p>
<p><font face="Verdana, Arial" size="1">Congratulations to our winner! Stay tuned 
for information about our next contest.</font></p>
</td>
<td align="center" valign="middle"><img src="getimage.php?tag=3e20da65c7766" alt="CONTEST WINNER - Cutest Hedgehog Ever"></td>
</tr>
</table>
<p>%top5%</p>
</td>
<td width="20%" valign="top"> 
<table width="90%" border="0" cellspacing="0" cellpadding="1" bgcolor="#000066" align="center">
<tr> 
<td> 
<table width="100%" border="0" cellspacing="0" cellpadding="1" bgcolor="#000066">
<tr> 
<td> 
<center>
<font color="#FFFFCC" size="1"><b><font face="Verdana, Arial">LOGIN &amp; GET 
STATS </font></b></font> 
</center>
</td>
</tr>
<tr> 
<td bgcolor="#FFFFCC"> 
<p align="center">%loginform%</p>
</td>
</tr>
</table>
</td>
</tr>
</table>
<table width="90%" border="0" cellspacing="0" cellpadding="1" bgcolor="#000066" align="center">
<tr> 
<td> 
<table width="100%" border="0" cellspacing="0" cellpadding="1" bgcolor="#000066">
<tr> 
<td> 
<center>
<font color="#FFFFCC" size="1"><b><font face="Verdana, Arial">RANDOM HEDGEHOGS</font></b></font> 
</center>
</td>
</tr>
<tr> 
<td bgcolor="#FFFFCC">
<p align="center">%random%</p>
<p align="center">%random%</p>
<p align="center">%random%</p>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
%footer%