<title>Rate My Hedgehog (Demo of RateMyStuff from PHPLabs.com)</title>
<body bgcolor="#FFFFCC">
%header% 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr> 
<td width="20%" valign="top"> 
<table width="90%" border="0" cellspacing="0" cellpadding="1" bgcolor="#000066" align="center">
<tr> 
<td> 
<table width="100%" border="0" cellspacing="0" cellpadding="1" bgcolor="#000066">
<tr> 
<td> 
<center>
<font color="#FFFFCC" size="1"><b><font face="Verdana, Arial">RATEMYHEDGEHOG</font></b></font> 
</center>
</td>
</tr>
<tr> 
<td bgcolor="#FFFFCC"> 
<p align="center">%lastrate%</p>
<p align="center"><b><font face="Verdana, Arial" size="1">RANDOM HEDGEHOG:</font></b></p>
<p align="center">%random%</p>
<p align="center"><font size="1"><b><font face="Verdana, Arial">OUR FAVORITE LINKS:</font></b></font></p>
<p align="center"><b><font face="Verdana, Arial" size="1"><a href="http://phplabs.com/scripts.php?script=RateMyStuff">RateMyStuff</a><br>
<a href="http://www.phplabs.com/">PHP Labs</a><br>
<a href="http://www.fallendomains.com/">Fallen Domains</a><br>
<a href="http://www.openproxies.com/">Open Proxy List</a><br>
<a href="http://www.iconbazaar.com/">Icon Bazaar</a><br>
<a href="http://www.php.net/">PHP Homepage</a><br>
<a href="http://www.google.com/">Google Search</a></font></b></p>
<p align="center"><b><font face="Verdana, Arial" size="1">RANDOM HEDGEHOG:</font></b></p>
<p align="center">%random%</p>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
<td valign="top"> 
<p align="center"><font face="Verdana, Arial" size="1"><b>Here are the NEWEST 
submissions to RateMyHedgehog! Be among the first to RATE 'EM!</b></font></p>
<p align="center"><a href="http://www.phplabs.com/"><img src="http://phplabs.com/images/phpban2.gif" width="468" height="60" border="0" alt="PHP Labs"></a></p>
<table width="100%" border="0" cellspacing="0" cellpadding="1" bgcolor="#000066">
<tr> 
<td> 
<table width="100%" border="0" cellspacing="0" cellpadding="3" bgcolor="#FFFFCC">
<tr bgcolor="#000066" align="center" valign="middle"> 
<td><b><font face="Verdana, Arial" size="1" color="#FFFFCC">ID</font></b></td>
<td><font face="Verdana, Arial" color="#FFFFCC" size="1"><b>Date Added</b></font></td>
<td><b><font face="Verdana, Arial" size="1" color="#FFFFCC">Current Score</font></b></td>
<td><b><font face="Verdana, Arial" size="1" color="#FFFFCC"># Votes</font></b></td>
<td><b><font face="Verdana, Arial" size="1" color="#FFFFCC">Picture</font></b></td>
</tr>
<tr align="center" valign="middle"> 
<td><font size="1" face="Verdana, Arial">%id1%</font></td>
<td><font size="1" face="Verdana, Arial">%adddate1%</font></td>
<td><font size="1" face="Verdana, Arial"><b><font color="#FF0000">%score1%</font></b></font></td>
<td><font size="1" face="Verdana, Arial">%numvotes1%</font></td>
<td><font face="Verdana, Arial" size="1"><a href="%votelink1%"><img src="%imgsrc1%" border=0 alt="Rate This Hedgehog!" width="85" height="85"></a><br>
<a href="%votelink1%"><b>Click to Vote!</b></a> </font></td>
</tr>
<tr align="center" valign="middle" bgcolor="#FFcc99"> 
<td><font size="1" face="Verdana, Arial">%id2%</font></td>
<td><font size="1" face="Verdana, Arial">%adddate2%</font></td>
<td><font size="1" face="Verdana, Arial"><b><font color="#FF0000">%score2%</font></b></font></td>
<td><font size="1" face="Verdana, Arial">%numvotes2%</font></td>
<td><font face="Verdana, Arial" size="1"><a href="%votelink2%"><img src="%imgsrc2%" border=0 alt="Rate This Hedgehog!" width="85" height="85"></a><br>
<a href="%votelink2%"><b>Click to Vote!</b></a> </font></td>
</tr>
<tr align="center" valign="middle"> 
<td><font size="1" face="Verdana, Arial">%id3%</font></td>
<td><font size="1" face="Verdana, Arial">%adddate3%</font></td>
<td><b><font size="1" face="Verdana, Arial" color="#FF0000">%score3%</font></b></td>
<td><font size="1" face="Verdana, Arial">%numvotes3%</font></td>
<td><font face="Verdana, Arial" size="1"><a href="%votelink3%"><img src="%imgsrc3%" border=0 alt="Rate This Hedgehog!" width="85" height="85"></a><br>
<a href="%votelink3%"><b>Click to Vote!</b></a> </font></td>
</tr>
<tr align="center" valign="middle" bgcolor="#FFcc99"> 
<td><font size="1" face="Verdana, Arial">%id4%</font></td>
<td><font size="1" face="Verdana, Arial">%adddate4%</font></td>
<td><b><font size="1" face="Verdana, Arial" color="#FF0000">%score4%</font></b></td>
<td><font size="1" face="Verdana, Arial">%numvotes4%</font></td>
<td><font face="Verdana, Arial" size="1"><a href="%votelink4%"><img src="%imgsrc4%" border=0 alt="Rate This Hedgehog!" width="85" height="85"></a><br>
<a href="%votelink4%"><b>Click to Vote!</b></a> </font></td>
</tr>
<tr align="center" valign="middle"> 
<td><font size="1" face="Verdana, Arial">%id5%</font></td>
<td><font size="1" face="Verdana, Arial">%adddate5%</font></td>
<td><b><font size="1" face="Verdana, Arial" color="#FF0000">%score5%</font></b></td>
<td><font size="1" face="Verdana, Arial">%numvotes5%</font></td>
<td><font face="Verdana, Arial" size="1"><a href="%votelink5%"><img src="%imgsrc5%" border=0 alt="Rate This Hedgehog!" width="85" height="85"></a><br>
<a href="%votelink5%"><b>Click to Vote!</b></a> </font></td>
</tr>
<tr align="center" valign="middle" bgcolor="#FFcc99"> 
<td><font size="1" face="Verdana, Arial">%id6%</font></td>
<td><font size="1" face="Verdana, Arial">%adddate6%</font></td>
<td><b><font size="1" face="Verdana, Arial" color="#FF0000">%score6%</font></b></td>
<td><font size="1" face="Verdana, Arial">%numvotes6%</font></td>
<td><font face="Verdana, Arial" size="1"><a href="%votelink6%"><img src="%imgsrc6%" border=0 alt="Rate This Hedgehog!" width="85" height="85"></a><br>
<a href="%votelink6%"><b>Click to Vote!</b></a> </font></td>
</tr>
<tr align="center" valign="middle"> 
<td><font size="1" face="Verdana, Arial">%id7%</font></td>
<td><font size="1" face="Verdana, Arial">%adddate7%</font></td>
<td><b><font size="1" face="Verdana, Arial" color="#FF0000">%score7%</font></b></td>
<td><font size="1" face="Verdana, Arial">%numvotes7%</font></td>
<td><font face="Verdana, Arial" size="1"><a href="%votelink7%"><img src="%imgsrc7%" border=0 alt="Rate This Hedgehog!" width="85" height="85"></a><br>
<a href="%votelink7%"><b>Click to Vote!</b></a> </font></td>
</tr>
<tr align="center" valign="middle" bgcolor="#FFcc99"> 
<td><font size="1" face="Verdana, Arial">%id8%</font></td>
<td><font size="1" face="Verdana, Arial">%adddate8%</font></td>
<td><b><font size="1" face="Verdana, Arial" color="#FF0000">%score8%</font></b></td>
<td><font size="1" face="Verdana, Arial">%numvotes8%</font></td>
<td><font face="Verdana, Arial" size="1"><a href="%votelink8%"><img src="%imgsrc8%" border=0 alt="Rate This Hedgehog!" width="85" height="85"></a><br>
<a href="%votelink8%"><b>Click to Vote!</b></a> </font></td>
</tr>
<tr align="center" valign="middle"> 
<td><font size="1" face="Verdana, Arial">%id9%</font></td>
<td><font size="1" face="Verdana, Arial">%adddate9%</font></td>
<td><b><font size="1" face="Verdana, Arial" color="#FF0000">%score9%</font></b></td>
<td><font size="1" face="Verdana, Arial">%numvotes9%</font></td>
<td><font face="Verdana, Arial" size="1"><a href="%votelink9%"><img src="%imgsrc9%" border=0 alt="Rate This Hedgehog!" width="85" height="85"></a><br>
<a href="%votelink9%"><b>Click to Vote!</b></a> </font></td>
</tr>
<tr align="center" valign="middle" bgcolor="#FFcc99"> 
<td><font size="1" face="Verdana, Arial">%id10%</font></td>
<td><font size="1" face="Verdana, Arial">%adddate10%</font></td>
<td><b><font size="1" face="Verdana, Arial" color="#FF0000">%score10%</font></b></td>
<td><font size="1" face="Verdana, Arial">%numvotes10%</font></td>
<td><font face="Verdana, Arial" size="1"><a href="%votelink10%"><img src="%imgsrc10%" border=0 alt="Rate This Hedgehog!" width="85" height="85"></a><br>
<a href="%votelink10%"><b>Click to Vote!</b></a> </font></td>
</tr>
</table>
</td>
</tr>
</table>
<hr noshade size="1">
<p>%top5%</p>
</td>
<td valign="top" width="20%"> 
<table width="90%" border="0" cellspacing="0" cellpadding="1" bgcolor="#000066" align="center">
<tr> 
<td> 
<table width="100%" border="0" cellspacing="0" cellpadding="1" bgcolor="#000066">
<tr> 
<td> 
<center>
<font color="#FFFFCC" size="1"><b><font face="Verdana, Arial">LOGIN &amp; GET 
STATS </font></b></font> 
</center>
</td>
</tr>
<tr> 
<td bgcolor="#FFFFCC"> 
<p align="center">%loginform%</p>
</td>
</tr>
</table>
</td>
</tr>
</table>
<table width="90%" border="0" cellspacing="0" cellpadding="1" bgcolor="#000066" align="center">
<tr> 
<td> 
<table width="100%" border="0" cellspacing="0" cellpadding="1" bgcolor="#000066">
<tr> 
<td> 
<center>
<font color="#FFFFCC" size="1"><b><font face="Verdana, Arial">RANDOM HEDGEHOGS</font></b></font> 
</center>
</td>
</tr>
<tr> 
<td bgcolor="#FFFFCC"> 
<p align="center">%random%</p>
<p align="center">%random%</p>
<p align="center">%random%</p>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
%footer%