
<body bgcolor="#FFFFCC">
<p align="center"><b><font size="1" face="Verdana, Arial">Inappropriate Image 
Report</font></b></p>
<p><font size="1" face="Verdana, Arial">Thank you <i>very much</i> for your report! 
We rely on our visitors to alert us of inappropriate submissions to our site and 
we appreciate the time you have taken to help us. Our site policy strictly forbids 
any images which are offensive, illegal, or commercial in nature. </font></p>
<p><font size="1" face="Verdana, Arial">The picture with ID %tag% has been flagged 
as a potential violation of this policy, and an administrator will review it shortly. 
</font></p>
