
<table width="100%" border="0" cellspacing="0" cellpadding="1">
<tr> 
<td colspan="5">
<center>
<b><font face="Verdana, Arial" size="1">RateMyHedgehog - Top 5 Ranked Hedgehogs 
Overall </font></b> 
</center>
</td>
</tr>
<tr align="center" valign="middle"> 
<td width="20%"><font face="Verdana, Arial" size="1"><b>#1 is rated <font color="#FF0000">%score1%</font></b><br>
(%numvotes1% votes)<br>
<a href="%votelink1%"><img src="%imgsrc1%" border=0 alt="Rate This Hedgehog!" width="85" height="85"></a><br>
<a href="%votelink1%"><b>Click to Vote!</b></a> </font></td>
<td width="20%"><font face="Verdana, Arial" size="1"><b>#2 is rated <font color="#FF0000">%score2%</font></b><br>
(%numvotes2% votes)<br>
<a href="%votelink2%"><img src="%imgsrc2%" border=0 alt="Rate This Hedgehog!" width="85" height="85"></a><br>
<a href="%votelink2%"><b>Click to Vote!</b></a> </font></td>
<td width="20%"><font face="Verdana, Arial" size="1"><b>#3 is rated <font color="#FF0000">%score3%</font></b><br>
(%numvotes3% votes)<br>
<a href="%votelink3%"><img src="%imgsrc3%" border=0 alt="Rate This Hedgehog!" width="85" height="85"></a><br>
<a href="%votelink3%"><b>Click to Vote!</b></a> </font></td>
<td width="20%"><font face="Verdana, Arial" size="1"><b>#4 is rated <font color="#FF0000">%score4%</font></b><br>
(%numvotes4% votes)<br>
<a href="%votelink4%"><img src="%imgsrc4%" border=0 alt="Rate This Hedgehog!" width="85" height="85"></a><br>
<a href="%votelink4%"><b>Click to Vote!</b></a> </font></td>
<td width="20%"><font face="Verdana, Arial" size="1"><b>#5 is rated <font color="#FF0000">%score5%</font></b><br>
(%numvotes5% votes)<br>
<a href="%votelink5%"><img src="%imgsrc5%" border=0 alt="Rate This Hedgehog!" width="85" height="85"></a><br>
<a href="%votelink5%"><b>Click to Vote!</b></a> </font></td>
</tr>
</table>
