<form action="vote.php" method="post">
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr> 
<td align="left" valign="middle"><font face="Verdana, Arial" size="1"><b>Junk</b></font></td>
<td align="right" valign="middle"><font face="Verdana, Arial" size="1"><b><i><font color="#FF0000">Crunk!</font></i></b></font></td>
</tr>
<tr> 
<td align="center" valign="middle" colspan="2"><img src="%imageurl%/gradient.gif" width="100%" height="5" alt="Hotness Meter"> 
</td>
</tr>
<tr> 
<td align="left" valign="middle" colspan="2"><img src="%imageurl%/blank.gif" width="%percentile%%" height="5" alt="-"><img src="%imageurl%/up.gif" alt="Your Rank"></td>
</tr>
</table>
</form>
