     <div align="center">
	  <FORM ACTION="entrancecheck.php" METHOD="POST">
          <input type="HIDDEN" name="validation" value="true">
    <input type="HIDDEN" name="accepted" value="accept">
    <input type="submit" name="Submit" value="Accept">
  </form>
  <form action="entrancecheck.php" method="POST">
    <input type="HIDDEN" name="validation2" value="true">
    <input type="HIDDEN" name="accepted2" value="rejected">
    <input type="submit" name="Submit2" value="Reject">
  </form>
</div>