<html>

	<head>
		<meta http-equiv="content-type" content="text/html;charset=iso-8859-1">
		<meta http-equiv="refresh" content="1;URL=$ride">
		<title>$master_board_name - Redirecting...</title>
		$headinclude
	</head>

	<body bgcolor="{pagebgcolor}" text="{fontcolorfirst}"{hgpicture}{bgproperties} id="bg">
<table width="100%" height="100%">
	<tr valign="middle" align="center">
		<td><font size=2 face="{font}" color="{fontcolorthird}"><b>$output</b></font><br><font size=1 face="{font}"><a href="$ride">Click here if your browser does not forward you automatically!</a></font></td>
	</tr>
</table>		
</body>
</html>
