<html>

	<head>
		<meta http-equiv="content-type" content="text/html;charset=iso-8859-1">
		<title>$master_board_name - Error</title>
		$headinclude
	</head>

	<body bgcolor="{pagebgcolor}" text="{fontcolorfirst}"{hgpicture}{bgproperties} id="bg">
<table width="100%" height="100%">
	<tr valign="middle" align="center">
		<td><font size=2 face="{font}" color="{fontcolorthird}"><b>$output</b></font><br><font size=1 face="{font}"><a class="linkbg" href="javascript:history.go(-1)">Please use the Back-Button of your browser or click here!</a></font></td>
	</tr>
</table>		
</body>
</html>
