<meta http-equiv="refresh" content="10;URL=$ride">
<body background="images/bg.jpg">
<font color="white"> 
<center>
<table width="99%" border="0" cellspacing="0" cellpadding="0" bordercolor="black" alink="white" vlink="white" link="white">
  <tr>
    <td background="images/bg2.jpg"><BR><center>
      <table width="95%" bgcolor="black">
        <tr>
              <td background="images/cellpic2.jpg" height="30">
                <div align="center">Calculating damage, validating information...</div>
              </td>
        </tr>
        <tr>
              <td background="images/cat1.jpg">
			    Damage: $damage<BR>
                HP Remaining: $fulldamage<BR>
				Money increased to: $moneyincrease<BR>
				Experience inceased to: $expincrease<BR>
				Current room: $myuserroom<BR>
				Check to see if name is correct: $isvalidname<BR>
				During battle value: $duringbattle<BR>
				Ride: $ride<BR>
				Challenger: $challenger</td>
        </tr>
      </table></center><BR>
    </td>
  </tr>
</table>
</center>
</font> 
</body>
