<html>
<title>$myboardname - Bank</title></head><body background="images/bg.jpg" id="bg">
<bgsound src="$myshopmusic" loop="-1">
<div align="center">$header 
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr> 
      <td> 
        <table cellpadding="0" cellspacing="0" border="0"  width="100%" align="center">
          <tr> 
            <td background="images/bg2.jpg"> 
              <table cellpadding=0 cellspacing=0 border=0 width="100%">
                <tr> 
                  <td><font size=1><b><a href="index.php" class="link"><font color="#000000">$myboardname</font></a> 
                    » Bank</b></font></td>
                  <td align="right"><font size=1><b></b></font></td>
                </tr>
              </table>
              <div align="center"><BR>
                <table cellpadding="1" cellspacing="2" border="0"  width="90%" bgcolor="#000000">
                  <tr id="cat"> 
                    <td background="images/cellpic.gif" colspan="5" height="38"><font face="verdana, arial, helvetica" size="2"><b><font color="#FFFFFF">Bank</font></b></font></td>
                  </tr>
                  <tr> 
                    <td align="center" valign="top" width="262" background="images/cat1.jpg"> 
                      <center><br>
                        <table width="90%" border="0" cellspacing="2" cellpadding="1" bordercolor="#000000" bgcolor="#000000">
                          <tr> 
                            <td background="images/cellpic.gif" height="38"><font color="#FFFFFF">Bank 
                              options menu</font></td>
                          </tr>
                          <tr> 
                            <td background="images/cat2.jpg"> <a href="bank.php?action=loan"><font color="#000000">Get 
                              a loan</font></a><br>
                              <a href="bank.php?action=donate"><font color="#000000">Donate 
                              to someone</font></a><BR>
                              <a href="bank.php?action=deals"><font color="#000000">Special 
                              deals</font></a><BR>
                              <a href="bank.php?action=requests"><font color="#000000">Equipment 
                              requests </font></a> </td>
                          </tr>
                        </table>
                      <BR></center>
                    </td>
                    <td align="center" valign="middle" width="479" background="images/cat2.jpg"><font color="#000000">Account 
                      for: $user_name</font><font size="1" color="#000000"><BR>
                      Gold: $user_money</font><BR><BR>
					  $process</td>
                  </tr>
                </table>
                <BR>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
<tr id="tableb">
			
  <td>&nbsp; </td>
		</tr>
</body>
</html>