<meta http-equiv="refresh" content="10;URL=index.php">
<body background="images/bg.jpg">
<font color="white"> 
<center>
<table width="99%" border="0" cellspacing="0" cellpadding="0" bordercolor="black" alink="white" vlink="white" link="white">
  <tr>
    <td background="images/bg2.jpg"><BR><center>
      <table width="95%" bgcolor="black">
        <tr>
              <td background="images/cellpic2.jpg" height="30">
                <div align="center">The battle has been rejected</div>
              </td>
        </tr>
        <tr>
              <td background="images/cat1.jpg"> 
                <div align="center">All stats will return to normal.</div>
              </td>
        </tr>
      </table></center><BR>
    </td>
  </tr>
</table>
</center>
</font> 
</body>
