$header
<body background="images/bg.jpg"><font color="white">
<BR>
<center>
<table width="99%" border="0" cellspacing="0" cellpadding="0" bordercolor="black" alink="white" vlink="white" link="white">
  <tr>
    <td background="images/bg2.jpg"><BR><center>
      <table width="95%" bgcolor="black">
        <tr>
          <td background="images/cellpic2.jpg">
             Battle Field!!!!!!!!! $currentaction
          </td>
        </tr>
        <tr>
          <td background="images/cat1.jpg">
<FORM ACTION="battle.php" METHOD="POST"><INPUT TYPE="HIDDEN" NAME="action" VALUE="choose">
<table width="100%">
  <tr>
    <td>You:</td>
    <td>$user_name</td>
  </tr>
  <tr>
    <td>Your opponent:</TD>
    <td><input type="text" class="input" name="opponent" SIZE=20 MAXLENGTH=85></td>
  </tr>
</table>
<br><center><INPUT class="input" TYPE="SUBMIT" NAME="submit" VALUE="  Go  "><INPUT class="input" TYPE="reset" VALUE="Reset"></center>
</FORM>
          </td>
        </tr>
      </table><BR>
    </td>
  </tr>
</table>
</center>
$footer
</font>
</body>
