<body background="images/bg.jpg">$header
<font color="white">
<BR>
<center>
<table width="99%" border="0" cellspacing="0" cellpadding="0" bordercolor="black" alink="white" vlink="white" link="white">
  <tr>
    <td background="images/bg2.jpg"><BR><center>
      <table width="95%" bgcolor="black">
        <tr>
          <td background="images/cellpic2.jpg">
            Ready For Battle? -Login
          </td>
        </tr>
        <tr>
          <td background="images/cat1.jpg">
<FORM ACTION="action.php" METHOD="POST"><INPUT TYPE="HIDDEN" NAME="action" VALUE="login">
<table width="100%">
  <tr>
    <td>Username:</td>
    <td><input type="text" class="input" name="username" SIZE=20 MAXLENGTH=85></td>
  </tr>
  <tr>
    <td>Password:</TD>
    <td><input type="password" class="input" name="userpass" SIZE=20 MAXLENGTH=85></td>
  </tr>
</table>
<br><INPUT class="input" TYPE="SUBMIT" NAME="submit" VALUE="  Login  "><INPUT class="input" TYPE="reset" VALUE="Reset">
</FORM>
          </td>
        </tr>
      </table><BR>
    </center></td>
  </tr>
</table>
</center>
$footer
</font>
</body>
