<html>
<head>
<title>$myboardname - Main Shop</title></head>
<body background="images/bg.jpg" id="bg">
<center>$header <BR>
  <table width="98%" border="0" cellspacing="0" cellpadding="0">
    <tr> 
      <td background="images/bg2.jpg"> 
        <div align="center"><BR><BR>
          <table width="95%" border="0" cellspacing="1" cellpadding="2" bgcolor="#000000">
            <tr> 
              <td width="10%" background="images/cellpic.gif" height="38">&nbsp;</td>
              <td width="60%" background="images/cellpic.gif">
                <div align="Left"><font color="#FFFFFF">Boots</font></div>
              </td>
              <td width="30%" background="images/cellpic.gif">
                <div align="right"><font color="#FFFFFF">Price</font></div>
              </td>
            </tr>
<table width="95%" border="0" cellspacing="1" cellpadding="2" bgcolor="#000000">
  <tr>
    <td><center>
          <table width="99%" background="images/cat1.jpg">
	$shop_items
          </table></center>
    </td>
  </tr>
</table>
          <BR>
          <BR>$footer<BR>
          <font face="{font}" size=1>Shop and inventory hack by: <b>The Stinger</b> © 2002 <br> 
           inventory shop hack version: <b>0.98</b></font><BR>
        </div>
      </td>
    </tr>
  </table>
  <BR><BR>
</center>
</body>
</html>