<body background="images/bg.jpg">$header
<font color="white">
<BR>
<center>
<table width="99%" border="0" cellspacing="0" cellpadding="0" bordercolor="black" alink="white" vlink="white" link="white">
  <tr>
      <td background="images/bg2.jpg" height="293"><BR>
        <center>
      <table width="95%" bgcolor="black">
        <tr>
              <td background="images/cellpic2.jpg"> <font color="#FFFFFF">User 
                inventory- $user_name</font></td>
        </tr>
        <tr>
              <td background="images/cat1.jpg" height="442"> 
                <table width="100%" border="0" cellspacing="0" cellpadding="0" height="300">
                  <tr> 
                    <td width="50%" height="118"> 
                      <table width="100%" border="0" cellspacing="2" cellpadding="1" bordercolor="#000000" bgcolor="#000000">
                        <tr> 
                          <td background="images/cellpic.gif" height="38" width="100%"><font color="#FFFFFF">Small 
                            items- </font></td>
                        </tr>
                        <tr> 
                          <td background="images/cat2.jpg" height="100" width="100%"> 
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr> 
                                <td width="50%">$useritem1 </td>
                                <td width="50%">Sell</td>
                                <td><img src="images/inv/_$item[smallitemname].gif"></td>
                              </tr>
                              <tr> 
                                <td>$useritem2</td>
                                <td>Sell</td>
                                <td><img src="images/inv/_$item[smallitemname].gif"></td>
                              </tr>
                              <tr> 
                                <td>$useritem3</td>
                                <td>Sell</td>
                                <td><img src="images/inv/_$item[smallitemname].gif"></td>
                              </tr>
                              <tr> 
                                <td>$useritem4</td>
                                <td>Sell</td>
                                <td><img src="images/inv/_$item[smallitemname].gif"></td>
                              </tr>
                              <tr> 
                                <td>$useritem5</td>
                                <td>Sell</td>
                                <td><img src="images/inv/_$item[smallitemname].gif"></td>
                              </tr>
                              <tr> 
                                <td>$useritem6</td>
                                <td>Sell</td>
                                <td><img src="images/inv/_$item[smallitemname].gif"></td>
                              </tr>
                              <tr> 
                                <td>$useritem7</td>
                                <td>Sell</td>
                                <td><img src="images/inv/_$item[smallitemname].gif"></td>
                              </tr>
                              <tr> 
                                <td>$useritem8 </td>
                                <td>Sell</td>
                                <td><img src="images/inv/_$item[smallitemname].gif"></td>
                              </tr>
                            </table>
                            
                          </td>
                        </tr>
                      </table>
                      <table width="100%" border="0" cellspacing="0" cellpadding="0" height="100">
                        <tr> 
                          <td width="100%">&nbsp;</td>
                        </tr>
                      </table>
                      <table bgcolor="#000000" height="100" width="100%" border="0" cellspacing="2" cellpadding="1" bordercolor="#000000">
                        <tr> 
                          <td background="images/cellpic.gif" height="38" width="100%"><font color="#FFFFFF">Special 
                            items-</font> </td>
                        </tr>
                        <tr> 
                          <td background="images/cat2.jpg" height="100" width="100%"> 
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr> 
                                <td width="50%">$userextra1 </td>
                                <td width="50%">Sell</td>
                                <td><img src="images/inv/_$item[smallitemname].gif"></td>
                              </tr>
                            </table>
                            <BR>
                            <BR>
                            <BR>
                            <BR><BR></td>
                        </tr>
                      </table>


                    </td>
                    <td width="50%" height="118"> 
                      <div align="center"> 
                        <table width="90%" border="0" cellspacing="2" cellpadding="1" bordercolor="#000000" bgcolor="#000000">
                          <tr> 
                            <td background="images/cellpic.gif" height="38" width="100%"><font color="#FFFFFF">Important 
                              items- </font></td>
                          </tr>
                          <tr> 
                            <td background="images/cat2.jpg" height="370" width="100%"> 
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr> 
                                  <td width="50%">Main weapon- $userweapon </td>
                                  <td width="50%">Sell</td>
                                  <td><img src="images/inv/_$item[smallitemname].gif"></td>
                                </tr>
                                <tr> 
                                  <td width="50%">Main shield- $usershield</td>
                                  <td width="50%">Sell</td>
                                  <td><img src="images/inv/_$item[smallitemname].gif"></td>
                                </tr>
                                <tr> 
                                  <td width="50%">Main armour- $userarmour</td>
                                  <td width="50%">Sell</td>
                                  <td><img src="images/inv/_$item[smallitemname].gif"></td>
                                </tr>
                                <tr> 
                                  <td width="50%">Main gloves/gauntlet- $usergloves</td>
                                  <td width="50%">Sell</td>
                                  <td><img src="images/inv/_$item[smallitemname].gif"></td>
                                </tr>
                                <tr> 
                                  <td width="50%">Main boots- $userboots</td>
                                  <td width="50%">Sell</td>
                                  <td><img src="images/inv/_$item[smallitemname].gif"></td>
                                </tr>
                              </table>
							  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
                                  <td height="270" width="100%">&nbsp;</td>
  </tr>
</table>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
        </tr>
      </table></center><BR>
    </td>
  </tr>
</table>
</center>
$footer
</font>
</body>
