<body background="images/bg.jpg">
<font color="#FFFFFF">$header
</font><font color="white"><BR>
<center>
<table width="99%" border="0" cellspacing="0" cellpadding="0" bordercolor="black" alink="white" vlink="white" link="white">
  <tr>
    <td background="images/bg2.jpg"><BR><center>
      <table width="95%" bgcolor="black">
        <tr>
              <td background="images/cellpic2.jpg" height="20"> Faq- How To</td>
        </tr>
        <tr>
              <td background="images/cat1.jpg">Battling other users- <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;First thing you do, make sure you are logged in. make sure the 
                other person is registered. Then click on battle in the links 
                section. Fill in all fields unless you don't want to listen to 
                battle music. Make sure you have a way to talk with your partner. 
                There will later be a chatroom integration into the battle field. <BR>
                Once all fields are finished, it will validate the info you entered. 
                Then it will bring you to the arena you specified. Once you are 
                in, do your attack, then copy the current link in the adress bar, 
                alter your name and change it to theirs. Then, the scripts do the rest.:)<BR>The arena pages refresh 
                themselves every 40 seconds. <BR><BR>
				Buying from the shop-<BR>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Well, this is pretty easy. Just 
                go into the shop, click on the shop you wish to buy something 
                in, and it'll do it for you. The only part that may be confusing 
                is the Small Items shop. At the top of the page, there is a drop 
                down menu which allows you to change your item slot. it allows 
                you to insert up to 8 items into your inventory. It's a neat script 
                i wrote up.</td>
        </tr>
      </table><BR>
    </center></td>
  </tr>
</table>
</center>
$footer
</font>
</body>
