<meta http-equiv="refresh" content="10;URL=$ride">
<bgsound src="battle_music/done.mid">
<body background="images/bg.jpg">
<font color="white"> 
<center>
<table width="99%" border="0" cellspacing="0" cellpadding="0" bordercolor="black" alink="white" vlink="white" link="white">
  <tr>
    <td background="images/bg2.jpg"><BR><center>
      <table width="95%" bgcolor="black">
        <tr>
              <td background="images/cellpic2.jpg" height="30">
                <div align="center">Congratulations $winnername! You have won!</div>
              </td>
        </tr>
        <tr>
              <td background="images/cat1.jpg"> Experience points awarded to the 
                winner: $winnersexp<BR>
			  Money awarded to the winner: $winnersmoney</td>
        </tr>
      </table></center><BR>
    </td>
  </tr>
</table>
</center>
</font> 
</body>
