<body background="images/bg.jpg">
<font color="white"> 
<center>
  <table width="95%" bgcolor="black">
    <tr> 
      <td background="images/cellpic2.jpg" height="30"> 
        <div align="center">LEVEL UP! $user_name</div>
      </td>
    </tr>
    <tr> 
      <td background="images/cat1.jpg"> 
        <div align="center"> 
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>Add to strength:</td>
              <td width="80%"><a href="levelup.php?action=upstrength"><font color="#000000">+</font></a></td>
            </tr>
            <tr>
              <td>Add to speed:</td>
              <td><a href="levelup.php?action=upspeed"><font color="#333333">+</font></a></td>
            </tr>
            <tr>
              <td>Add to magic:</td>
              <td><a href="levelup.php?action=upmagic"><font color="#666666">+</font></a></td>
            </tr>
            <tr>
              <td>Add to defense:</td>
              <td><a href="levelup.php?action=updefense"><font color="#999999">+</font></a></td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
</center>
</font> 
</body>
