<body background="images/bg.jpg">
<font color="white"> 
<center>
$header
<table width="99%" border="0" cellspacing="0" cellpadding="0" bordercolor="black" alink="white" vlink="white" link="white">
  <tr>
    <td background="images/bg2.jpg"><BR><center>
      <table width="95%" bgcolor="black">
        <tr>
              <td background="images/cellpic2.jpg" height="30"> Welcome $user_name! 
                <font color="#FF0000">$warning</font> </td>
        </tr>
        <tr>
              <td background="images/cat1.jpg"> 
                <div align="center">This RPG game's leader is: $rpgleader.<BR>
				Total 
                  registered members: $anzahluser 
                  <table width="95%" border="0" cellspacing="2" cellpadding="1" bordercolor="#000000" bgcolor="#000000">
                    <tr> 
                      <td background="images/cellpic2.jpg" height="30">Important...</td>
                    </tr>
                    <tr> 
                      <td background="images/cat2.jpg"> 
                        <center><BR>
                          <table width="95%" border="0" cellspacing="2" cellpadding="1" bordercolor="#000000" bgcolor="#000000">
                            <tr> 
                              <td background="images/cellpic2.jpg" height="30">Announcements-</td>
                            </tr>
                            <tr> 
                              <td background="images/cat1.jpg" height="100"> 
                                <div align="center"><table>$announcements</table></div>
                              </td>
                            </tr>
                          </table>
                          <BR>
                          <table width="95%" border="0" cellspacing="2" cellpadding="1" bordercolor="#000000" bgcolor="#000000">
                            <tr> 
                              <td background="images/cellpic2.jpg" height="30">$ifdeadtitle</td>
                            </tr>
                            <tr> 
                              <td background="images/cat1.jpg" height="100">
                                <div align="center">$ifdead<BR>
                                  $battlealert</div>
                              </td>
                            </tr>
                          </table>
						  <BR>
                          <table width="95%" border="0" cellspacing="2" cellpadding="1" bordercolor="#000000" bgcolor="#000000">
                            <tr> 
                              <td background="images/cellpic2.jpg" height="30">Chat- 
                                Refreshes every 20 seconds</td>
                            </tr>
                            <tr> 
                              <td background="images/cat1.jpg" height="100">
                              <center><iframe frameborder=0 src="chat.php" width="100%" height="100%"> </iframe></center>
                              </td>
                            </tr>
                          </table>
                          <BR></center>
                      </td>
                    </tr>
                  </table>
                <BR></div>
              </td>
        </tr>
      </table></center><BR>
    </td>
  </tr>
</table>
</center>
$footer
</font>
</body>
