<html>
<title>$myboardname - Main Shop</title></head><body background="images/bg.jpg" id="bg">
<bgsound src="$myshopmusic" loop="-1">
<div align="center">$header 
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr> 
      <td> 
        <table cellpadding="0" cellspacing="0" border="0"  width="100%" align="center">
          <tr> 
            <td background="images/bg2.jpg"> 
              <table cellpadding=0 cellspacing=0 border=0 width="100%">
                <tr> 
                  <td><font size=1><b><a href="index.php" class="link"><font color="#000000">$myboardname</font></a> 
                    » Rpg shop</b></font></td>
                  <td align="right"><font size=1><b></b></font></td>
                </tr>
              </table>
              <div align="center"><BR>
                <table cellpadding="1" cellspacing="2" border="0"  width="90%" bgcolor="#000000">
                  <tr id="cat"> 
                    <td background="images/cellpic.gif" colspan="5" height="38"><font face="verdana, arial, helvetica" size="2"><b><font color="#FFFFFF">Main 
                      Shop</font></b></font></td>
                  </tr>
                  <tr> 
                    <td align="center" valign="top" width="262" background="images/cat1.jpg"> 
                      <center>
                        <font size=1> Click on the shop that you 
                        want to enter.<br>
                        Then click on the item that you want to buy.<br>
                        To sell a item just click on it's namein your inventory<br>
                        <br>
                        <br>
                        Gold: $user_money <BR>
                        <BR>
                        </font> 
                        <table width="90%" border="0" cellspacing="2" cellpadding="1" bordercolor="#000000" bgcolor="#000000">
                          <tr> 
                            <td background="images/cellpic.gif" height="38"><font color="#FFFFFF">Current 
                              items- </font></td>
                          </tr>
                          <tr> 
                            <td background="images/cat2.jpg" height="100"> Your 
                              sword- $sword<BR>
                              Your shield- $shield<BR>
                              Your armor- $armor<BR>
                              Your helmet- $helmet<BR>
                              Your boots- $boots<br>
	                          Your glove- $gloves<br>
							  Your special item- $specialitem</td>
                          </tr>
                        </table>
                      </center>
                    </td>
                    <td align="center" valign="middle" width="479" background="images/cat2.jpg"> 
                      <table width=100% border=0 cellpadding=1 cellspacing=1 align=center valign=top>
                        <tr> 
                          <td width=15 align=center ><img src="images/inv/_weapon.gif"></td>
                          <td valign=center><font size=1> <a href=shop-weapons.php?><b><font size="2" color="#000000">Weapon 
                            Shop</font></b></a><br>
                            <font size=1> This is the weapon shop, where you can 
                            buy knives, swords, spears, axes, bows and other weapons.</font> 
                            </font></td>
                        </tr>
                        <tr> 
                          <td width=15  align=center ><img src="images/inv/_shield.gif"></td>
                          <td valign=center><font size=1><a href=shop-shield.php?><b><font size="2" color="#000000">Shield 
                            Shop</font></b></a><br>
                            <font size=1> Need a good shield? Buy it at the shield 
                            shop!</font></font></td>
                        </tr>
                        <tr> 
                          <td width=15 align=center ><img src="images/inv/_armor.gif"></td>
                          <td valign=center><font size=1><a href=shop-armor.php?><b><font size="2" color="#000000">Armor 
                            Shop</font></b></a><br>
                            <font size=1> You can buy all different types of armor 
                            at the armor shop</font></font></td>
                        </tr>
                        <tr> 
                          <td width=15 align=center ><img src="images/inv/_helmet.gif"></td>
                          <td valign=center><font size=1><a href=shop-helmet.php?><b><font size="2" color="#000000">Helmet 
                            Shop</font></b></a><br>
                            <font size=1> The helmet shop for all the stuff you 
                            need to have to protect your head</font></font></td>
                        </tr>
                        <tr> 
                          <td width=15 align=center ><img src="images/inv/_boots.gif"></td>
                          <td valign=center><font size=1><a href=shop-boots.php?><b><font size="2" color="#000000">Boots 
                            Shop</font></b></a><br>
                            <font size=1> The boot shop for all your footwear</font></font></td>
                        </tr>
                        <tr> 
                          <td width=15 align=center ><img src="images/inv/_glove.gif"></td>
                          <td valign=center>
						    <font size=1><a href=shop-gloves.php?><b><font size="2" color="#000000"> 
                            Glove/Gauntlet Shop</font></b></a><br>
                            <font size=1> Need gear for your hands?</font></font></td>
                        </tr>
                        <tr> 
                          <td width=15 align=center ><img src="images/inv/_specialitem.gif"></td>
                          <td valign=center> <font size=1><a href=shop-specialitem.php?><b><font size="2" color="#000000"> 
                            Special items Shop</font></b></a><br>
                            <font size=1> Only highly unique items...very expensive!</font></font></td>
                        </tr>
                        <tr> 
                          <td width=15 align=center ><img src="images/inv/_smallitem.gif"></td>
                          <td valign=center> <font size=1><a href=shop-smallitem.php?><b><font size="2" color="#000000"> 
                            Small items Shop</font></b></a><br>
                            <font size=1> Get your potions and what not, don't 
                            forget</font></font></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <font size=1>Shop and inventory hack by: <b>The Stinger</b> © 
                2002 <br>
                Inventory shop hack version: <b>0.98</b></font><BR>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
<tr id="tableb">
			
  <td>&nbsp; </td>
		</tr>
</body>
</html>