
<table width="100%">
  <tr>
    <td> 
      <div align="center"><font color="#ffffff">[<a href="misc.php?action=login"><font color="#ffffff">Log 
        in</font></a> | <a href="action.php?action=logout"><font color="#ffffff">Log 
        out</font></a> | <a href="cp-index.php"><font color="#ffffff">Control 
        Panel</font></a> $ifisadmin | <a href="cp-inventory.php"><font color="#ffffff">My 
        inventory</font></a> | <a href="shop-main.php"><font color="#ffffff">The 
        shop</font></a> | <a href="members.php?mode=view&by=username&order=DESC"><font color="#ffffff">Members</font></a> 
        | <a href="faq.php"><font color="#ffffff">Faq</font></a> | <a href="index.php"><font color="#ffffff">Home</font></a> 
        | <a href="misc.php?action=register"><font color="#ffffff">Register</font></a> 
        | <a href="battle.php"><font color="#ffffff">Battle</font></a>] </font></div>
    </td>
  </tr>
</table>