                        <tr bgcolor="{tableb}" id="tableb">
                                <td align="center" colspan=2><FONT face="{font}" size=2><B>Choose your avatar:</B></font></td>
                        </tr>
                        <tr bgcolor="{tablec}" id="tablec">
                                <td align="center" colspan=2><table border=0 cellpadding=4 cellspacing=1 bgcolor="{tablebordercolor}">$avatarbit</table><FONT face="{font}" size=2>Avatar $countvon to $countbis of $countall $page_link</font></td>
                        </tr>