<tr>
	<td bgcolor="{tablec}" id="tablec" align="center">$on_or_off</td>
	<td bgcolor="{tableb}" id="tableb" valign="top"><font size=2 face="{font}"><a class="link" href="board.php?boardid=$boards[boardid]$session"><b>$boards[boardname]</b></a></font><font size=1 face="{font}"> [<a href="action.php?action=delboard&boardid=$boards[boardid]$session" class="link">Delete</a>]<br>$boards[descriptiontext] $subboards</font></td>
	<td bgcolor="{tablec}" id="tablec" align="center" nowrap><font size=2 face="{font}">$totalthreads&nbsp;</font></td>
	<td bgcolor="{tableb}" id="tableb" align="center" nowrap><font size=2 face="{font}">$totalposts&nbsp;</font></td>
	<td bgcolor="{tablec}" id="tablec" align="center" nowrap><font size=1 face="{font}">$last_post</font></td>
	<td bgcolor="{tableb}" id="tableb" align="center"><font size=1 face="{font}">$moderate</font></td>
</tr>