<html>
<head>
<title>$master_board_name - Change Password</title>
$headinclude
</head>

<body bgcolor="{pagebgcolor}" text="{fontcolorfirst}"{hgpicture}{bgproperties} id="bg">
        $header
                <tr bgcolor="{tableb}" id="tableb">
			<td><table cellpadding=0 cellspacing=0 border=0 width="100%">
				<tr>
					<td><font face="{font}" size=1><b><a href="main.php?styleid=$styleid$session">$master_board_name</a> » <a href="profile.php?boardid=$boardid&styleid=$styleid$session">Control Panel of $user_name</a> » Change Password</b></font></td>
					<td align="right"><font face="{font}" size=1><b>$navibar_hello</b></font></td>
				</tr>
			</table></td>
		</tr>
		</table><br>$error
		<table border=0 cellpadding=4 cellspacing=1 width=100% bgcolor="{tablebordercolor}" align="center">
                        <tr bgcolor="{tablea}" id="title">
                                <TD COLSPAN=2><FORM ACTION="profile.php" METHOD="POST"><FONT face="{font}" size=2 color="{fontcolorsecond}"><B>Change Password</B></font></td>
                        </tr>
                        <tr bgcolor="{tableb}" id="tableb">
                                <td nowrap><FONT face="{font}" size=2><B>Old Password:</B></font></td>
                                <td><INPUT class="input" TYPE="PASSWORD" NAME="old_password"><FONT face="{font}" size=1> <a href="misc2.php?action=forgotpw$session">Forgot your password?</a></font></td>
                        </tr>
                        <tr bgcolor="{tablec}" id="tablec">
                                <td nowrap><FONT face="{font}" size=2><B>New Password:</B></font></td>
                                <td><INPUT class="input" TYPE="PASSWORD" NAME="password"></td>
                        </tr>
                        <tr bgcolor="{tablec}" id="tablec">
                                <td nowrap><FONT face="{font}" size=2><B>Repeat New Password:</B></font></td>
                                <td><INPUT class="input" TYPE="PASSWORD" NAME="confirmpassword"></td>
                        </tr>
                </table>
        </div><br>
        <div align="center">
        <input type="hidden" name="mode" value="$mode">
        <INPUT TYPE="HIDDEN" NAME="boardid" VALUE="$boardid">
        <input type="hidden" name="send" value="send">
        $session_post
        <INPUT class="input" TYPE="SUBMIT" VALUE="Save">
        <INPUT class="input" TYPE="RESET" VALUE="Reset"></div>
        </form>
        $footer
</body>
</html>


