                        <tr bgcolor="{tableb}" id="tableb">
                                <td width="50%" valign="top"><FONT face="{font}" size=2><B>Use custom avatar:</B><br><font size=1>Custom avatars have a maximum size of $avatar_width*$avatar_height pixels and $avatar_size bytes.</font></font></td>
                                <td width="50%"><FONT face="{font}" size=2>$havatar<INPUT TYPE="RADIO" NAME="avatarid" VALUE="useown"$checked2> Yes</font><br>$ownavatar</td>
                        </tr>
                        <tr bgcolor="{tablec}" id="tablec">
                                <td width="50%"><FONT face="{font}" size=2><B>Upload avatar:</B></font></td>
                                <td width="50%"><INPUT TYPE="HIDDEN" NAME="fieldCounter" VALUE="1"> <INPUT TYPE="HIDDEN" NAME="uploadFileName[0]" VALUE="uploadfile"><input name="uploadfile" type="file" class="input"></td>
                        </tr>
		                   
                        