                <table border=0 cellpadding=4 cellspacing=1 width="100%" bgcolor="{tablebordercolor}">
                        <tr bgcolor="{tablea}" id="title">
                                <TD COLSPAN=2><FONT face="{font}" size=2 color="{fontcolorsecond}"><B>Old Signature</B></font></td>
                        </tr>
                        <tr>
				<td width="50%" bgcolor="{tableb}" id="tableb"><FONT face="{font}" size=1><B>Signature on {tableb}:</B><br><font size=2>$old_signature</font></font></td>
				<td width="50%" bgcolor="{tablec}" id="tablec"><FONT face="{font}" size=1><B>Signature on {tablec}:</B><br><font size=2>$old_signature</font></font></td>
			</tr>
        	</table><br>