			<table cellpadding=4 cellspacing=1 border=0 width="100%" bgcolor="{tablebordercolor}">
			<tr bgcolor="{tablea}" id="title">
				<td nowrap colspan=3 align="center"><font size=1 face="{font}" color="{fontcolorsecond}"><b>Thread</b></font></td>
				<td nowrap align="center"><font size=1 face="{font}" color="{fontcolorsecond}"><b>Thread Starter</font></b></td>
				<td nowrap align="center"><font size=1 face="{font}" color="{fontcolorsecond}"><b>Replies</font></b></td>
				<td nowrap align="center"><font size=1 face="{font}" color="{fontcolorsecond}"><b>Views</b></font></td>
				<td nowrap align="center"><font size=1 face="{font}" color="{fontcolorsecond}"><b>Rating</b></font></td>
				<td nowrap align="center"><font size=1 face="{font}" color="{fontcolorsecond}"><b>Last Post</b></font></td>
			</tr>$threadbit
			</table>