<html>
<head>
<title>$master_board_name - Error</title>
$headinclude
</head>

<body bgcolor="{pagebgcolor}" text="{fontcolorfirst}"{hgpicture}{bgproperties} id="bg">
	$header
		</table><br>
		<table border=0 bgcolor="{tablebordercolor}" cellpadding=4 cellspacing=1 width=100%>
			<tr bgcolor="{tablea}" id="title">
				<TD><FONT face="{font}" size=2 color="{fontcolorsecond}"><B>Error Message</B></font></td>
			</tr>
			<tr bgcolor="{tablec}" id="tablec">
				<td align="center"><FONT face="{font}" size=2><b>The Adminstrator decided to have no new registrations at the moment.</b>
					</font>
			</tr>
		</form></table>	
		<table width="100%">
			<tr>
				<td align="right">$board_jump</td>
			</tr>
		</table>
	</div>
	$footer
</body>
</html>		
