<body background="images/bg.jpg">
<font color="white"> 
<center>
<table width="99%" border="0" cellspacing="0" cellpadding="0" bordercolor="black" alink="white" vlink="white" link="white">
  <tr>
    <td background="images/bg2.jpg"><BR><center>
      <table width="95%" bgcolor="black">
        <tr>
              <td background="images/cellpic2.jpg" height="30"> $myname&nbsp;&nbsp;VS.&nbsp;&nbsp;$challenger! 
              </td>
        </tr>
        <tr>
              <td background="images/cat1.jpg"> 
                <div align="center">The battle has begun!
<table width="100%" border="0" cellspacing="1" cellpadding="2" bgcolor="#000000" bordercolor="#000000">
                    <tr>
                      <td background="images/cellpic2.jpg" height="30" width="50%">$myname 
                        stats- </td>
                      <td background="images/cellpic2.jpg" height="30" width="50%">$challenger 
                        stats- </td>
                    </tr>
                    <tr>
                      <td background="images/cat2.jpg" width="50%"> [X]User Level: 
                        $userlevel<BR>
                        [X]User EXP: $userexp <BR>
                        [X]User HP: $userhitpoint <BR>
                        [X]User MP: $usermagicpoint <BR>
                        [X]User Defense Level: $userdefense <BR>
                        [X]User Strength: $userstrength <BR>
                        [X]User Magic: $usermagic <BR>
                        [X]User Speed: $userspeed <BR>
                        [X]User Weapon: $userweapon <BR>
                        [X]User Shield: $usershield <br>
                        [X]User armour: $userarmour<BR>
                        [X]User Gloves: $usergloves <BR>
                        [X]User Boots: $userboots <BR>
                        [X]User Special: $userextra1<BR>
                        [X]User Money: $usermoney <br>
                        [X]User Damage: $damage<br>
                        [X]HP after attack: $fulldamage<BR>
                        [X]Boot heal: $userboot_heal<BR>
                        [X]Armour heal: $userarmour_heal<BR>
                        [X]Helmet heal: $userhelmet_heal<BR>
                        [X]Glove heal: $userglove_heal<BR>
                        [X]Full guard heal: $fullguardheal <BR>
                        [X]Exp increase: $totalexpincrease <BR>
                        [X]Money increase: $totalmoneyincrease <BR>
                        [X]HP addon: $hpaddon <BR>
                        [X]MP addon: $mpaddon <BR>
                        [X]Max hitpoint: $maxhitpoint <BR>
                        [X]Hitpoint increase: $hitpointincrease
</td>
                      <td background="images/cat2.jpg" width="50%">[X]User Level: 
                        $userlevel2<br>
                        [X]User EXP: $userexp2<br>
                        [X]User HP: $userhitpoint2 <br>
                        [X]User MP: $usermagicpoint2 <br>
                        [X]User Defense Level: $userdefense2 <br>
                        [X]User Strength: $userstrength2<br>
                        [X]User Magic: $usermagic2 <br>
                        [X]User Speed: $userspeed2<BR>
                        [X]User Weapon: $userweapon2 <br>
                        [X]User Shield: $usershield2 <br>
                        [X]User armour: $userarmour2<br>
                        [X]User Gloves: $usergloves2 <br>
                        [X]User Boots: $userboots2 <br>
                        [X]User Special: $userextra12<BR>
                        [X]User Money: $usermoney2 <br>
                        [X]User Damage: $damage2<br>
                        [X]HP after attack: $fulldamage2<BR>
                        [X]Boot heal: $userboot_heal2<BR>
                        [X]Armour heal: $userarmour_heal2<BR>
                        [X]Helmet heal: $userhelmet_heal2<BR>
                        [X]Glove heal: $userglove_heal2<BR>
                        [X]Full guard heal: $fullguardheal2 <BR>
                        [X]Exp increase: $totalexpincrease2 <BR>
                        [X]Money increase: $totalmoneyincrease2 <BR>
                        [X]HP addon: $hpaddon2 <BR>
                        [X]MP addon: $mpaddon2 <BR>
                        [X]Max hitpoint: $maxhitpoint2 <BR>
                        [X]Hitpoint increase: $hitpointincrease2
</td>
                    </tr>
                  </table>
                </div>
              </td>
        </tr>
      </table></center><BR>
    </td>
  </tr>
</table>
</center>
</font> 
</body>
