<HTML><HEAD><TITLE>Registration</TITLE>
</HEAD>
<BODY bgColor=#ffffff topMargin=0>
<CENTER>
<TABLE cellPadding=0 cellSpacing=4 width=590>
  <TBODY>
  <TR>
    <TD colSpan=2 height=2>
      <TABLE border=0 cellPadding=0 cellSpacing=0 width="100%">
        <TBODY>
        <TR>
          <TD>&nbsp; </TD>
          <TD align=middle noWrap><BR></TD></TR></TBODY></TABLE></TD></TR>
  <TR>
    <TD bgColor=#cccc99 colSpan=2><FONT class=f><B> 
      Registration</B></FONT></TD></TR></TBODY></TABLE>
  <FORM action=<!--URL--> method=post><INPUT name=action type=hidden value=regis> 
<TABLE border=0 cellPadding=3 cellSpacing=4 width=590>

  <TBODY>
  <TR>
    <TD width=103></TR>
  
  <TR>
    <TD bgColor=#eeeecc colSpan=3><FONT class=f color=#333333 size=2><B><A 
      name=profiletop>Profile Information</A></B></FONT> </TD></TR>
  <TR>
    <TD width=103><FONT class=sbd>First Name </FONT></TD>
    <TD width=195><INPUT maxLength=40 name=FIRSTNAME size=23> </TD>
    <TD bgColor=#eeeedd rowSpan=2 width=258><FONT class=s>Your full name will 
      be Kept in Your Profile. </FONT></TD></TR>
  <TR>
    <TD width=103><FONT class=sbd>Last Name </FONT></TD>
    <TD width=195><INPUT maxLength=40 name=NAME size=23> </TD></TR><INPUT 
  name=CountryCode type=hidden> 
  <TR>
    <TD width=103><FONT class=sbd>City, State, and Zipcode</FONT> </TD>
    <TD colSpan=2><FONT class=s><NOBR></FONT><NOBR><INPUT name=ADDRESS 
      size=23> </NOBR></TD></TR>
  <TR>
    <TD width=103><FONT class=sbd>Gender</FONT> </TD>
    <TD colSpan=2><FONT class=s><INPUT CHECKED name=SEX type=radio value=male> 
      Male &nbsp;&nbsp;&nbsp;&nbsp; <INPUT name=SEX type=radio value=female> 
      Female </FONT></TD></TR>
  <TR>
    <TD width=103><FONT class=sbd>Birthday</FONT> </TD>
    <TD colSpan=2><FONT class=s><NOBR></FONT><NOBR><INPUT name=BIRTH> 
    </NOBR></TD></TR>
  <TR>
    <TD width=103><FONT class=sbd>Occupation</FONT> </TD>
    <TD colSpan=2><SELECT name=OCC> <OPTION selected value="">[Select 
        One]<OPTION value=Accounting/Finance>Accounting/Finance<OPTION 
        value="Computer_related_(IS, DP) MIS">Computer related (IS, MIS, 
        DP)<OPTION value=Computer_related_(WWW)>Computer related (WWW)<OPTION 
        value=Consulting>Consulting<OPTION 
        value=Customer_service/support>Customer service/support<OPTION 
        value=Education/training>Education/training<OPTION 
        value=Engineering>Engineering<OPTION 
        value=Executive/senior_management>Executive/senior management<OPTION 
        value=General_administrative/supervisory>General 
        administrative/supervisory<OPTION 
        value=Government/Military>Government/Military<OPTION 
        value=Manufacturing/production/operations>Manufacturing/production/operations<OPTION 
        value=Professional_services>Professional services (medical, legal, 
        etc.)<OPTION value=Research_and_development>Research and 
        development<OPTION value=Retired>Retired<OPTION 
        value=Sales/marketing/advertising>Sales/marketing/advertising<OPTION 
        value=Self-employed/owner>Self-employed/owner<OPTION 
        value=Student>Student<OPTION 
        value=Unemployed/Between_Jobs>Unemployed/Between Jobs</OPTION></SELECT> 
  </TD></TR>
  <TR>
    <TD bgColor=#eeeecc colSpan=3><FONT class=f color=#333333 
      size=2><B>Account Information</B></FONT> </TD></TR>
  <TR>
    <TD width=103><FONT class=sbd>Sign-In Name</FONT> </TD>
    <TD noWrap width=195><FONT class=s><B><INPUT maxLength=64 name=USERNAME 
      size=10>@<select size="1" name="MAIL"><!--MAIL--></select></B></FONT>&nbsp; </TD>
    <TD bgColor=#eeeedd width=258><FONT class=s>Begin with a letter, and use 
      only letters (a-z), numbers (0-9), the underscore (_), and <B>no 
      spaces</B>. </FONT></TD></TR>
  <TR>
    <TD width=103><FONT class=sbd><A name=midpage>Password</A></FONT> </TD>
    <TD width=195><INPUT name=NEWPASSWORD type=password> </TD>
    <TD bgColor=#eeeedd rowSpan=2 width=258><FONT class=s>Must be <B>at least 
      four (4) characters long</B>, may contain numbers (0-9) and upper and 
      lowercase letters (A-Z, a-z), but <B>no spaces</B>. Make sure it is 
      difficult for others to guess! </FONT></TD></TR>
  <TR>
    <TD width=103><FONT class=sbd>Re-enter Password</FONT> </TD>
    <TD width=195><INPUT name=NEWPASSWORD2 type=password> </TD></TR>
  <TR>
    <TD width=103><FONT class=sbd>Secret Question</FONT> </TD>
    <TD width=195><INPUT name=QUESTION><b>?</b></TD>
    <TD bgColor=#eeeedd rowSpan=2 width=258><FONT class=s>Choose a question 
      only you know the answer to and that has nothing to do with your password. 
      If you forget your password, we'll verify your identity by asking you this 
      question. </FONT></TD></TR>
  <TR>
    <TD width=103><FONT class=sbd>Answer to Secret&nbsp;Question</FONT> </TD>
    <TD width=195><INPUT name=ANSWER> </TD></TR>
<TR>
    <TD width=103><FONT class=sbd>Notify you by email when you get a message?> </TD>
    <TD width=195><INPUT type=checkbox name=NOTYES> Email address: </FONT><INPUT name=NOTIFY> </TD></TR>
    </TABLE><br><b><font size="2">You must now read the terms of Service, and choose whether or not to accept them.</b></font></CENTER>
<P> </P>
<TABLE border=0 cellPadding=2 cellSpacing=0 width="100%">
  <TBODY> 
  <TR bgcolor="#666666"> 
    <TD colSpan=3><FONT class=fw size=4 color=#FFFFFF>TERMS OF SERVICE </FONT></TD>
  </TR>
  <TR vAlign=top> 
    <TD colSpan=3></TD>
  </TR>
  </TBODY>
</TABLE>
<P>
<FONT class=f size=2><FONT class=f size=2> 1. MEMBER CONDUCT 
<P>As a condition of your use of the Service, you warrant us that you 
  will not use the Service for any purpose that is unlawful or prohibited by these 
  terms, conditions, and notices. 
<P>The Service is provided to individuals only and for personal use only. You 
agree to use the Service only to send and receive personal messages. Any 
unauthorized commercial use of the Service, or the resale of its services, is 
expressly prohibited. 
<P>You agree to abide by all applicable local, state, national and international 
laws and regulations and are solely responsible for all acts or omissions that 
occur under your account or password, including the content of your 
transmissions through the Service. By way of example, and not as a limitation, 
you agree not to: 
<P>
<UL>
  <LI>Use the Service in connection with surveys, contests, pyramid schemes, 
  chain letters, junk email, spamming or any duplicative or unsolicited messages 
  (commercial or otherwise). 
  <LI>Defame, abuse, harass, stalk, threaten or otherwise violate the legal 
  rights (such as rights of privacy and publicity) of others. 
  <LI>Publish, distribute or disseminate any inappropriate, profane, defamatory, 
  infringing, obscene, indecent or unlawful material or information. 
  <LI>Advertise or offer to sell or buy any goods or services for any 
  non-personal purpose. 
  <LI>Harvest or otherwise collect information about others, including email 
  addresses, without their consent. 
  <LI>Create a false identity for the purpose of misleading others as to the 
  identity of the sender or the origin of a message. 
  <LI>Use, download or otherwise copy, or provide (whether or not for a fee) to 
  a person or entity that is not a Service member any directory of the Service 
  members or other user or usage information or any portion thereof other than 
  in the context of your use of the Service as permitted under the TOS. 
  <LI>Transmit or upload any material that contains viruses, trojan horses, 
  worms, time bombs, cancelbots, or any other harmful or deleterious programs. 
  <LI>Transmit or upload any material that contains software or other material 
  protected by intellectual property laws, rights of privacy or publicity or any 
  other applicable law unless you own or control the rights thereto or have 
  received all necessary consents. 
  <LI>Interfere with or disrupt networks connected to the Service or violate the 
  regulations, policies or procedures of such networks. 
  <LI>Attempt to gain unauthorized access to the Service, other accounts, 
  computer systems or networks connected to the Service, through password mining 
  or any other means. 
  <LI>Violate any applicable laws or regulations including, without limitation, 
  laws regarding the transmission of technical data or software exported from 
  the United States through the service. 
  <LI>Interfere with another member's use and enjoyment of the Service or 
  another individual's or entity's use and enjoyment of similar services. 
</LI></UL>
We has no obligation to monitor the Service or any user's use thereof or 
retain the content of any user session. However, we reserve the right at 
all times to monitor, review, retain and/or disclose any information as necessary 
to satisfy any applicable law, regulation, legal process or governmental request. 
<P>2. LINKS TO THIRD PARTY SITES 
<P>THE LINKS INCLUDED WITHIN THE SERVICE MAY LET YOU LEAVE THE SERVICE WEB SITES 
  ("LINKED SITES"). THE LINKED SITES ARE NOT UNDER THE CONTROL OF OUR SERVICE IS 
  NOT RESPONSIBLE FOR THE CONTENTS OF ANY LINKED SITE OR ANY LINK CONTAINED IN 
  A LINKED SITE, OR ANY CHANGES OR UPDATES TO SUCH SITES. WE ARE NOT RESPONSIBLE 
  FOR WEBCASTING OR ANY OTHER FORM OF TRANSMISSION RECEIVED FROM ANY LINKED SITE. 
  WE ARE PROVIDING THESE LINKS TO YOU ONLY AS A CONVENIENCE, AND THE INCLUSION 
  OF ANY LINK DOES NOT IMPLY ENDORSEMENT BY US OF THE SITE OR ANY ASSOCIATION 
  WITH THEIR OPERATORS. 
<P>3. DISCLAIMERS/LIMITATION OF LIABILITY 
<P>The information and services included in or available through the Service may 
  include inaccuracies or typographical errors. Changes are periodically added 
  to the information herein. Our service and/or its respective suppliers may make 
  improvements and/or changes in the Service at any time. 
<P>We do not represent or warrant that the Service will be uninterrupted 
  or error-free, that defects will be corrected, or that the Service or the server 
  that makes it available, are free of viruses or other harmful components. We 
  do not warrant or represent that the use or the results of the use of the 
  Service or the materials made available as part of the Service will be correct, 
  accurate, timely, or otherwise reliable. 
<P>You specifically agree that we shall not be responsible for 
unauthorized access to or alteration of your transmissions or data, any material 
or data sent or received or not sent or received, or any transactions entered 
into through the Service. You specifically agree that we are not 
responsible or liable for any threatening, defamatory, obscene, offensive or 
illegal content or conduct of any other party or any infringement of another's 
rights, including intellectual property rights. You specifically agree that 
we are not responsible for any content sent using and/or included in the 
Service by any third party. 
<P>OUR SERVICE AND/OR ITS RESPECTIVE SUPPLIERS MAKE NO REPRESENTATIONS ABOUT THE 
SUITABILITY, RELIABILITY, AVAILABILITY, TIMELINESS, AND ACCURACY OF THE SERVICE 
FOR ANY PURPOSE. THE SERVICE IS PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND. 
OUR SERVICE AND/OR ITS RESPECTIVE SUPPLIERS HEREBY DISCLAIM ALL WARRANTIES AND 
CONDITIONS WITH REGARD TO THE SERVICE, INCLUDING ALL IMPLIED WARRANTIES AND 
CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND 
NON-INFRINGEMENT. 
<P>IN NO EVENT SHALL OUR SERVICE AND/OR ITS SUPPLIERS BE LIABLE FOR ANY DIRECT, INDIRECT, 
  PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER 
  INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF USE, DATA OR PROFITS, ARISING 
  OUT OF OR IN ANY WAY CONNECTED WITH THE USE OR PERFORMANCE OF THE SERVICE OR 
  RELATED WEB SITES, WITH THE DELAY OR INABILITY TO USE THE SERVICE OR RELATED 
  WEB SITES, THE PROVISION OF OR FAILURE TO PROVIDE SERVICES, OR FOR ANY INFORMATION, 
  SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS OBTAINED THROUGH THE SERVICE, 
  OR OTHERWISE ARISING OUT OF THE USE OF THE SERVICE, WHETHER BASED ON CONTRACT, 
  TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, EVEN IF OUR SERVICE OR ANY OF 
  ITS SUPPLIERS HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGES. BECAUSE SOME STATES/JURISDICTIONS 
  DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL 
  DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IF YOU ARE DISSATISFIED 
  WITH ANY PORTION OF THE SERVICE, OR WITH ANY OF THESE TERMS OF USE, YOUR SOLE 
  AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE SERVICE AND ITS RELATED WEB 
  SITES. 
<P>4. INDEMNIFICATION 
<P>You agree to indemnify and hold our service, its parents, subsidiaries, affiliates, 
  officers and employees, harmless from any claim, demand, or damage, including 
  reasonable attorneys' fees, asserted by any third party due to or arising out 
  of your use of or conduct on the Service. 
<P>&nbsp;
</FONT></FONT><center><font size=3><b>By clicking register, I, (the user) submit to the guidelines<br> listed above for the duration of the use of our service.<br><br> 
<INPUT name=submit type=submit value=Register><br><br><br>
</FORM>
</BODY></HTML>
