A
{
text-decoration: underline;
color:#224499;
}

A:hover
{
color:#773333;
}

BODY
{ 
 background: #F9FDFF;
 color: #000000;
 font-family: helvetica, arial, verdana;
 font-size: 11px;
 scrollbar-base-color: #D8DADC;
 scrollbar-arrow-color: #000000;
} 

INPUT 
{
 background: #EEEEEE; 
 border-color: #777777;
 border-style: solid;
 border-width: 1px;
 color: #333333;
 font-size: 11px;
}

SELECT
{
 background: #EEEEEE;
 border-color: #777777;
 color: #333333;
 font-size: 11px;
}

TEXTAREA
{
 background: #F4F4F5;
 border-color: #777777;
 border-style: solid;
 border-width: 1px;
 color: #333333;
 font-size: 11px;
}

.main
{
 width: 100%;
 margin: 10px;
 background: #F7F8F8;
 color: #000000;
 padding : 5px;
 margin: 5px;
 border-color: #999999;
 border-style: solid;
 border-width: 1px;
}

.descriptionbox
{
 cols: 95;
 rows: 5;
}

P
{
 font: 12px tahoma;
}

TABLE
{
 font: 12px verdana;
}

H2
{
 font-size: 22px;
 font-family: universal, tahoma, universallight;
 font-weight: normal;
}

.nav
{
 font-family: verdana, arial;
 font-size: 12px;
}

.suggest
{
 font-family: verdana, arial;
 font-size: 12px;
 border-style: solid;
 border-width: 1px;
 border-color: #F4F5F5;
}

.link
{
 font-family: verdana, arial;
 font-size: 12px;
 background: #FAFCFE;
 border-style: inset;
 border-width: 2px;
 border-color: #EAECED;
}

.reciplink
{
 font-weight: bold;
}

.category
{
 font-family: verdana, arial;
 font-size: 12px;
 background: #F8F8F9;
 border-style: solid;
 border-width: 1px;
 border-color: #C5C9CF;
}

.commentposter
{
 font-family: verdana, arial;
 font-size: 12px;
 background: #FAFAFA;
 border-style: outset;
 border-width: 2px;
 border-color: #DDDDDF;
}

.comment
{
 padding: 5px;
 font-family: verdana, arial;
 font-size: 12px;
 background: #FEFEFE;
 border-style: solid;
 border-width: 2px;
 border-color: #DFE1E2;
}

.commentdate
{
 font-size: 9px;
 text-decoration: italics;
}

.newlinks
{
 text-align: left;
 padding: 2px;
 border-color: #EDEFF1;
 border-style: solid;
 border-width: 1px;
 margin: 3px;
}

.details
{
 padding: 10px;
 margin: 10px;
 font-family: verdana, arial;
 font-size: 12px;
 background: #FDFEFF;
 border-style: solid;
 border-width: 1px;
 border-color: #004455;
}

.detailsborder
{
 padding: 10px;
 margin: 10px;
 font-family: verdana, arial;
 font-size: 12px;
 border-style: outset;
 border-width: 2px;
 border-color: #003366;
}

.labels
{
 font-weight: bold;
}

.grouping
{
 border-style: inset;
 border-width: 1px;
 border-color: #DDDDDD;
 padding: 5px;
 margin: 5px;
}

.title
{
 font-size: 14px;
}

.important
{
 font-weight: bold;
}

.columnheader
{
 text-decoration: underline;
}

.highlighttext
{
 background-color: yellow;
 font-weight: bold;
}

.adminmenu
{
 border-style: inset;
 border-color: #DDDDDD;
 border-width: 2;
 padding: 6px;
}

.labelscolumn
{
 width: 30%;
}

.optionscolumn
{
 width: 70%;
}

.categoryname
{
 font-weight: bold;
}