<?

#///////////////////////////////////////////////////////
#//  COPYRIGHT 2002 PHPAuction.org ALL RIGHTS RESERVED//
#//  For Source code for the GPL version go to        //  
#//  http://phpauction.org and download               //
#//  Supplied by CyKuH [WTN]                          //
#///////////////////////////////////////////////////////

?>



<SCRIPT LANGUAGE="JavaScript">

<!--

function submitlogin ()

{

	document.user_login.submit ();

}

//-->

</SCRIPT>

<TABLE WIDTH="765" CELLPADDING=0 CELLSPACING=0 BGCOLOR="#FFFFFF" BORDER=0>

<TR>

<TD>

<BR>

<CENTER>
				<B><? print $tlt_font.$MSG_475; ?></B> <A HREF="help.php?topic=Item Watch"><? print $std_font.$MSG_185; ?></A>
				<BR><CENTER>
				<TABLE WIDTH="70%" ALIGN="CENTER" CELLSPACING="0" CELLPADDING="1" BORDER="0">
					<TR> 
						<TD><? echo stripslashes
($TPL_item_watch); ?></TD></TR><TD>
						<CENTER><BR>
						</FORM></TD>
					</TR>
					<TR><TD></TD><TD>
				</TD></TR>
				</TABLE>
				<BR>
          <BR>


</CENTER>

</TD>

</TR>

</TABLE>


