<?

#///////////////////////////////////////////////////////
#//  COPYRIGHT 2002 PHPAuction.org ALL RIGHTS RESERVED//
#//  For Source code for the GPL version go to        //  
#//  http://phpauction.org and download               //
#//  Supplied by CyKuH [WTN]                          //
#///////////////////////////////////////////////////////

?>



<TABLE WIDTH="765" BGCOLOR="#FFFFFF" BORDER=0 CELLPADDING="0" CELLSPACING="0">

<TR>

<TD>

<!-- TABLE WITH CATEGORIES -->

<CENTER>

<center>
          <? print $tlt_font.stripslashes($new[title]); ?> 
        </center>
<br>
        <br>
        <TABLE width="80%" border="0" cellspacing="0" cellpadding="0">
          <TR> 
            <TD colspan="2"><? print $std_font.stripslashes($new[content]); ?></TD>
          </TR>
        </TABLE>
        <br>
        <br>
		<A HREF="viewallnews.php"><? print $std_font.$MSG_341; ?></A>
		<BR><BR>

</CENTER>



</TD>

</TR>

</TABLE>


