<?
#///////////////////////////////////////////////////////
#//  COPYRIGHT 2002 PHPAuction.org ALL RIGHTS RESERVED//
#//  For Source code for the GPL version go to        //  
#//  http://phpauction.org and download               //
#//  Supplied by CyKuH [WTN]                          //
#///////////////////////////////////////////////////////
?>

<TABLE WIDTH="765" CELLSPACING="1" CELLPADDING="5" BORDER="0" ALIGN="CENTER" bgcolor="#FFFFFF">
<TR>
	<TD COLSPAN=5>
		<?
			print $std_font.$MSG_219;
		?>
		</FONT><B><A HREF="profile.php?user_id=<? print $user_id; ?>"><? print $TPL_user_nick; ?></A>
</B>
		<BR><IMG SRC="images/linea.gif" WIDTH="750" HEIGHT="6">
	</TD>
</TR>
</TABLE>
