<?

#///////////////////////////////////////////////////////
#//  COPYRIGHT 2002 PHPAuction.org ALL RIGHTS RESERVED//
#//  For Source code for the GPL version go to        //  
#//  http://phpauction.org and download               //
#//  Supplied by CyKuH [WTN]                          //
#///////////////////////////////////////////////////////

?>


<TABLE WIDTH="765" BGCOLOR="#FFFFFF" BORDER=0 CELLPADDING=0 CELLSPACING=0>

<TR>

<TD>



<CENTER>

<BR>

<B>

	<? print $tlt_font.$MSG_248; ?>



</B>

<BR>



          <TABLE WIDTH="600" BORDER="0" CELLPADDING="5">
            <TR> 
              <TD colspan="2" VALIGN="top" ALIGN="right"> 
                <DIV align="center">
                <P>&nbsp;</P>
                <P><B><?

		echo $err_font.$TPL_errmsg;

?></B></P>
                <P>&nbsp;</P>
              </DIV>
              </TD>
            </TR>
          </TABLE>


</CENTER>

</TD>

</TR>

</TABLE>


