<?
#///////////////////////////////////////////////////////
#//  COPYRIGHT 2002 PHPAuction.org ALL RIGHTS RESERVED//
#//  For Source code for the GPL version go to        //  
#//  http://phpauction.org and download               //
#//  Supplied by CyKuH [WTN]                          //
#///////////////////////////////////////////////////////

?>

<TABLE WIDTH="100%" BGCOLOR="#FFFFFF" BORDER=0 CELLPADDING="0" CELLSPACING="0">

<TR>

<TD>

<BR>

<CENTER>

<BR>

<B>

<?

	print $tlt_font.$MSG_509;

?>

</FONT>

</B>

<BR>

<BR>

<BR>

</FONT>

<CENTER>

<?

	print $std_font.$MSG_510;

?>

</FONT>

</CENTER>

<BR>

<BR>

</TD>

</TR>

</TABLE>


