<?
#///////////////////////////////////////////////////////
#//  COPYRIGHT 2002 PHPAuction.org ALL RIGHTS RESERVED//
#//  For Source code for the GPL version go to        //  
#//  http://phpauction.org and download               //
#//  Supplied by CyKuH [WTN]                          //
#///////////////////////////////////////////////////////
?>

<TABLE WIDTH="765" CELLPADDING=0 CELLSPACING=0 BGCOLOR="#FFFFFF" BORDER=0>
<TR>
<TD>
<? print $tlt_font; ?>
<BR>
<CENTER>
				<B> 
				<?
					print $tlt_font.$MSG_492;
				?>
				<BR><BR>
				</B> 
				<TABLE WIDTH="600" CELLSPACING="0" CELLPADDING="1" BORDER="0">
					<TR> 
						<TD>
							<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="3">
								<TR> 
									<TD ALIGN=CENTER> 
										<?=$err_font.$ERR_122;?>
									</TD>
								</TR>
							</TABLE>
						</TD>
					</TR>
				</TABLE>
				<BR>
          <BR>

</CENTER>
</TD>
</TR>
</TABLE>

