<?

#///////////////////////////////////////////////////////
#//  COPYRIGHT 2002 PHPAuction.org ALL RIGHTS RESERVED//
#//  For Source code for the GPL version go to        //  
#//  http://phpauction.org and download               //
#//  Supplied by CyKuH [WTN]                          //
#///////////////////////////////////////////////////////

?>



<TABLE WIDTH="765" BGCOLOR="#FFFFFF" BORDER=0 CELLPADDING="0" CELLSPACING="0">

<TR>

<TD>

<!-- TABLE WITH CATEGORIES -->

<CENTER>

<center><? print $tlt_font.$MSG_148; ?> - <? print $TPL_topic ?></B></I></font></center>
<br>
<TABLE WIDTH=80% CELLPADDING=0 CELLSPACING=0 BORDER=0>
<TR>
<TD>
<? print $std_font; ?>
<? print $TPL_helptext; ?>
</TD>
</TR>
<TR>
<TD ALIGN=CENTER>
<? print $std_font.$TPL_otherhelp; ?>
</TD>
</TR>
</TABLE>
<br><br>


</CENTER>



</TD>

</TR>

</TABLE>


