<?

#///////////////////////////////////////////////////////
#//  COPYRIGHT 2002 PHPAuction.org ALL RIGHTS RESERVED//
#//  For Source code for the GPL version go to        //  
#//  http://phpauction.org and download               //
#//  Supplied by CyKuH [WTN]                          //
#///////////////////////////////////////////////////////

?>

<TABLE WIDTH="765" BGCOLOR="#FFFFFF" BORDER=0 CELLPADDING=0 CELLSPACING=0>

<TR>

<TD>



<CENTER>

<FONT FACE="Verdana, Arial, Helvetica, sans-serif" SIZE="4"><BR>

	<? print $tlt_font.$MSG_001; ?>

	</B></I>

<BR>

</FONT>





<BR>

<?

	print $std_font.$MSG_016."<I>$TPL_email_hidden</I>";

?>



<BR><BR>

</CENTER>

</TD>

</TR>

</TABLE>
