<?
#///////////////////////////////////////////////////////
#//  COPYRIGHT 2002 PHPAuction.org ALL RIGHTS RESERVED//
#//  For Source code for the GPL version go to        //  
#//  http://phpauction.org and download               //
#//  Supplied by CyKuH [WTN]                          //
#///////////////////////////////////////////////////////
?>

<SCRIPT LANGUAGE="JavaScript">
<!--
function submitlogin ()
{
	document.user_login.submit ();
}
//-->
</SCRIPT>
<TABLE WIDTH="765" CELLPADDING=0 CELLSPACING=0 BGCOLOR="#FFFFFF" BORDER=0>
<TR>
<TD>
<? print $tlt_font; ?>
<BR>
<CENTER>
				<B> 
				<?
		print $tlt_font.$MSG_453;
	?>
				<BR>
				</B> 
				<TABLE WIDTH="600" CELLSPACING="0" CELLPADDING="1" BORDER="0" BGCOLOR="<?=$FONTCOLOR[$SETTINGS[bordercolor]]?>">
					<TR> 
						<TD>
							<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="3">
								<TR> 
									<TD COLSPAN="2"> 
										<? print $nav_font; ?>
										<? print $MSG_247."<B>$HTTP_SESSION_VARS[PHPAUCTION_LOGGED_IN_USERNAME]</B>"; ?>
									</TD>
									<TD ALIGN=RIGHT COLSPAN="2"> <A HREF=user_menu.php> 
										<?=$nav_font?>
										<?=$MSG_234?></FONT>
										</A> </TD>
								</TR>
								<?
									if(is_array($AUCTIONS))
									{
										while(list($k,$v) = each($AUCTIONS))
										{
								?>
								<TR VALIGN="TOP" BGCOLOR="#FFFFFF"> 
									<TD COLSPAN="4"> 
										<?=$std_font?>
										<?=$MSG_458?>
										<B><A HREF=item.php?id=<?=$k?> TARGET=_blank> 
										<?=$std_font.$v?>
										</A></B> </TD>
								</TR>
								<TR VALIGN="TOP" BGCOLOR="#FFFFFF"> 
									<TD COLSPAN="4"> 
										<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="0">
											<TR> 
												<TD BGCOLOR="#000000"><IMG SRC="./images/transparent.gif" WIDTH="1" HEIGHT="1"></TD>
											</TR>
										</TABLE>
									</TD>
								</TR>
								<?

                                ;
									if($FEE[$k] == 0)
									{
								?>
											<TR> 
									<TD WIDTH="33%" BGCOLOR="#EEEEEE"> 
										<?=$std_font.$MSG_455;?>
									</TD>
									<TD WIDTH="33%" BGCOLOR="#EEEEEE"> 
										<?=$std_font.$MSG_456;?>
									</TD>
									<TD WIDTH="17%" BGCOLOR="#EEEEEE"> 
										<?=$std_font.$MSG_457;?>
									</TD>
									<TD WIDTH="17%" BGCOLOR="#EEEEEE"> 
										<?=$std_font.$MSG_902;?>
									</TD>
								</TR>
								<?
										$W = explode("|",$WINNERS[$k]);
										$W_BID = explode("|",$WINNERS_BID[$k]);
										$W_QTY = explode("|",$WINNERS_QTY[$k]);
										$W_EMAIL = explode("|",$WINNERS_EMAIL[$k]);
										$W_NICK = explode("|",$WINNERS_NICK[$k]);
										$COUNTER = 1;
										while($COUNTER < count($W))
										{
									?>
								<TR> 
									<TD WIDTH="33%" BGCOLOR="#FFFFFF"> 
										<?=$std_font;?>
										<A HREF=profile.php?user_id=<?=$W[$COUNTER]?>> 
										<?=$W_NICK[$COUNTER]?>
										</A> <BR>
									</TD>
									<TD WIDTH="33%" BGCOLOR="#FFFFFF"> 
										<?=$std_font;?>
										<A HREF=mailto:<?=$W_EMAIL[$COUNTER]?>> 
										<?=$W_EMAIL[$COUNTER]?>
										</A> </TD>
									<TD WIDTH="17%" BGCOLOR="#FFFFFF"> 
										<?=$std_font;?>
										<?=print_money($W_BID[$COUNTER])?>
									</TD>
									<TD WIDTH="17%" BGCOLOR="#FFFFFF"> 
										<?=$std_font;?>
										<?
											if($W_QTY[$COUNTER] > 0)
											{
												print $W_QTY[$COUNTER];
											}
											else
											{
												print "--";
											}
											
											$COUNTER++;
										}
										?>
									</TD>
								</TR>
								<?
									}
									elseif($FEE[$k] == 1 || $FEE[$k] == 3)
									{
								?>
								<TR> 
									<TD COLSPAN=4 BGCOLOR="#FFFFFF">
										<?=$std_font.$MSG_489?>
										<BR>
										<?
											$W_BID = explode("|",$WINNERS_BID[$k]);
										
										?>
										<?=$std_font.$MSG_493?>&nbsp;<?=print_money($W_BID[1])?>&nbsp;&nbsp;&nbsp;
										[<A HREF=pay_seller_fee.php?auction=<?=$k?>><?=$MSG_492?>]</A>
									</TD>
								</TR>
								<?
									}
									elseif($FEE[$k] == 2)
									{
								?>
								<TR> 
									<TD COLSPAN=4 BGCOLOR="#FFFFFF">
										<?=$std_font.$MSG_491?>
									</TD>
								</TR>
								<?
									}
								?>
								<TR> 
									<TD COLSPAN=4 BGCOLOR="#FFFFFF">&nbsp;</TD>
								</TR>
								<?
										}
									}
								?>
							</TABLE>
						</TD>
					</TR>
				</TABLE>
				<BR>
          <BR>

</CENTER>
</TD>
</TR>
</TABLE>

