<?
#///////////////////////////////////////////////////////
#//  COPYRIGHT 2002 PHPAuction.org ALL RIGHTS RESERVED//
#//  For Source code for the GPL version go to        //  
#//  http://phpauction.org and download               //
#//  Supplied by CyKuH [WTN]                          //
#///////////////////////////////////////////////////////
?>

<TABLE WIDTH="765" BGCOLOR="#FFFFFF" BORDER=0 CELLPADDING="0" CELLSPACING="0">
<TR>
<TD>
<!-- TABLE WITH CATEGORIES -->
<TABLE WIDTH=750 BORDER=0 CELLPADDING=4 CELLSPACING=0 ALIGN=CENTER>

<TR ALIGN=LEFT>
	<TD COLSPAN=3>
		<? print $std_font; ?><A HREF="browse.php?id=0"><? print $std_font.$MSG_287; ?></FONT></A> : <? print $TPL_categories_string; ?></FONT>
		<BR><IMG SRC="images/linea.gif" WIDTH="750" HEIGHT="6">
	</TD>
</TR>
</TABLE>
</CENTER>

