BODY {
  SCROLLBAR-BASE-COLOR: #979797;
  SCROLLBAR-ARROW-COLOR: #000000;
  SCROLLBAR-TRACK-COLOR: DarkGray;
  SCROLLBAR-SHADOW-COLOR: ;
  SCROLLBAR-FACE-COLOR: ;
  SCROLLBAR-HIGHLIGHT-COLOR:'';
  SCROLLBAR-3DLIGHT-COLOR:'';
  SCROLLBAR-DARKSHADOW-COLOR:''; 
}
