.form {
  background-color: #eeeeee;
  font-family: Verdana;
  font-size: 10px;
  color: #000066;
  border: 1px solid #90A0B0;
}

.header {
  font-size: 12px;
  font-weight: bold;
}

.red {
  color: #FF0000;
}

.lightfont {
  color: #ffffff;
}

body, td {
  font-family : Verdana,Arial,sans-serif;
  font-size : 10px;
  color : #000066;
}

pre {
  font-family: verdana,arial,monospace;
  font-size: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

a:link {
  text-decoration: none;
  color : #015885;
}

a:active {
  color: #FF0000;
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
  color : #015885;
}

a:hover {
  color: #000000;
  text-decoration: underline;
}
