H1 {

	background-color : Black;

	color : Yellow;

}



.yellow {

	background-image : url(../yellowbk.gif);

}



BODY {

	margin-left : 50px;

}



.sitedesign {

	font-size : x-small;

	font-style : italic;

}







