<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html lang="<%LANGUAGECODE%>">
<head>
  <title>SHOWlog v<%VERSION%></title>
  <meta http-equiv="VARY" content="CONTENT-LANGUAGE">
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <meta http-equiv="CONTENT-LANGUAGE" content="<%LANGUAGECODE%>">
  <meta http-equiv="CONTENT-STYLE-TYPE" content="text/css">
  <meta http-equiv="CONTENT-SCRIPT-TYPE" content="text/javascript"><%REFRESH%> 
  <meta name="AUTHOR" content="Daniel Sokoll - www.sirsocke.de">
  <meta name="DESCRIPTION" content="SHOWlog-template PRINT">
  <meta name="ROBOTS" content="none">

  <link rel="SHORTCUT ICON" href="<%TPLPATH%>favicon.ico" title="SHOWlog  v<%VERSION%>">
  <link rel="stylesheet" type="text/css" href="<%TPLPATH%>statistics.css">
</head>

<body>
<table border="0" cellspacing="0" cellpadding="0" align="left" width="600" summary="only for SHOWlog-design">
<tr><td align="center">
<b><i>SHOW<span class="log">log</span></i> v<%VERSION%></b><br>
<%CONTENT%>
</td></tr>
</table>
</body>
</html>