.mainaccount
{
	position: absolute;
	top: 22px;
	left: 8px;
	background-color: #D4D0C8;
	border-width: 2px;
	border-top-style: outset;
	border-left-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
    color: #000000;
	width: 98%;
	padding: 0px;

}

