 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
            "http://www.w3.org/TR/html4/strict.dtd">	
<html>
	<head>
	
	<meta http-equiv="Expires" content="Fri, Jun 12 1981 08:20:00 GMT">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache">
	
<title></title>

	<LINK REL="STYLESHEET" TYPE="text/css" HREF="{WWW_DIR}templates/global.css" />

<script type="text/javascript" src="{WWW_DIR}lib/formcheck.js"></script>
<script type="text/javascript" src="{WWW_DIR}events.js"></script>
<script type="text/javascript" src="{WWW_DIR}lib/popupcalendar.js"></script>

	</head>
<body onload="init();" class="colored">

<script type="text/javascript" src="{WWW_DIR}activity/activity_detail.js"></script>
<script type="text/javascript">

var reload;

{RELOAD}

if(reload)
	eval("parent.left" + parent.winid + ".location.reload();");
	
</script>

<div class="main" style="z-index: 0;">

<p align="center"><font face="arial" size="2">
<b>{MESSAGE}</b>
</font></p>

<div id="PopUpCalendar" 
onMouseOver="if(ppcTI) clearTimeout(ppcTI); ppcTI=false;" 
onMouseOut="ppcTI=setTimeout('hideCalendar()',500)"
style="display: none; z-index: 5;">
	<div id="monthSelector">
	<table border="1" cellspacing="1" cellpadding="2" width="200" bordercolorlight="#000000" bordercolordark="#000000" vspace="0" hspace="0">
	<form name="ppcMonthList">
	 <tr>
	 	<td align="center" bgcolor="#CCCCCC">
			<a href="javascript:moveMonth('Back')" onMouseOver="window.status=' ';return true;">
			<font face="Arial, Helvetica, sans-serif" size="2" color="#000000">
			<b>< </b></font>
			</a>
			<font face="MS Sans Serif, sans-serif" size="1"> 
			
			<select name="sItem" onMouseOut="if(ppcIE) window.event.cancelBubble = true;" 
			onChange="switchMonth(this.options[this.selectedIndex].value)">
				<option value="0" selected>2000 - January</option>
				<option value="1">2000 - February</option>
				<option value="2">2000 - March</option>
				<option value="3">2000 - April</option>
				<option value="4">2000 - May</option>
				<option value="5">2000 - June</option>
				<option value="6">2000 - July</option>
				<option value="7">2000 - August</option>
				<option value="8">2000 - September</option>
				<option value="9">2000 - October</option>
				<option value="10">2000 - November</option>
				<option value="11">2000 - December</option>
				<option value="0">2001 - January</option>
			</select>
			
			</font>
			<a href="javascript:moveMonth('Forward')" onMouseOver="window.status=' ';return true;">
			<font face="Arial, Helvetica, sans-serif" size="2" color="#000000">
				<b> ></b>
			</font>
			</a>
		</td>
	 </tr>
	</form>
	</table>
	</div>
	<div id="monthDays"></div>
	</div>

<form name="activity_detail" action="{PHP_SELF}?session_id={SESSION_ID}" method="post" onsubmit="return check_activity();">

<input type="hidden" name="activity_id" value="{ACTIVITY_ID}">
<input type="hidden" name="source" value="activity_detail">

<table class="form" cellspacing="5" width="375" border="0">
<tr>
 	<td class="form" align="right" valign="top" width="100">
<span class="field-titles">Description:</span>
	</td>
	<td width="5">&nbsp;</td>
	<td valign="top" class="form">
		<textarea rows="3" cols="30" class="form" style="background: #ffffff;" name="activity_desc">{ACTIVITY_DESC}</textarea>
    </td>
</tr> 
<tr>
 	<td class="form" align="right" valign="top" width="100">
<span class="field-titles">Date:</span>
	</td>
	<td width="5">&nbsp;</td>
	<td valign="top" class="form">
		<input type="text" name="event_date" size="12" value="{EVENT_DATE}">&nbsp;<img src="{WWW_DIR}templates/images/calander.gif" id="choosedate-btn" align="absmiddle">
    </td>
</tr> 

<tr>
 	<td class="form" align="right" valign="top" width="100">&nbsp;</td>
	<td width="5">&nbsp;</td>
	<td valign="top" class="form">
<input type="radio" name="is_calendar_item" value="Y" class="form"  style="background: #D4D0C8;" onclick="change_calendar_item()" {IS_CALENDAR_ITEM}><span class="field-titles">Calendar Item</span><br>
<input type="radio" name="is_calendar_item" value="Y2" class="form"  style="background: #D4D0C8;" onclick="change_calendar_item()" {IS_UNTIMED_CALENDAR_ITEM}><span class="field-titles">Untimed Calendar Item</span><br>
<input type="radio" name="is_calendar_item" value="N" class="form"  style="background: #D4D0C8;" onclick="change_calendar_item()" {NON_CALENDAR_ITEM}><span class="field-titles">To Do</span>
    </td>
</tr> 
</table>

<div id="calendar_item" style="display: none;">
<table class="form" cellspacing="5" width="375" border="0">
 <tr>
	<td class="form" align="right" valign="top" width="100">
		<span class="field-titles">Start time:</span>
	</td>
	<td width="5">&nbsp;</td>
	<td valign="top" class="form">
	<select name="starttime" class="form">
			<option value="8:00:00" {STARTTIME_8} selected>8am
			<option value="9:00:00" {STARTTIME_9}>9am
			<option value="10:00:00" {STARTTIME_10}>10am
			<option value="11:00:00" {STARTTIME_11}>11am
			<option value="12:00:00" {STARTTIME_12}>12pm
			<option value="13:00:00" {STARTTIME_13}>1pm
			<option value="14:00:00" {STARTTIME_14}>2pm
			<option value="15:00:00" {STARTTIME_15}>3pm
			<option value="16:00:00" {STARTTIME_16}>4pm
			<option value="17:00:00" {STARTTIME_17}>5pm
			<option value="18:00:00" {STARTTIME_18}>6pm
			<option value="19:00:00" {STARTTIME_19}>7pm
		</select>	
    </td>
 </tr> 
 <tr>
	<td class="form" align="right" valign="top" width="100">
		<span class="field-titles">End time:</span>
	</td>
	<td width="5">&nbsp;</td>
	<td valign="top" class="form">
		<select name="endtime" class="form">
			<option value="8:00:00" {ENDTIME_8}>8am
			<option value="9:00:00" {ENDTIME_9} selected>9am
			<option value="10:00:00" {ENDTIME_10}>10am
			<option value="11:00:00" {ENDTIME_11}>11am
			<option value="12:00:00" {ENDTIME_12}>12pm
			<option value="13:00:00" {ENDTIME_13}>1pm
			<option value="14:00:00" {ENDTIME_14}>2pm
			<option value="15:00:00" {ENDTIME_15}>3pm
			<option value="16:00:00" {ENDTIME_16}>4pm
			<option value="17:00:00" {ENDTIME_17}>5pm
			<option value="18:00:00" {ENDTIME_18}>6pm
			<option value="19:00:00" {ENDTIME_19}>7pm
		</select>	
    </td>
 </tr> 
</table>
</div>


<div id="non_calendar_item" style="display: none;">

<table class="form" cellspacing="5" width="375" border="0">
 <tr>
 	<td class="form" align="right" valign="top" width="100">
		<span class="field-titles">Priority:</span>
	</td>
	<td width="5">&nbsp;</td>
	<td valign="top" class="form">
		<select name="priority" class="form">
			<option value="1" {PRIORITY_1}>1</option>
			<option value="2" {PRIORITY_2}>2</option>
			<option value="3" {PRIORITY_3}>3</option>
			<option value="4" {PRIORITY_4}>4</option>
			<option value="5" {PRIORITY_5}>5</option>
		</select>
    </td>
 </tr> 
</table>

</div>

<table class="form" cellspacing="5" width="375" border="0">
 <tr>
 	<td class="form" align="right" valign="top" width="100">&nbsp;
	</td>
	<td width="5">&nbsp;</td>
	<td valign="top" class="form">
		<input type="submit" name="action" value="  OK  " class="form" style="background: #D4D0C8;" />
		<input type="{ACTION2}" name="action" value="{ACTION2_LABEL}" class="form" style="background: #D4D0C8;" />
    </td>
 </tr> 
</table>
</form>

</div>

<script type="text/javascript">
// input field target
ppcSV = document.activity_detail.event_date;
addevent(document.getElementById('choosedate-btn'),"click",makecalendar,true);
</script>


</body>
</html>