<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN"
            "http://www.w3.org/TR/html4/frameset.dtd">
<HTML>
<HEAD>
<TITLE>Relata(tm) 0.3.0</TITLE>
</HEAD>

<FRAMESET rows="51,*,35" frameborder="0" framespacing="0" border="0">
	<FRAME src="main_frame_a.php?session_id={SESSION_ID}" name="a" marginwidth="0" marginheight="0" scolling="no" noresize/>
    <FRAME src="main_frame_b.php?session_id={SESSION_ID}" name="b" marginwidth="0" marginheight="0" scrolling="no" noresize/>
	<FRAME src="main_frame_c.php?session_id={SESSION_ID}" name="c" marginwidth="0" marginheight="0" scrolling="no" noresize/>
</FRAMESET>
</HTML>
