<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

<meta http-equiv="Expires" content="Fri, Jun 12 1981 08:20:00 GMT">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">

<link rel="stylesheet" type="text/css" href="{WWW_DIR}templates/global.css">
<link rel="stylesheet" type="text/css" href="{WWW_DIR}templates/contact.css">

<title>
Deleting
</title>

<script type="text/javascript">
// focus the window
window.focus();
setTimeout('window.close()',4000);
</script>

</head>
<body bgcolor="#496088">

<div class="contact_delete">

<table border="0" align="center" width="100%">
  <tr>
	<td><img src="{WWW_DIR}templates/images/alert.gif" width="32" height="32" border="0">&nbsp;&nbsp;&nbsp;</td>
	<td><span class="field-titles">Deleting contact and associated account...</span></td>
 </tr>
</table>

</form>

</div>

</body>
</html>