<HTML>
<head>

<link rel="stylesheet" type="text/css" href="{WWW_DIR}templates/global.css">

</head>
<body class="colored">
<div class="main">
<table class="form" cellpadding="5" width="100%" border="0">
	<tr>
		<td class="form" valign="bottom"><span class="subtitle-text-groups">Group Name</span></td>
		<td class="form" valign="bottom"><span class="subtitle-text-groups">Description</span></td>
		<td class="form" valign="bottom" align="center"><span class="subtitle-text-groups">Contacts With Email</span></td>
		<td class="form" valign="bottom">&nbsp;</td>
	</tr>
	{GROUPS}
	</table>
</div>

</body>
</HTML>
