<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN"
   "http://www.w3.org/TR/html4/frameset.dtd">
<HTML>
<HEAD>
<TITLE></TITLE>
</HEAD>

<script type="text/javascript">
winid = {WINID};

// stores the history for the back / forward buttons
var btnhistory = new Array;

// stores the array element corresponding with 'curbtn'
var btnhistory_cnt = 0;

// stores the button id that we are currently on
var curbtn;

// get the www dir
var www_dir = "{WWW_DIR}";

// record if the page is just being loaded
var firstbtn = true;

</script>

<frameset rows="20,*" border="0" frameborder="0" framespacing="0">
	<frame src="{WWW_DIR}toolbar_buttons_groupemail.htm" name="toolbar" scrolling="no" marginheight="0" marginwidth="0">
	<frame src="{WWW_DIR}group_email/group_email.php?session_id={SESSION_ID}" name="main{WINID}" scrolling="no" marginheight="0" marginwidth="0">
</frameset>

</HTML>
