 <!--DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
 "http://www.w3.org/TR/html4/strict.dtd"-->
<html>
<head>
<title>
</title>

<LINK REL="STYLESHEET" TYPE="text/css" HREF="{WWW_DIR}templates/global.css">
<LINK REL="STYLESHEET" TYPE="text/css" HREF="{WWW_DIR}templates/group-email.css">


</head>
<body class="colored">

<div class="groupemail">

 <center>
<table width="350" cellpadding="5">
 <tr> 
 <form method="post" action="{FORM_URL}">	
 	<td align="center">
	<span class="grouptext">Your <span class="field-titles">Group Email send out</span> has been initiated, please click on <span class="field-titles">'View Group Email Logs'</span> to view the send out status.</span>
 	</td>	
 </tr>
 <tr> 
 	<td align="center">
	<input type="submit" value="  ok  " class="form" style="background: #D4D0C8;">
 	</td>	
 </tr>
 </form>	
</table>

</div>
</body>
</html>