<html>
<head>
	<title>Untitled</title>
	
<meta http-equiv="Expires" content="Fri, Jun 12 1981 08:20:00 GMT">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
	
</head>

<body>

<script type="text/javascript">
location.href="main.php?session_id={SESSION_ID}";

window.open('main.php?session_id={SESSION_ID}','popup','directories=no,resizable=yes,location=no,menubar=no,scrollbars=no,toolbar=no,left=0,top=0');
location.href="http://www.relata.org";

</script>

</body>
</html>
