<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN"
   "http://www.w3.org/TR/html4/frameset.dtd">
<HTML>
<HEAD>
<TITLE></TITLE>
</HEAD>

<script type="text/javascript">
// the window id
winid = {WINID};

// get the www dir
var www_dir = "{WWW_DIR}";


</script>

<FRAMESET rows="{HEIGHT}, *" border="0" frameborder="0" framespacing="0">
	<FRAME src="{TOOLBAR}" frameborder="0" name="toolbar{WINID}" marginwidth="0" marginheight="0" target="main{WINID}" noresize/>
	<FRAME src="{MAIN}" frameborder="0" name="main{WINID}" marginwidth="0" marginheight="0" />
</FRAMESET>

</HTML>