<style>
<!--
input, option
        {
                border-color:#3C3C3C;
                border-width:1;
                font-family:tahoma,verdana, Helvetica;
                font-size:11;
                background-color:#ffffff;
                color:#3C3C3C;
        }
        select
        {
                border-color:#3C3C3C;
                border-width:1;
                font-family:Arial, Helvetica;
                font-size:11px;
                color:#3C3C3C;
                overflow-color:#000000;
                background-color:#FFFFFF;
        }
        textarea
        {
                border-color:#3C3C3C;
                border-width:1;
                font-family:tahoma,Arial, Helvetica;
                font-size:12;
                color:#000000;
                background-color:#ffffff;
        }
input.submit {
   background-color: #ffffff;
   font-weight: bold;
   font-size:16;
  }

body {font-family:Verdana, Geneva, Arial, Helvetica, sans-serif; font-size:11px; background-color: #FFFFFF;}
td.main {font-family:Verdana, Geneva, Arial, Helvetica, sans-serif; font-size:11px; color: #000000; background-color: #FFFFFF; }
td.title {font-family:Verdana, Geneva, Arial, Helvetica, sans-serif; font-size:12px; color: #000000; background-color: #C7CEDE; font-weight: bold; padding-left: 5px;}
td.mainbold {font-family:Verdana, Geneva, Arial, Helvetica, sans-serif; font-size:11px; color: #000000; font-weight: bold; background-color: #FFFFFF; }
td.hover {font-family:Verdana, Geneva, Arial, Helvetica, sans-serif; font-size:11px; color: #000000; }
.attn2 {font-family:Verdana, Geneva, Arial, Helvetica, sans-serif; font-size:11px; color: #FF0000; background-color: #FFFFFF; }
.attn {font-family:Verdana, Geneva, Arial, Helvetica, sans-serif; font-size:11px; font-weight: bold; color: #FF0000; background-color: #FFFFFF; }
td.bg {font-family:Verdana, Geneva, Arial, Helvetica, sans-serif; font-size:11px; font-weight: bold; color: #FFFFFF; background-color: #435889; }
table.main {font-family:Verdana, Geneva, Arial, Helvetica, sans-serif; font-size:11px; background-color: #B6B6B6; }
table.outline {font-family:Verdana, Geneva, Arial, Helvetica, sans-serif; font-size:11px; background-color: #000000; }
.highlight { background-color: #FFFE8B; font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px; color: #000000;}
.t0i {	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px; color: #000000; background-color: #ffffff; text-decoration: none;	}
.t0im {	border: 0px; width: 19px; height: 16px; }
td {color: #ffffff; font-family: Tahoma, Verdana; font-size: 11px}

table.root { background: #002397; }
table.over { background: #A7ADC2; }
td.sidebar { background: #A7ADC2; }
td.bgbar { background: #C9D0E6; }



a.links:active {  text-decoration: none; color: #4B78AF; }
a.links:link {  text-decoration: none; color: #4B78AF; }
a.links:visited {  text-decoration: none; color: #4B78AF; }
a.links:hover {  text-decoration: underline; color: #21334A; }

a.dlinks:active {  text-decoration: none; color: #C5C5C6; }
a.dlinks:link {  text-decoration: none; color: #C5C5C6; }
a.dlinks:visited {  text-decoration: none; color: #C5C5C6; }
a.dlinks:hover {  text-decoration: underline; color: #ffffff; }

a.hlinks:active {  text-decoration: none; color: #21334A; }
a.hlinks:link {  text-decoration: none; color: #21334A;}
a.hlinks:visited {  text-decoration: none; color: #21334A; }
a.hlinks:hover {  text-decoration: underline; color: #000000;}

/* Style for a block - DIV */
.m0table {
        color: #ffffff;
	background: #435889;
}
/* Style for outer tag, mout (mouse out) state */
.m0mouto {
        color: #ffffff;
	background: #435889;
}
.m1table {
        color: #ffffff;
	background: #435889;
}
/* Style for outer tag, mover (mouse over) state */
.m0movero {
        color: #C4E7FF;
        text-decoration: underline;
}
.m1movero {
        color: #C4E7FF;
        text-decoration: underline;
}
/* Style for outer tag, mdown (mouse down) state */
.m0mdowno {
	background: #ffffff;
}
/* Style for inner tag, mover (mouse over) state */
.m0inner {

        font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 1px;

}
.m0inner1 {
        font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 2px;
	border: 1px solid black;

}

.m0inner2 {
        font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border-left: 1px solid black;
	padding: 2px;

}
-->

</style>


